﻿@model SharedErp.Areas.Security.Models.VettersTransactionDTO

@{
    ViewData["Title"] = "CompanyInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = User;
}


@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}



<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Edit Vetter List
            </h3>

            <div class="kt-subheader__group" id="kt_subheader_search">   </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/NationFleets/Route/Index" class="btn btn-default btn-bold">
                Back
            </a>


            <div class="btn-group">
                <a href="#" class="btn btn-brand btn-bold">
                    Options
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" id="txth" name="user" value="" />
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">


                    <div class="col-lg-1">

                    </div>

                    <div class="col-lg-2">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <div class="col-lg-12" style="padding-bottom:7px;">
                                <input type="text" placeholder="RefCode or Client Email" class="form-control " id="ReferenceCode" />
                                <div class="form-control-feedback"><span asp-validation-for="ReferenceCode"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <label class="col-lg-3 col-form-label" for="FromDate"> From:</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control FromDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-3 col-form-label" for="ToDate"> To :</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control ToDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">


                        <a id="btnSearch" onclick="SearchClick();" class="btn btn-danger btn-bold">
                            Search Vettee
                        </a>



                    </div>



                </div>

            </div>

        </div>

        <div class="kt-portlet kt-portlet--tabs">

            <div class="kt-portlet__body">


                <input type="hidden" id="txtSearch" name="user" value="" />

                <div class="tab-content">
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin: Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">

                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        Vetters Transactions
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin:  Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>


                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                        Sucesfully Saved
                                                    </div>
                                                    <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Ref Code</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">VetService</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">VetDays</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">vetStOne</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">vetStTwo</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">vetStThree</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">vetStfour</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">vetStfive</th>
                                                                <th style="background-color: white;  color: black;font-weight: bold; font-size: 14px;">Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Route Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--End:  Trips Rows  -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>


<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>

<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">All Vetters Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">

                <table class="table table-bordered">

                    <tr>
                        <td style="width: 30%">Assigned To</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:assignedBy}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">VetStOne</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:tenantId}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">VetStOneBy</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:vetStOneBy}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">VetStOneDate</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:vetStOneDate}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">VetStTwo</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:tenantId}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">VetStTwoBy</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:vetStTwoBy}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">VetStTwoDate</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:vetStTwoDate}}</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>
<!-- BEgin:: Vet form -->
<div class="modal modal-xl fade col-xs-12" id="VetterFormModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Vetter Conclusion Form </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body ">

                <input type="hidden" id="VetteeListIDs" />
                <div class="modal-body ">
                    <form action="" enctype="multipart/form-data"   id="form" name="form"  method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="VetGeoLink">VetGeoLink:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" placeholder="Enter GeoLink" class="form-control" id="VetGeoLink" />
                                        </div>
                                        <label class="col-lg-4 col-form-label" for="VetOwnerStatus">VetOwnerStatus:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <select id="VetOwnerStatus" class="form-control m-input">
                                                <option value="">Select Status:</option>
                                            </select>

                                        </div>
                                        <label class="col-lg-4 col-form-label" for="VetPeriodOfstay">VetPeriodOfstay:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" placeholder="Enter VetPeriodOfstay" class="form-control" id="VetPeriodOfstay" />

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="VetGuardians">Guardians:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" placeholder="Enter Guardian" class="form-control" id="VetGuardians" />

                                        </div>

                                        <label class="col-lg-4 col-form-label" for="VettersRemarks">Remarks:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" placeholder="Enter VettersRemarks" class="form-control" id="VettersRemarks" />

                                        </div>
                                        <label class="col-lg-4 col-form-label" for="Photo">Upload Pics:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">

                                            <input class="form-control m-input" type="file" id="Photo" name="Photo">

                                            @*<input id="files" name="files" type="file" size="1" />*@
                                        </div>
                                        <label class="col-lg-4 col-form-label" for="Video">Upload Video:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">

                                            @*<input class="form-control m-input" type="file" id="Video">*@
                                            <input class="form-control m-input" type="file" id="Video" name="Video">
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                
            </div>

            <div>

                <div class="modal-footer" style="width:100%;">
                    <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                    <button id="submitUpdateForm" class="btn btn-success" onclick="VetterSave();" type="button"> Save </button>
                </div>
                <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                    <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                        <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                    </span>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- end::   Vet Form  -->
<!-- BEgin:: Employee Modal Form goes here -->
<div class="modal fade col-xs-12" id="AssignFormModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Assign Employee for this VET</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="txtVettransid" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">

                                <div class="form-group">
                                    <label class="form-label"> Vetters: </label>
                                    @Html.DropDownListFor(model => model.AssignedBy, new SelectList(Enumerable.Empty<SelectListItem>()), "Select A Vetter", new { @id = "EmployeeId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2", onchange = "MyFunction()" })
                                    <div class="form-control-feedback"><span asp-validation-for="AssignedBy"></span></div>
                                </div>


                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="btnVetAction();" type="button"> Update </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="# style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Employee Modal Form  -->



<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>




@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script>

        var str = "";
        var dateTo = "";
        var datefrom = "";

        jQuery(document).ready(function () {
            // fetch data from parameter attached to the redirected url
                str = '@TempData["vStext"]';
                datefrom = '@TempData["vdatefrom"]';
               dateTo = '@TempData["vdateto"]';


            document.getElementById("txtSearch").value = str;
            // launch datatable with params
            DatatablesBasic.init(str, datefrom, dateTo)
           });

        var DatatablesBasic = {
            init: function (str, datefrom, dateTo) {
                // destroy or clear existing loaded data
                if ($.fn.DataTable.isDataTable("#m_table_1")) {
                    $('#m_table_1').DataTable().clear().destroy();
                }
                // fetch new data
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: {
                        "url": '/security/vettrans/getdata/?fromDate=' + datefrom + '&toDate=' + dateTo + '&Str=' + str,
                        "type": "POST"
                    },
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "referenceCode"
                        },
                        {
                            bSortable: false,
                            data: "vetService"
                        },
                        {
                            bSortable: false,
                            data: "toVetDaysCount"
                        },
                        {
                        bSortable: false,
                        render: function (a, t, data, n) {
                            debugger;
                            var ptd = parseInt(data.vetStOne);
                            switch (ptd) {
                                case 1: return "@SHB.Core.Entities.Enums.VetterStatus.Assigned.ToString()";
                                    break;
                                case 2: return "@SHB.Core.Entities.Enums.VetterStatus.Accepted.ToString()";
                                    break;
                                case 3: return "@SHB.Core.Entities.Enums.VetterStatus.InTransit.ToString()";
                                    break;
                                case 4: return "@SHB.Core.Entities.Enums.VetterStatus.Available.ToString()";
                                    break;
                                case 5: return "@SHB.Core.Entities.Enums.VetterStatus.Concluded.ToString()";
                                    break;
                                case 6: return "@SHB.Core.Entities.Enums.VetterStatus.Cancelled.ToString()";
                                    break;
                                case 7: return "@SHB.Core.Entities.Enums.VetterStatus.Accidented.ToString()";

                                    break;
                                default:
                                    return "NA";
                            }

                        }

                    },
                      {
                        bSortable: false,
                        render: function (a, t, data, n) {
                            debugger;
                            var ptd = parseInt(data.vetStTwo);
                            switch (ptd) {
                                case 1: return "@SHB.Core.Entities.Enums.VetterStatus.Assigned.ToString()";
                                    break;
                                case 2: return "@SHB.Core.Entities.Enums.VetterStatus.Accepted.ToString()";
                                    break;
                                case 3: return "@SHB.Core.Entities.Enums.VetterStatus.InTransit.ToString()";
                                    break;
                                case 4: return "@SHB.Core.Entities.Enums.VetterStatus.Available.ToString()";
                                    break;
                                case 5: return "@SHB.Core.Entities.Enums.VetterStatus.Concluded.ToString()";
                                    break;
                                case 6: return "@SHB.Core.Entities.Enums.VetterStatus.Cancelled.ToString()";
                                    break;
                                case 7: return "@SHB.Core.Entities.Enums.VetterStatus.Accidented.ToString()";

                                    break;
                                default:
                                    return "NA";
                            }

                        }

                    },
                           {
                        bSortable: false,
                        render: function (a, t, data, n) {
                            debugger;
                            var ptd = parseInt(data.vetStThree);
                            switch (ptd) {
                                case 1: return "@SHB.Core.Entities.Enums.VetterStatus.Assigned.ToString()";
                                    break;
                                case 2: return "@SHB.Core.Entities.Enums.VetterStatus.Accepted.ToString()";
                                    break;
                                case 3: return "@SHB.Core.Entities.Enums.VetterStatus.InTransit.ToString()";
                                    break;
                                case 4: return "@SHB.Core.Entities.Enums.VetterStatus.Available.ToString()";
                                    break;
                                case 5: return "@SHB.Core.Entities.Enums.VetterStatus.Concluded.ToString()";
                                    break;
                                case 6: return "@SHB.Core.Entities.Enums.VetterStatus.Cancelled.ToString()";
                                    break;
                                case 7: return "@SHB.Core.Entities.Enums.VetterStatus.Accidented.ToString()";

                                    break;
                                default:
                                    return "NA";
                            }

                        }

                    },
                           {
                        bSortable: false,
                        render: function (a, t, data, n) {
                            debugger;
                            var ptd = parseInt(data.vetStfour);
                            switch (ptd) {
                                case 1: return "@SHB.Core.Entities.Enums.VetterStatus.Assigned.ToString()";
                                    break;
                                case 2: return "@SHB.Core.Entities.Enums.VetterStatus.Accepted.ToString()";
                                    break;
                                case 3: return "@SHB.Core.Entities.Enums.VetterStatus.InTransit.ToString()";
                                    break;
                                case 4: return "@SHB.Core.Entities.Enums.VetterStatus.Available.ToString()";
                                    break;
                                case 5: return "@SHB.Core.Entities.Enums.VetterStatus.Concluded.ToString()";
                                    break;
                                case 6: return "@SHB.Core.Entities.Enums.VetterStatus.Cancelled.ToString()";
                                    break;
                                case 7: return "@SHB.Core.Entities.Enums.VetterStatus.Accidented.ToString()";

                                    break;
                                default:
                                    return "NA";
                            }

                        }

                    },
                        {
                        bSortable: false,
                        render: function (a, t, data, n) {
                            debugger;
                            var ptd = parseInt(data.vetStfive);
                            switch (ptd) {
                                case 1: return "@SHB.Core.Entities.Enums.VetterStatus.Assigned.ToString()";
                                    break;
                                case 2: return "@SHB.Core.Entities.Enums.VetterStatus.Accepted.ToString()";
                                    break;
                                case 3: return "@SHB.Core.Entities.Enums.VetterStatus.InTransit.ToString()";
                                    break;
                                case 4: return "@SHB.Core.Entities.Enums.VetterStatus.Available.ToString()";
                                    break;
                                case 5: return "@SHB.Core.Entities.Enums.VetterStatus.Concluded.ToString()";
                                    break;
                                case 6: return "@SHB.Core.Entities.Enums.VetterStatus.Cancelled.ToString()";
                                    break;
                                case 7: return "@SHB.Core.Entities.Enums.VetterStatus.Accidented.ToString()";

                                    break;
                                default:
                                    return "NA";
                            }

                        }

                    },
                     {
                            bSortable: false,
                         render: function (a, t, n) {
                             var Act1 = "1";
                             var Act2 = "2";
                             var Act3 = "3";
                             var Act4 = "4";
                             var Act5 = "5";
                             var hasCanAssignVet = `@user.HasClaim("Permission", "CanAssignVet")`
                             if (n.vetStOne == "0" && n.vetStTwo == "0" && n.vetStThree == "0" && n.vetStfour == "0" && n.vetStfive == "0" && hasCanAssignVet == "True") {
                                    return `\n <span class="dropdown">\n
                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>
                \n<div class="dropdown-menu dropdown-menu-right">
              \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>

           \n <a class="dropdown-item " onclick="btnVetAssign('`+ n.id + `','` + Act1 + `');"><i class="la la-edit"></i> Assigned</a>

                                                                        \n </div>
                                                                    \n </span>\n`
                                }
                             else if (n.vetStOne == "1" && n.vetStTwo == "0" && n.vetStThree == "0" && n.vetStfour == "0" && n.vetStfive == "0" && hasCanAssignVet == "True") {
                                    return `\n <span class="dropdown">\n
                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                <div class="dropdown-menu dropdown-menu-right">
                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>

\n <a class="dropdown-item " onclick="btnVetAction('`+ n.id + `','` + Act2 + `');"><i class="la la-edit"></i> Accept</a>

                                                                        \n </div>
                                                                    \n </span>\n`
                                }
                             else if (n.vetStOne == "1" && n.vetStTwo == "2" && n.vetStThree == "0" && n.vetStfour == "0" && n.vetStfive == "0" && hasCanAssignVet == "True") {
                                    return `\n <span class="dropdown">\n
                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                <div class="dropdown-menu dropdown-menu-right">
                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>

\n <a class="dropdown-item " onclick="btnVetAction('`+ n.id + `','` + Act3 + `');"><i class="la la-edit"></i> Intransit</a>

                                                                        \n </div>
                                                                    \n </span>\n`
                                }
                             else if (n.vetStOne == "1" && n.vetStTwo == "2" && n.vetStThree == "3" && n.vetStfour == "0" && n.vetStfive == "0" && hasCanAssignVet == "True") {
                                    return `\n <span class="dropdown">\n
                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                <div class="dropdown-menu dropdown-menu-right">
                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>

\n <a class="dropdown-item " onclick="btnVetAction('`+ n.id + `','` + Act4 + `');"><i class="la la-edit"></i> Available</a>

                                                                        \n </div>
                                                                    \n </span>\n`
                                }
                             else if (n.vetStOne == "1" && n.vetStTwo == "2" && n.vetStThree == "3" && n.vetStfour == "4" && n.vetStfive == "0" && hasCanAssignVet == "True") {
                                    return `\n <span class="dropdown">\n
                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                <div class="dropdown-menu dropdown-menu-right">
                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
    \n <a class="dropdown-item" onclick="FormClick(\'` + n.vetteeListID + `\');"  ><i class="la la-leaf"></i> Fill form</a>
\n <a class="dropdown-item " onclick="btnVetAction('`+ n.id + `','` + Act5 + `');"><i class="la la-edit"></i> Conclude</a>

                                                                        \n </div>
                                                                    \n </span>\n`
                                }
                                else {
                                    return `\n <span class="dropdown">\n
                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                <div class="dropdown-menu dropdown-menu-right">
                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>



                                                                        \n </div>
                                                                    \n </span>\n`
                                }
                            }
                        }


                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });

                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });

                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                });
            }
        };
        function modify(data) {
            var routeId = data;
            var url = "/Security/VetTrans/Index?routeId=" + routeId;
            window.location.href = url;

        }
        function SearchClick() {
            var str = $('#ReferenceCode').val();
            var fromDate = $('.FromDate').val();
            var toDate = $('.ToDate').val();
            var url = '/security/vettrans/Index?Stext=' + str + '&fromDate=' + fromDate + '&toDate=' + toDate;
            window.location.href = url;

        }

          var ctt = null;
        var RtType = null;

        function btnVetAssign(ctt, RtType) {

            DropEmployee.init();
            $('#txtVettransid').val(ctt);

            $('#AssignFormModal').modal();
            $('#AssignFormModal').modal('show');

        }

        function FormClick(data) {
            var vetteeListID = data;
            $('#VetteeListIDs').val(vetteeListID);
            $.ajax({
                url: "/Security/VetTrans/Update",
                data: {
                    id: vetteeListID
                },
                success: function (response) {
                    $('#VetterFormModal').modal();
                    $('#VetterFormModal').modal('show');
                },
                error: function (response) {

                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }


        //this part is handling the vetters action on the field
        function btnVetAction(ctt, RtType) {
            var csrf = $("input[name='__RequestVerificationToken']").val();
            var vEmployeeId = $('#EmployeeId').val();
            var Vettransid = $('#txtVettransid').val();

            if (vEmployeeId != "") {
                ctt = Vettransid;
                RtType = '1';
            }

            $.ajax({
                method: "POST",
                //headers: {
                //    "RequestVerificationToken": csrf
                //},
                url: "/security/vettrans/vetteractionto/?id=" + ctt + "&ActionType=" + RtType,
                data: {
                    EmployeeId: vEmployeeId,
                },
                success: function (response) {
                    location.reload();
                },
                error: function (response) {
                    table.row(tr).remove().draw(true);
                    swal('failed the selected record');
                }
            });
        }



        function VetterSave() {


            var input = document.getElementById("Photo");
            var inputb = document.getElementById("Video");
            var files = input.files;
            var filesb = inputb.files;
            var formData = new FormData();

            for (var i = 0; i != files.length; i++) {               
                formData.append("Id", $("#VetteeListIDs").val());
                formData.append("VetGeoLink", $("#VetGeoLink").val());
                formData.append("VetOwnerStatus", $("#VetOwnerStatus").val());
                formData.append("VetGuardians", $("#VetGuardians").val());
                formData.append("DepartureTime", $("#DepartureTime").val());
                formData.append("VettersRemarks", $("#VettersRemarks").val());
                formData.append("VetVideoUpload", $("#VetVideoUpload").val());
                formData.append("VetPeriodOfstay", $("#VetPeriodOfstay").val());
                formData.append("Photo", files[i]);
                formData.append("Video", filesb[i]);
            }
       

            $.ajax(
                {
                    url: "/Security/VetTrans/VetterSave",
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (data) {
                        alert("Saved and Files Uploaded!");
                    }
                }
            );

        }



           var DropEmployee = {
               init: function () {
                   var url = '/Admin/Acct/FetchDetailDropDown?dropdesc=EmployeeList';

                   $.get(url,
                    function (response) {
                        var availabledata = response.data;
                        $("#EmployeeId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#EmployeeId").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $("#EmployeeId").select2({
                            placeholder: "Select.. option"
                        });



                    });
            }
        }
    </script>

}