﻿
@{
    ViewData["Title"] = "Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

    IEnumerable<SharedErp.Areas.Admin.Models.FeedBackDTO> Feedback = ViewData["Complaint"] as IEnumerable<SharedErp.Areas.Admin.Models.FeedBackDTO>;
    IEnumerable<SharedErp.Areas.Admin.Models.FeedBackResponseDTO> FeedbackResponse = ViewData["Response"] as IEnumerable<SharedErp.Areas.Admin.Models.FeedBackResponseDTO>;
}

<div style="padding-top:30px;" class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content -->
    <div class="row">
        <input type="hidden" id="RouteId" />

        <div class="col-lg-1">

        </div>
        <div class="col-lg-2">
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                @*<label class="col-lg-4 col-form-label" for="LoaderFee"> Ref or Email</label>*@
                <div class="col-lg-12" style="padding-bottom:7px;">
                    <input type="text" asp-for="LoaderFee" placeholder="Name or Ref or Email" class="form-control" id="RouteLoaderFee" />
                    <div class="form-control-feedback"><span asp-validation-for="LoaderFee"></span></div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                <label class="col-lg-3 col-form-label" for="RouteType"> From:</label>
                <div class="col-lg-9" style="padding-bottom:7px;">
                    <div class="m-input-icon m-input-icon--right">

                        <div class="input-group date">
                            @*date-format="D, dd MM yyyy"*@
                            <input type="text" class="form-control" asp-for="TransactionDate" readonly id="kt_datepicker_3" />
                            <div class="input-group-append">
                                <span asp-validation-for="TransactionDate" class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                <label class="col-lg-3 col-form-label" for="DepartureTerminalId"> To :</label>
                <div class="col-lg-9" style="padding-bottom:7px;">
                    <div class="m-input-icon m-input-icon--right">

                        <div class="input-group date">
                            @*date-format="D, dd MM yyyy"*@
                            <input type="text" class="form-control" asp-for="TransactionDate" readonly id="kt_datepicker_3" />
                            <div class="input-group-append">
                                <span asp-validation-for="TransactionDate" class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                <a href="" id="bthSaveAll" onclick="routeSave();" class="btn btn-danger btn-bold">
                    Search
                </a>


            </div>
        </div>



    </div>

    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_chat_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->
            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside kt-app__aside--lg kt-app__aside--fit" id="kt_chat_aside">
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--last">
                    <div class="kt-portlet__body">
                 
                        <div class="kt-widget kt-widget--users ">
                            <div class="kt-scroll kt-scroll--pull">

                                @foreach (SharedErp.Areas.Admin.Models.FeedBackDTO fbk in Feedback)
                                {
                                    <div class="kt-widget__items">
                                        <div class="kt-widget__item">
                                            <span class="kt-userpic kt-userpic--circle">
                                                <img src="~/assets/media/users/300_9.jpg" alt="image">
                                            </span>
                        <div class="kt-widget__info">
                            <div class="kt-widget__section">
                                <a href="#" class="kt-widget__username">@fbk.FullName</a>
                                <span class="kt-badge kt-badge--success kt-badge--dot"></span>
                            </div>

                <span class="kt-widget__desc">
                    Priority Level:: <span class="kt-chat__label  "> @fbk.PriorityLevel</span>
                </span>
                                            </div>
                                            <div class="kt-widget__action">
                                 <span class="kt-widget__date">@fbk.TransDate</span>
                                                @*<span class="kt-badge kt-badge--success kt-font-bold">7</span>*@
                                            </div>
                                        </div>
                                    </div>

                                }



                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
            <!--End:: App Aside-->
            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content" id="kt_chat_content">
                <div class="kt-chat">
                    <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                        <div class="kt-portlet__head">
                            <div class="kt-chat__head ">
                                <div class="kt-chat__left">
                                    <!--begin:: Aside Mobile Toggle -->
                                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                                        <i class="flaticon2-open-text-book"></i>
                                    </button>
                                    <!--end:: Aside Mobile Toggle-->

                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="flaticon-more-1"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-md">
                                            <!--begin::Nav-->
                                            <ul class="kt-nav">

                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                                        <span class="kt-nav__link-text">Calls</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                                                        <span class="kt-nav__link-text">Settings</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-protected"></i>
                                                        <span class="kt-nav__link-text">Help</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                                        <span class="kt-nav__link-text">Privacy</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Nav-->
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-chat__center">
                                    <div class="kt-chat__label">
                                        <a href="#" class="kt-chat__title">Jason Muller</a>
                                        <span class="kt-chat__status">
                                            <span class="kt-badge kt-badge--dot kt-badge--success"></span> Active
                                        </span>
                                    </div>

                                    <div class="kt-chat__pic kt-hidden">
                                        <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Jason Muller" data-original-title="Tooltip title">
                                            <img src="assets/media/users/300_12.jpg" alt="image">
                                        </span>
                                        <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Nick Bold" data-original-title="Tooltip title">
                                            <img src="assets/media/users/300_11.jpg" alt="image">
                                        </span>
                                        <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Milano Esco" data-original-title="Tooltip title">
                                            <img src="assets/media/users/100_14.jpg" alt="image">
                                        </span>
                                        <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Teresa Fox" data-original-title="Tooltip title">
                                            <img src="assets/media/users/100_4.jpg" alt="image">
                                        </span>
                                    </div>
                                </div>

                                <div class="kt-chat__right">
                                    <div class="dropdown dropdown-inline">
                                        <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="flaticon2-add-1"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">
                                            <!--begin::Nav-->
                                            <ul class="kt-nav">
                                                <li class="kt-nav__head">
                                                    Messaging
                                                    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-group"></i>
                                                        <span class="kt-nav__link-text">New Group</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                                        <span class="kt-nav__link-text">Contacts</span>
                                                        <span class="kt-nav__link-badge">
                                                            <span class="kt-badge kt-badge--brand  kt-badge--rounded-">5</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                                        <span class="kt-nav__link-text">Calls</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                                                        <span class="kt-nav__link-text">Settings</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-protected"></i>
                                                        <span class="kt-nav__link-text">Help</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__foot">
                                                    <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                                                    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                                </li>
                                            </ul>
                                            <!--end::Nav-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                          <div class="kt-portlet__body">
                          <div class="kt-scroll kt-scroll--pull" data-mobile-height="300">
                         <div class="kt-chat__messages">
                             <div class="kt-chat__message">
                                 @*@foreach (SharedErp.Areas.Admin.Models.FeedBackResponseDTO fbkRes in FeedbackResponse.Where(x => x.ComplaintID == 1))
                                 { }*@
                                 <div class="kt-chat__user">
                                     <span class="kt-chat__datetime">30 Seconds</span>
                                     <span> Client. </span>
                                     <span class="kt-chat__datetime">2 Hours</span>
                                 </div>
                                     <div class="kt-chat__text kt-bg-light-success">
                                         Waiting?
                                     </div>
                               

                             </div>

          
                        <div class="kt-chat__message kt-chat__message--right">

                            @foreach (SharedErp.Areas.Admin.Models.FeedBackResponseDTO fbkRes in FeedbackResponse)
                            {
                            <div class="kt-chat__user">
                                <span class="kt-chat__datetime">@fbkRes.CreationTime</span>
                                <span> You</span>
                                @*<a href="#" class="kt-chat__username">You</span></a>*@
                                @*<span class="kt-userpic kt-userpic--circle kt-userpic--sm">
                                    <img src="assets/media/users/300_21.jpg" alt="image">
                                </span>*@
                            </div>
                            <div class="kt-chat__text kt-bg-light-brand">
                                @fbkRes.EmployeeMessage
                            </div>

                            }

                        </div>


                                </div>
                            </div>
                        </div>

                        <div class="kt-portlet__foot">
                            <div class="kt-chat__input">
                                <div class="kt-chat__editor">
                                    <textarea style="height: 50px" placeholder="Type here..."></textarea>
                                </div>
                                <div class="kt-chat__toolbar">
                                    <div class="kt_chat__tools">
                                        <a href="#"><i class="flaticon2-link"></i></a>
                                        <a href="#"><i class="flaticon2-photograph"></i></a>
                                        <a href="#"><i class="flaticon2-photo-camera"></i></a>
                                    </div>
                                    <div class="kt_chat__actions">
                                        <button type="button" class="btn btn-brand btn-md btn-upper btn-bold kt-chat__reply">reply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>



@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>

        jQuery(document).ready(function () {
            DatatablesBasicBasic.init();
            DatatablesBasicBasic2.init();
            DatatablesBasicBasic3.init();
            DatatablesBasicBasic4.init();
            DatatablesBasicBasic5.init();

        });

        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            };
            return {
                init: function () {
                    $("#payDate").datepicker({/*, #EndDate*/
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#ModalPaytype, #Modalpaydescript").select2({
                        placeholder: "Select an appropriate option"
                    })
                }
            }
        }();


    </script>


}
