<div [className]="showSideBar ? 'relative min-h-screen md:flex' : ''">
    <app-side-bar [currentPage]="currentPage" *ngIf="showSideBar"></app-side-bar>
    <div [className]="showSideBar ? 'content flex-1' : ''">
        <router-outlet></router-outlet>
    </div>
</div>
