﻿@model SharedErp.Models.RequisitionHeaderDTO

<div class="tab-content">
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                @*conmmit*@
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label">Code</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="Code" class="form-control" asp-for="Code" placeholder="Code">
                                <div class="form-control-feedback"><span asp-validation-for="Code"></span></div>
                            </div>
                            <label class="col-lg-4 col-form-label">Amount</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="Amount" class="form-control" asp-for="Amount" placeholder="Amount">
                                <div class="form-control-feedback"><span asp-validation-for="Amount"></span></div>
                            </div>
                            <label class="col-lg-4 col-form-label">Code</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="TotalQty" class="form-control" asp-for="TotalQty" placeholder="TotalQty">
                                <div class="form-control-feedback"><span asp-validation-for="TotalQty"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label">RequestType</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @* @Html.DropDownListFor(m => m.RequestType, Html.GetEnumSelectList(Model.RequestType.GetType()), new { @class = "form-control", id= "RequestType" })*@
                                @Html.DropDownListFor(m => m.RequestType, Html.GetEnumSelectList(typeof(SharedErp.Models.Enum.RequestTypes)), new { @class = "form-control dropdown-select2" })
                            </div>
                            <label class="col-lg-4 col-form-label">Notes</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="Notes" class="form-control" asp-for="Notes" placeholder="Notes">
                                <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                            </div>
                            <label class="col-lg-4 col-form-label">Location</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="Location" class="form-control" asp-for="Location" placeholder="Location">
                                <div class="form-control-feedback"><span asp-validation-for="Location"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label">Request Date</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control" asp-for="TransactionDate" readonly id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span asp-validation-for="TransactionDate" class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-feedback"><span asp-validation-for="TransactionDate"></span></div>
                            </div>
                            <label class="col-lg-4 col-form-label">Department</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="Department" class="form-control" asp-for="Department" placeholder="Department">
                                <div class="form-control-feedback"><span asp-validation-for="Department"></span></div>
                            </div>
                            <label class="col-lg-4 col-form-label">Requested By</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="RequestedBy" class="form-control" asp-for="IssuedBy" placeholder="TotalQty">
                                <div class="form-control-feedback"><span asp-validation-for="IssuedBy"></span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <label><strong>Request Item Details:</strong>  </label>


            <hr width="100%" />
            <div class="m-portlet__body" id="TextBoxesGroup">
                <div class="form-group gridstyle m-form__group row" style="padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-2 "> <label>Item: </label></div>
                    <div class="col-lg-2 "> <label>Narratives: </label></div>
                    <div class="col-lg-2 "> <label>Req.Qty: </label></div>
                    <div class="col-lg-2"> <label> Vehicle: </label></div>
                    <div class="col-lg-2"> <label>Staff: </label></div>
                    <div class="col-lg-2"><label> Amount: </label></div>
                    @*<div class="col-lg-2"><label>Credit Account: </label></div>
                        <div class="col-lg-1"> <label> PO Number: </label></div>*@
                    @*<div class="col-lg-1"> <label> Action </label></div>*@
                </div>

                <hr width="100%" style="padding-bottom: 0px; margin-bottom: 5px; padding-top:0px; margin-top:0px;" />


            </div>

        </div>
    </div>


    @*Begin Modal Listing *@

    <!--begin::Small Modal For Warehouse-->
    <div class="modal fade col-xs-12" id="WarehouseModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title  left text-left "> Create A Warehouse</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">

                    <input type="hidden" id="warehouseid" />
                    <div class="modal-body">
                        <form action="" id="routeModal" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label"> Code: </label>
                                        <input type="text" asp-for="WarehouseCode" placeholder="Enter WarehouseCode" class="form-control" id="WarehouseCode" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseCode"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> WarehouseName: </label>
                                        <input type="text" asp-for="WarehouseName" placeholder="Enter WarehouseName" class="form-control" id="WarehouseName" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseName"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> Address: </label>
                                        <input type="text" asp-for="WarehouseAddress1" placeholder="Enter WarehouseAddress1" class="form-control" id="WarehouseAddress1" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseAddress1"></span></div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div>

                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="warehouseSave();" type="button"> Save </button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:::Small Modal For Warehouse-->
    <!--end:::Begin Modal For Account-->
    <div class="modal fade" id="kt_blockui_4_5_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="kt_blockui_4_5">Block modal</button>
                </div>
            </div>
        </div>
    </div>

    <!--end:::End Modal For Account-->
    <!--begin::Small Modal For Inventory Item-->
    <div class="modal fade col-xs-12" id="InventoryItemModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title  left text-left "> Create a Inventory Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">

                    <input type="hidden" id="inventoryItemId" />
                    <div class="modal-body">
                        <form action="" id="routeModal" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label"> ItemCode: </label>
                                        <input type="text" asp-for="ItemCode" placeholder="Enter ItemCode" class="form-control" id="ItemCode" />
                                        <div class="form-control-feedback"><span asp-validation-for="ItemCode"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> ItemName: </label>
                                        <input type="text" asp-for="ItemName" placeholder="Enter ItemName" class="form-control" id="ItemName" />
                                        <div class="form-control-feedback"><span asp-validation-for="ItemName"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> ItemDescription: </label>
                                        <input type="text" asp-for="ItemDescription" placeholder="Enter ItemDescription" class="form-control" id="ItemDescription" />
                                        <div class="form-control-feedback"><span asp-validation-for="ItemDescription"></span></div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div>

                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="inventoryItemSave();" type="button"> Save </button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:::Small Modal For Inventory Item-->
    <!--begin::Small Modal For WarehouseBin-->
    <div class="modal fade col-xs-12" id="EmployeeModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title  left text-left "> Create an Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">

                    <input type="hidden" id="employeeId" />
                    <div class="modal-body">
                        <form action="" id="routeModal" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label"> EmployeeCode: </label>
                                        <input type="text" asp-for="EmployeeCode" placeholder="Enter Employee Code" class="form-control" id="EmployeeCode" />
                                        <div class="form-control-feedback"><span asp-validation-for="EmployeeCode"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">  FirstName: </label>
                                        <input type="text" asp-for="FirstName" placeholder="Enter First Name" class="form-control" id="FirstName" />
                                        <div class="form-control-feedback"><span asp-validation-for="FirstName"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> LastName: </label>
                                        <input type="text" asp-for="LastName" placeholder="Enter LastName" class="form-control" id="LastName" />
                                        <div class="form-control-feedback"><span asp-validation-for="LastName"></span></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="m-input-icon m-input-icon--right">
                                            @*commit*@
                                            <div class="input-group date">
                                                @*<input type="text" class="form-control" asp-for="TransactionDate" readonly id="kt_datepicker_3" />*@
                                                <input class="form-control datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter date" name="StartDate" id="TransactionDate" value="@ViewBag.StartDate" autocomplete="off" required />
                                                <div class="input-group-append">
                                                    <span asp-validation-for="TransactionDate" class="input-group-text">
                                                        <i class="la la-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> Role: </label>
                                        @Html.DropDownListFor(model => model.WarehouseBinID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select role", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2", @id = "RoleID" })
                                        <div class="form-control-feedback"><span asp-validation-for="ItemDefaultWarehouseID"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> Terminal: </label>
                                        @Html.DropDownListFor(model => model.WarehouseBinID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select terminal", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2", @id = "TerminalID" })
                                        <div class="form-control-feedback"><span asp-validation-for="ItemDefaultWarehouseID"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="kt-checkbox">
                                            IsActive
                                            <input type="checkbox" asp-for="IsActive" class="form-control checked" checked="checked" id="IsActive" />
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div>

                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="employeeSave();" type="button"> Save </button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:::Small Modal For WarehouseBin-->
    @*End Modal Listing *@

</div>
