<section class="contact-hero">
    <app-black-background (btnClick)="goToHome()"></app-black-background>
    <app-white-background></app-white-background>
    <section class="md:w-11/12 xl:w-10/12 mx-auto contact-bg">
        <div class="animate__animated animate__fadeInUp">
            <div class="bg-gray-50 shadow-2xl rounded-2xl p-10">
                <div class="relative">
                    <h1 class="font-black text-3xl leading-10 mb-12">
                        <span class="block">
                            Get in Touch
                        </span>
                    </h1>
                    <div class="flex flex-col md:flex-row">
                        <div class="w-full md:w-1/2 md:border-r-2">
                            <form (ngSubmit)="onSubmitted()" class="w-10/12">
                                <div class="mt-2 mb-6">
                                    <input id="fullName" type="text" [disabled]="loading"
                                        [(ngModel)]="contactUsForm.fullName" required name="fullName" ngModel
                                        #fullName="ngModel" placeholder="Full Name"
                                        class="form-control bg-grey-100 py-4 px-10 rounded-lg shadow border border-gray-300 outline-none w-full ml-2 mt-2">
                                    <div *ngIf="fullName.touched && fullName.invalid" class="mt-2">
                                        <p class="text-red-500 tex-sm">Full Name is required</p>
                                    </div>
                                </div>
                                <div class="mt-2 mb-6">
                                    <input id="email" type="email" [disabled]="loading"
                                        [(ngModel)]="contactUsForm.email" required name="email" ngModel #email="ngModel"
                                        placeholder="Email Address"
                                        class="form-control bg-grey-100 py-4 px-10 rounded-lg shadow border border-gray-300 outline-none w-full ml-2 mt-2">
                                    <div *ngIf="email.touched && email.invalid" class="mt-2">
                                        <p class="text-red-500 tex-sm">Email is required</p>
                                    </div>
                                </div>
                                <div class="mt-2 mb-6">
                                    <textarea id="message" [disabled]="loading" [(ngModel)]="contactUsForm.message"
                                        required rows="6" name="message" ngModel #message="ngModel"
                                        placeholder="Message"
                                        class="form-control bg-grey-100 py-4 px-10 rounded-lg shadow border border-gray-300 outline-none w-full ml-2 mt-2">
                                        </textarea>
                                    <div *ngIf="message.touched && message.invalid" class="mt-2">
                                        <p class="text-red-500 tex-sm">Message is required</p>
                                    </div>
                                </div>
                                <div class="mb-10 mt-6">
                                    <button type="submit" [disabled]="loading"
                                        class="bg-black text-white py-4 px-10 rounded-lg shadow w-full">
                                        <span class="flex justify-center items-center">Send Now <mat-icon class="ml-2">
                                                arrow_right_alt</mat-icon></span>
                                    </button>
                                </div>
                            </form>
                            <div class="flex justify-center items-center w-10/12">
                                <app-loader *ngIf="loading"></app-loader>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <div class="w-10/12 h-full mx-auto">
                                <div class="bg-gray h-full p-10 md:p-16 rounded-lg">
                                    <div class="flex">
                                        <div class="mr-2">
                                            <mat-icon class="ml-2 text-white">call</mat-icon>
                                        </div>
                                        <div>
                                            <p class="text-white mb-6">
                                                <span class="block">Olawale</span>    
                                                <span class="block"> +234 803 374 6056</span>
                                            </p>
                                            <p class="text-white mb-6">
                                                <span class="block">Sunbo</span>    
                                                <span class="block">+234 708 766 8288</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="flex mt-20">
                                        <div class="mr-2">
                                            <mat-icon class="ml-2 text-white">place</mat-icon>
                                        </div>
                                        <div>
                                            <p class="text-white mb-6">
                                                <span class="block">17, Akinsanya street, Ojodu-Berger,</span>    
                                                <span class="block">Lagos, Nigeria.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>