.contact {
    &-bg {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
    }
    &-header {
        background: #e6e6e6;
    }
}

.bg-gray{
    background: #666666;
}
