<header class="bg-black h-20 w-full fixed z-10 py-6">
    <nav class="md:w-11/12 xl:w-10/12 mx-auto">
        <div class="flex justify-between">
            <img src="../../../assets/img/logo.png" alt="">
            <ul class="flex justify-center items-center">
                <li class="text-white"><a href="#">Home</a></li>
                <li class="text-white"><a [routerLink]="['/plans']">View Plans</a></li>
                <li class="text-white"><a href="#">Download</a></li>
                <li class="text-white"><a [routerLink]="['/contact-us']">Contact Us</a></li>
            </ul>
            <div>
                <a class="bg-white py-2 px-6 rounded-full" [routerLink]="['/login']">Sign in</a>
                <a  class="text-white py-2 px-6" [routerLink]="['/createAccount']">Sign up</a>
            </div>
        </div>
    </nav>
</header>