<div class="relative p-10">
    <div class="flex flex-col-reverse md:flex-row md:justify-between">
        <div class="flex">
            <div class="relative">
                <img class="rounded-full h-36 w-36" src="../../../assets/svg/me.svg" alt="">
                <img class="absolute tick bg-white p-1 rounded-full shadow" src="../../../assets/svg/tick.svg" alt="">
            </div>
            <div class="flex flex-col justify-center ml-4">
                <p class="text-gray-500 animate__animated animate__fadeInRight mb-2">Glad to have you here</p>
                <h2 class="animate__animated animate__fadeInRight text-4xl">{{userDetails.firstName}} {{userDetails.lastName}}</h2>
            </div>
        </div>
        <div class="flex ">
            <p class="text-gray-500 mr-2 w-full"><span class="text-bold">Express</span> vetting</p>
            <mat-icon aria-hidden="false" aria-label="home icon">notifications</mat-icon>
        </div>
    </div>
    <section class="md:h-16"></section>
    <section class="mt-20">
        <div class="md:w-10/12 grid grid-cols-1 grid-rows-3 md:grid-cols-3 md:grid-rows-1 gap-6">
            <mat-card class="relative all-borders">
                <mat-card-content class="pt-4 flex-item h-full">
                    <img class="absolute plus right-4 top-3 bg-white p-1 rounded-full shadow" src="../../../assets/svg/plus.svg" alt="">
                    <h3 class="text-4xl">0.00</h3>
                    <p class="text-gray-500 mt-3">Available Units</p>
                </mat-card-content>
                
              </mat-card>
              <mat-card class="relative all-borders">
                <mat-card-content class="pt-4 flex-item h-full">
                    <img src="../../../assets/svg/black-completed.svg" alt="">
                    <p class="text-gray-500 mt-3">Completed</p>
                </mat-card-content>
               
              </mat-card>
              <mat-card class="relative all-borders">
                <mat-card-content class="pt-4 flex-item h-full">
                    <img src="../../../assets/svg/black-pending.svg" alt="">
                    <p class="text-gray-500 mt-3">Pending</p>
                </mat-card-content>
                
              </mat-card>
        </div>
    </section>
    <section class="flex justify-center items-center mt-20">
        <button
            (click)="startVetting()"
            class="bg-black text-white font-bold py-6 px-10 rounded-full shadow-2xl md:w-4/12">
            <span class="text-2xl">Start Vetting</span>
        </button>
    </section>
</div>

<app-insufficient-unit-modal [opened]="opened" *ngIf="opened" (close)="opened = false"></app-insufficient-unit-modal>