
.all-borders{
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
}

.flex-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}