﻿@model SharedErp.Models.CustomerInformationDTO

<div class="tab-content">
 
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-lg-12">
                        <!--begin::Portlet-->
                        <div class="kt-portlet">
                           
                            <!--begin::Form-->
        <form   class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
    <div class="form-group row">

        <div class="col-lg-6">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Main Information
                    </h3>
                </div>
            </div>
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                <label class="col-lg-4 col-form-label "></label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_apps_user_add_avatar">
                            <div class="kt-avatar__holder" style="background-image: url(assets/media/users/300_10.jpg)"></div>
                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                <i class="fa fa-pen"></i>
                                <input type="file" name="FilePhoto" id="FilePhoto">
                                @*<input class="form-control m-input" type="file" id="IdentityPhoto" name="IdentityPhoto">*@
                            </label>
                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <label class="col-lg-4 col-form-label " for="Lastname">Lastname:</label>

                <div class="col-lg-8" style="padding-bottom:7px;">
                    @Html.EditorFor(model => model.CustomerLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerLastName)
                </div>
                <label class="col-lg-4 col-form-label " for="Firstname">Firstname:</label>

                <div class="col-lg-8" style="padding-bottom:7px;">
                    @Html.EditorFor(model => model.CustomerFirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerFirstName)
                </div>

                <label class="col-lg-4 col-form-label" style="padding-bottom:7px; ">Phone</label>
                <div class="col-lg-8" style="padding-bottom:7px; ">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                        @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerPhone)
                    </div>


                </div>
                <label class="col-lg-4 col-form-label">Email</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                        @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerEmail)
                    </div>
                </div>
                <label class="col-lg-4 col-form-label">Date Of Birth:</label>
                <div class="col-lg-8" style="padding-bottom:7px; ">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <label class="col-lg-4 col-form-label">CompanySite</label>
                <div class="col-lg-8" style="padding-bottom:7px; ">
                    <div class="input-group">
                        <div class="input-group-prepend"></div>
                        @Html.EditorFor(model => model.CustomerWebPage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerWebPage)
                        <span class="input-group-text">.com</span>
                    </div>


                </div>
                <label class="col-lg-4 col-form-label">RoleType</label>
                <div class="col-lg-8" style="padding-bottom:7px; ">
                    <div class="input-group">
                        <div class="input-group-prepend"></div>
                        @Html.DropDownListFor(model => model.RoleId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select RoleId", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                        @Html.ValidationMessageFor(model => model.RoleId)
                       
                    </div>


                </div>
         

                @*BEgin Identity Infromation*@

                <label class="col-lg-4 col-form-label " for="CityId">IdentityType:</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    <div class="input-group date">

                        @Html.DropDownListFor(model => model.IdentificationType, Html.GetEnumSelectList(typeof(SHB.Core.Entities.Enums.IdentificationType)), "Select Type", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                        <div class="input-group-append">
                            <a onclick='javascript: cityClick()'>
                                <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                    <i style="color:white;" class="la la-plus-circle"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
                <label class="col-lg-4 col-form-label " for="CityId">IdentityNumber:</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    <div class="input-group date">

                        @Html.EditorFor(model => model.IdentificationCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdentificationCode)
                    </div>

                </div>
                <label class="col-lg-4 col-form-label">IDIssueDate:</label>
                <div class="col-lg-8" style="padding-bottom:7px; ">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                        @Html.EditorFor(model => model.IDIssueDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <label class="col-lg-4 col-form-label">IDExpireDate:</label>
                <div class="col-lg-8" style="padding-bottom:7px; ">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                        @Html.EditorFor(model => model.IDExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <label class="col-lg-4 col-form-label">Upload Identity Photo</label>
                <div class="col-lg-8" style="padding-bottom:7px;">

                    <input class="form-control m-input" type="file" id="FileIdentityPhoto" name="FileIdentityPhoto">
                </div>
                @*End Identity Infromation*@
            </div>

         
        </div>
        <div class="col-lg-6">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Setup Client Address
                    </h3>
                </div>
            </div>
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                <label class="col-lg-4 col-form-label " for="Address" style="padding-bottom: 7px; padding-top: 30px;">Address1:</label>
                <div class="col-lg-8" style="padding-bottom: 7px; padding-top: 30px;">
                    @Html.EditorFor(model => model.CustomerAddress1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress1)
                </div>
                <label class="col-lg-4 col-form-label " for="Address">Address2:</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    @Html.EditorFor(model => model.CustomerAddress2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress2)
                </div>
                <label class="col-lg-4 col-form-label " for="Address">Postal Code:</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    @Html.EditorFor(model => model.CustomerZip, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerZip)
                </div>
                @*<label class="col-lg-4 col-form-label " for="Country">Country:</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    <div class="input-group date">

                        @Html.DropDownListFor(model => model.CustomerCountry, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Country", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                        <div class="input-group-append">
                            <a onclick='javascript: cityClick()'>
                                <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                    <i style="color:white;" class="la la-plus-circle"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>*@
                <label class="col-lg-4 col-form-label " for="CustomerCity">Location:</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    <div class="input-group date">

                        @Html.DropDownListFor(model => model.CustomerCity, new SelectList(Enumerable.Empty<SelectListItem>()), "Select City", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                        <div class="input-group-append">
                            <a onclick='javascript: cityClick()'>
                                <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                    <i style="color:white;" class="la la-plus-circle"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Set Up Beneficiary
                    </h3>
                </div>
            </div>
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                <label class="col-lg-4 col-form-label " style="padding-bottom: 7px; padding-top: 30px;" for="Address">NextofKin Name:</label>
                <div class="col-lg-8" style="padding-bottom: 7px; padding-top: 30px;">
                    @Html.EditorFor(model => model.NextOfKin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NextOfKin)
                </div>
                <label class="col-lg-4 col-form-label " for="Address">NextofKin Phone:</label>
                <div class="col-lg-8" style="padding-bottom:7px;">
                    @Html.EditorFor(model => model.NextOfKinPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NextOfKinPhone)
                </div>
                <label class="col-lg-4 col-form-label" style="padding-bottom:7px; "> NextofKin Address</label>
                <div class="col-lg-8" style="padding-bottom:7px; ">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-address"></i></span></div>
                        @Html.EditorFor(model => model.CustomerAddress3, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerAddress3)
                    </div>


                </div>

            </div>

            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Client Settings
                    </h3>
                </div>
            </div>
            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                <label class="col-lg-4 col-form-label">Communication</label>
                <div class="col-lg-8" style="padding-bottom:7px;">

                    <div class="kt-checkbox-inline">
                        <label class="kt-checkbox">
                            <input type="checkbox" checked=""> Email
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox" checked=""> SMS
                            <span></span>
                        </label>
                        <label class="kt-checkbox">
                            <input type="checkbox"> Phone
                            <span></span>
                        </label>
                    </div>
                </div>
                <label class="col-lg-4 col-form-label">Status</label>
                <div class="col-lg-8" style="padding-bottom:7px;">

                    <select class="form-control dropdown-select2" asp-for="IsActive">
                        <option value="true">Activate</option>
                        <option value="false">De-Activate</option>
                    </select>
                </div>
                @*<label class="col-lg-4 col-form-label" style="padding-bottom:7px; padding-top:30px;">Reset Password</label>
                <div class="col-lg-8" style="padding-bottom:7px; padding-top:30px;">
                    <button type="button" class="btn btn-label-danger btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Click to Reset account ?</button>
                </div>*@


            </div>


        </div>
                               
    </div>

            </div>
          
        </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Portlet-->
                 
                    </div>
                </div>


   
            </div>
        </div>
    </div>
 
</div>







