﻿@{
    ViewData["Title"] = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* Route Form Begins here *@


<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
   
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">
                    <input type="hidden" id="RouteId" />

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">
                        <div class="form-group row form-group-marginless" style="margin-bottom: 10px; margin-top:20px;">

                            <div class="col-lg-12" style="padding-bottom:7px;">
                                <input type="text" placeholder="Ref or Client Email" class="form-control " id="ReferenceCode" />
                                <div class="form-control-feedback"><span asp-validation-for="ReferenceCode"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom: 10px; margin-top: 20px;">

                            <label class="col-lg-3 col-form-label" for="RouteType"> From:</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control FromDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom: 10px; margin-top: 20px;">
                            <label class="col-lg-3 col-form-label" for="DepartureTerminalId"> To :</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control ToDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">


                        <a id="btnSearch" style="color: white; margin-top: 20px;" onclick="SearchClick();" class="btn btn-danger btn-bold">
                            Search Vettee
                        </a>
                    </div>




                </div>

            </div>

        </div>

        <div class="kt-portlet kt-portlet--tabs">

            <div class="kt-portlet__body">


                @Html.AntiForgeryToken()

                <div class="tab-content" >
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin:  Trips Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                            <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                <div class="col">
                                                    <div class="btn-group">
                                                        <div class="dropdown"  title="Add New Record" data-placement="right">
                                                            <a href="~/admin/clients/create" class="btn btn-icon" data-aria-haspopup="true" aria-expanded="false">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                    </g>
                                                                </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                            </a>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        Customers Information
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin: Route Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>
                                                        @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                        Sucesfully Saved
                                                    </div>
                                                    <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Code</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">FirstName</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">LastName</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Email</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Phone</th>
                                                       
                                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">City</th>
                                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Status </th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Route Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--End:  Trips Rows  -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>


<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CompanyInfo Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Client ID:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:clientId}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Tenant ID:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:tenantId}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Reference Code:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:referenceCode}}</span>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>

<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        var str = "";
        var dateTo = "";
        var datefrom = "";

        jQuery(document).ready(function () {

             // fetch data from parameter attached to the redirected url
                str = '@TempData["vStext"]';
                datefrom = '@TempData["vdatefrom"]';
                dateTo = '@TempData["vdateto"]';

            //document.getElementById("txtSearch").value = str;

            // launch datatable with params
            DatatablesBasic.init(str, datefrom, dateTo)
        });

        var DatatablesBasic = {
            init: function (str, datefrom, dateTo) {
                // destroy or clear existing loaded data
                if ($.fn.DataTable.isDataTable("#m_table_1")) {
                    $('#m_table_1').DataTable().clear().destroy();
                }

                // fetch new data
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: {
                        "url": '/admin/clients/GetData/?fromDate=' + datefrom + '&toDate=' + dateTo + '&Str=' + str,
                        "type": "POST"
                    },
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },

                        {
                            bSortable: false,
                            data: "customerCode"
                        },
                        {
                            bSortable: false,
                            data: "customerFirstName"
                        },
                        {
                            bSortable: false,
                            data: "customerLastName"
                        },
                        {
                            bSortable: false,
                            data: "customerEmail"
                        },
                        {
                            bSortable: false,
                            data: "customerPhone"
                        },
                
                        {
                            bSortable: false,
                            data: "locationName"
                        },
                        {
                            bSortable: false,
                            data: "isActive"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                        \n <a class="dropdown-item" href="/admin/clients/update/`+ n.id + `"><i class="la la-edit"></i> Modify</a>
                     
                                                        \n </div>
                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/admin/clients/delete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                });
            }
        };

        function SearchClick() {
            var str = $('#ReferenceCode').val();
            var fromDate = $('.FromDate').val();
            var toDate = $('.ToDate').val();
            var url = '/admin/clients/Index?Stext=' + str + '&fromDate=' + fromDate + '&toDate=' + toDate;
            window.location.href = url;

        }


 


    </script>
}

}
