﻿@model SharedErp.Models.CustomerInformationDTO
@{
    ViewData["Title"] = "Create Company Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--begin::Form-->
<form action="Update" method="post"  enctype="multipart/form-data"  id="form" name="form">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <!-- begin:: Content Head -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-subheader__main">

                <h3 class="kt-subheader__title">
                    Edit Customer
                </h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <div class="kt-subheader__group" id="kt_subheader_search">
                    <span class="kt-subheader__desc" id="kt_subheader_total">
                        Alex Stone
                    </span>

                </div>

            </div>

            <div class="kt-subheader__toolbar">

                <a href="~/admin/clients/Index" class="btn btn-default btn-bold">

                    Back
                </a>
                <a href="~/admin/clients/Index" class="btn btn-default btn-bold">
                    Create New Customer
                </a>

                <div class="btn-group">
                    <button type="submit" class="btn btn-brand btn-bold">
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="kt-nav">
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-writing"></i>
                                    <span class="kt-nav__link-text">Save &amp; continue</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                    <span class="kt-nav__link-text">Save &amp; add new</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                    <span class="kt-nav__link-text">Save &amp; exit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- end:: Content Head -->										<!-- begin:: Content -->
        <!-- begin:: Content -->
        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
            <div class="kt-portlet kt-portlet--tabs">

                <input type="hidden" id="texens" name="user" value="" />
                <div class="kt-portlet__body">

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.CustomerCode)
                    @Html.Partial("_form")

                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="submit" onclick="ClientSave();" class="btn btn-primary">Save</button>
                                 
                                    <input type="button" class="btn btn-secondary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Clients") + "'");" />
                                </div>
                                <div class="col-lg-6 kt-align-right">
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Content -->					<!-- end:: Content -->
    </div>

</form>


<!--end::Form-->
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            };
            return {
                init: function () {
                    $("#IsParentDate,#PilotPayrollDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#CityId").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();

        jQuery(document).ready(function () {
            BootstrapDatepicker.init();
            DropLocation.init();
            DropCountry.init();
            DropRoles.init();
            $('.dropdown-select2').select2();
        });

        var DropLocation = {
            init: function (ctt) {
                var url = '/Admin/Acct/FetchDetailDropDown?dropdesc=TerminalList';
                $.get(url,
                    function (response) {
                        var availabledata = response.data;
                        $("#CustomerCity").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#CustomerCity").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


        var DropCountry = {
            init: function (ctt) {
                var url = '/Admin/Acct/FetchDetailDropDown?dropdesc=CountryListing';
                $.get(url,
                    function (response) {
                        var availabledata = response.data;
                        $("#CustomerCountry").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#CustomerCountry").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropRoles = {
            init: function (ctt) {
                var url = '/Admin/Acct/FetchDetailDropDown?dropdesc=RoleList';
                $.get(url,
                    function (response) {
                        var availabledata = response.data;
                        var tt = '@Model.RoleId';
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#RoleId").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        function ClientSave() {


            $("#form").submit(function (e) {

                var CustomerPhone = $("#CustomerPhone").val();
                var NextOfKinPhone = $("#NextOfKinPhone").val();

                if (CustomerPhone == NextOfKinPhone) {
                    alert("Next Of Kin Phone cannot be the same as Client Phone No");
                    e.preventDefault();
                }
                else {
                    var input = document.getElementById("FileIdentityPhoto");
                    var inputb = document.getElementById("FilePhoto");
                    var files = new Array();
                    files.push('input');
                    files.push('inputb');
                    //var filesb = input.files;

                    var formData = new FormData();

                    for (var i = 0; i != files.length; i++) {
                        /*   formData.append("Id", $("#VetteeListIDs").val());*/
                        formData.append("FileIdentityPhoto", files[i]);
                        formData.append("FilePhoto", files[i].inputb);
                    }


                    $.ajax(
                        {
                            url: "/Admin/Clients/Update",
                            data: formData,
                            processData: false,
                            contentType: false,
                            type: "POST",
                            success: function (data) {
                                alert("Saved and Files Uploaded!");
                            }
                        }
                    );
                }
            })







         

        }

    </script>


}
