<div>
    <app-header></app-header>
    <!-- space -->
    <div class="h-16 md:h-24 lg:h-32"></div>
    <div class="md:w-11/12 xl:w-10/12 mx-auto flex flex-col-reverse md:flex-row justify-between mt-10 px-4 py-4">
        <div class="flex flex-col">
            <h1 class="font-black text-5xl leading-10">
                <span class="block mb-2 animate__animated animate__fadeInLeft">
                    Nigeria’s First and
                </span>
                <span class="block animate__animated animate__fadeInRight">
                    Certified Vetting System.
                </span>
            </h1>
            <p class="leading-9 mt-10">
                <span class="block">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec viverra non lacus platea.
                </span>
                <span class="block">
                    justo, diam
                    facilisis ut sapien. Varius diam morbi ultrices enim, vulputate. Ut
                </span>
                <span class="block">
                    iaculis blandit vel
                    bibendum
                    commodo. Vestibulum non.
                </span>
            </p>
            <div class="mt-6">           
                <button class="bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500  md:w-4/12">Get
                    Started</button>
            </div>
        </div>
        <div class="animate__animated animate__fadeInUp">
            <img src="../../../assets/img/Person in mobile phone.png" alt="">
        </div>
    </div>
    <div class="h-16 md:h-28 lg:h-36"></div>
    <section class="relative grey-bg py-6 px-4">
        <div
            class="flex flex-col justify-center items-center bg-gray-50 shadow-2xl rounded-3xl wrapper md:w-11/12 xl:w-10/12 md:mx-auto p-6">
            <h1 class="font-black text-5xl leading-10 text-center">
                <span class="block mb-12">
                    Why use us?
                </span>
            </h1>
            <div class="flex flex-col md:flex-row justify-between">
                <div class="flex flex-col justify-center items-center mb-6 md:mb-0">
                    <img src="../../../assets/svg/verified.svg" alt="" class="mb-2">
                    <h3 class="text-2xl font-bold mb-2">Quality</h3>
                    <p class="leading-6 mt-10 text-center">
                        We are a team of highly skilled individuals working
                        as a unit to provide clients with the best
                        services.
                    </p>
                </div>
                <div class="flex flex-col justify-center items-center mb-6 md:mb-0">
                    <img src="../../../assets/svg/bulb.svg" alt="" class="mb-2">
                    <h3 class="text-2xl font-bold mb-2">Innovative</h3>
                    <p class="leading-6 mt-10 text-center">
                        We continue to use technological best practices to keep tab on people we verify
                    </p>
                </div>
                <div class="flex flex-col justify-center items-center mb-6 md:mb-0">
                    <img src="../../../assets/svg/support.svg" alt="" class="mb-2">
                    <h3 class="text-2xl font-bold mb-2">Support</h3>
                    <p class="leading-6 mt-10 text-center">
                        We do not just stop at vetting for our clients, we provide after service support for them too.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white relative clients-section">
        <div class="flex flex-col justify-center items-center md:w-11/12 xl:w-10/12 mx-auto client-inner-section py-14">
            <h1 class="font-black text-5xl text-center mb-52">
                <span class="block">
                    Our Proud Clients.
                </span>
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <div class="bg-white shadow rounded-lg px-6 grid-box relative flex flex-col justify-center">
                    <img class="absolute img-position" src="../../../assets/img/man-1.png" alt="man">
                    <h1 class="font-black text-2xl leading-10 text-center mt-24">
                        <span class="block mb-4">
                            Testimonies
                        </span>
                    </h1>
                    <p class="leading-6 text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tristique imperdiet sodales
                        aliquam lobortis vel, placerat condimentum ullamcorper. Nisi malesuada.
                    </p>
                </div>
                <div class="bg-white shadow rounded-lg px-6 grid-box relative flex flex-col justify-center">
                    <img class="absolute img-position" src="../../../assets/img/man-2.png" alt="man">
                    <h1 class="font-black text-2xl leading-10 text-center mt-24">
                        <span class="block mb-4">
                            Testimonies
                        </span>
                    </h1>
                    <p class="leading-6 text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tristique imperdiet sodales
                        aliquam lobortis vel, placerat condimentum ullamcorper. Nisi malesuada.
                    </p>
                </div>
                <div class="bg-white shadow rounded-lg px-6 grid-box relative flex flex-col justify-center">
                    <img class="absolute img-position" src="../../../assets/img/man-3.png" alt="man">
                    <h1 class="font-black text-2xl leading-10 text-center mt-24">
                        <span class="block mb-4">
                            Testimonies
                        </span>
                    </h1>
                    <p class="leading-6 text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tristique imperdiet sodales
                        aliquam lobortis vel, placerat condimentum ullamcorper. Nisi malesuada.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>