
.leading-10 {
    line-height: 70px;
}
.grey-bg {
    height: 500px;
    background-color: #ededed;
    @media (max-width:767px) {
        height: fit-content;
    }
}
.wrapper {
    height: 500px;
    position: absolute;
    top: -90px;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    @media (max-width:767px) {
        height: fit-content;
        position: relative;
        top: 0;
    }
}

.grid-box {
    height: 400px;
    @media (max-width: 767px) {
        margin-bottom: 150px;
    }
}

.img-position {
    top: 6px;
    transform: translate(-50%, -50%);
    left: 50%;
}
