﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SharedERP</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link href="~/css/vendors.bundle.css" rel="stylesheet" />
    <link href="~/css/style.bundle.css" rel="stylesheet" />
    <link href="~/css/libmot.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>

<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
            <div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
                <div class="m-stack m-stack--hor m-stack--desktop">
                    <div class="m-stack__item m-stack__item--fluid">
                        <div class="m-login__wrapper">
                            <div class="m-login__logo">
                                <a href="#">
                                    @*<img src="http://libmot.azurewebsites.net/upload/libmotops.png" />*@
                                    <img src="" />
                                </a>
                            </div>
                            @RenderBody()
                        </div>
                    </div>
                    @*<div class="m-stack__item m-stack__item--center">
                            <div class="m-login__account">
                                <span class="m-login__account-msg">
                                    Don't have an account yet ?
                                </span>&nbsp;&nbsp;
                                <a href="javascript:;" id="m_login_signup" class="m-link m-link--focus m-login__account-link">Sign Up</a>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="m-grid__item m-grid__item--fluid m-grid  m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content ">
                <img style="padding-top:70px; margin-bottom:0px; position:center;" src="../assets/images/10b.jpg" />
                <div class="m-grid__item">
                    @*<h3 class="m-login__welcome">Libmot Inventory </h3>
            <p class="m-login__msg">
                In God we trust, Thats why we lead and others follow
            </p>*@
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/lib/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/js/login.js" type="text/javascript"></script>*@

</body>
</html>
<script>
    function forgetPassword() {
        var email = $("#m_login_username_txt").val();
        //if (email == "") {
        //    swal("Input Email", "To receive OTP", "warning");
        //    return false;
        //}
        //$.ajax({
        //    method: "POST",
        //    url: document.location.origin + "/account/ResetPassword/?email=" + email,
        //    data: { email: email },
        //    success: function (data) {
        //        //$(loading).hide();
        //        //alert(data);
        //        $("#email").val(email);
        //    }
        //});
        $("#emails").val(email);
        $('#sendOtp').modal();
        $('#sendOtp').modal('show');
    }

    function confirm() {
        var email = $("#emails").val();
        if (email == "") {
            swal("Input Email", "To receive OTP", "warning");
            return false;
        }
        $.ajax({
            method: "POST",
            url: document.location.origin + "/account/ResetPassword/?email=" + email,
            data: { email: email },
            success: function (data) {
                //$(loading).hide();
                //alert(data);
                $("#emails").val(email);
            }
        });
        $("#email").val(email);
        $('#sendOtp').modal('hide');
        $('#forgot').modal();
        $('#forgot').modal('show');
    }

    function change() {
        var email = $("#email").val();
        var otp = $("#OTP").val();
        var NPassword = $("#NPassword").val();
        var CNPassword = $("#CNPassword").val();
        if (NPassword != CNPassword) {
            swal("Password Mismatch", "", "warning");
            return false;
        }
        $.ajax({
            method: "POST",
            url: document.location.origin + "/account/ResetNewPassword/?email=" + email + "&otp=" + otp + "&NPassword=" + NPassword,
            data: {
                email: email,
                otp: otp,
                NPassword: NPassword
            },
            success: function (data) {
                if (data == false) {
                    swal("Invalid OTP", "", "warning");
                    return false;
                }
                swal("Password reset complete", "You can now login", "success");
                setTimeout(function () {
                    location.reload()
                }, 1000);
                $("#email").val(email);
            }
        })
    }
</script>