<section class="plans-hero">
    <app-black-background (btnClick)="goToHome()"></app-black-background>
    <app-back-arrow></app-back-arrow>
    <app-white-background></app-white-background>
    <section class="md:w-11/12 xl:w-10/12 mx-auto plans-bg">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-6 animate__animated animate__fadeInUp">
            <div class="col-span-3 bg-gray-50 shadow-2xl rounded-t-2xl">
                <div class="plans-header text-center py-4 mb-12 rounded-t-2xl">
                    <p class="font-bold">BEST VALUES</p>
                </div>
                <div class="relative">
                    <h1 class="font-black text-3xl leading-10 text-center mb-12">
                        <span class="block">
                            SUBSCRIPTION
                        </span>
                    </h1>
                    <div class="grid grid-cols-2 gap-6 w-11/12 mx-auto mb-12">
                        <div>
                            <p *ngFor="let item of plans" class="leading-10 font-light">
                                <span><img class="inline-block" src="../../../assets/svg/positive.svg" alt=""></span>
                                {{item}}
                            </p>
                        </div>
                        <div class="relative">
                            <div class="flex justify-between px-4 py-2 mb-2 cursor-pointer"
                                *ngFor="let item of planTypes">
                                <div class="flex">
                                    <span class="border-gray-300 border rounded-full h-6 w-6 mr-4 mt-3 p-1"></span>
                                    <div>
                                        <p class="mb-1">{{item.type}}</p>
                                        <p>5,000</p>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-1">Units</p>
                                    <p class="text-center">1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center mb-20">
                        <button
                            class="bg-black text-white font-bold py-6 px-10 rounded-full shadow-2xl w-4/12">
                            PURCHASE NOW
                        </button>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 shadow-2xl h-1/2 relative rounded-t-2xl top-28">
                <h1 class="font-black text-2xl leading-10 text-center mb-6 mt-12">
                    <span class="block">
                        SPECIAL PLAN
                    </span>
                </h1>
                <div class="flex justify-between px-4 py-2 mb-2 cursor-pointer" *ngFor="let item of megaTypes">
                    <div class="flex">
                        <span class="border-gray-300 border rounded-full h-6 w-6 mr-4 mt-3 p-1"></span>
                        <div>
                            <p class="mb-1">{{item.type}}</p>
                            <p>5,000</p>
                        </div>
                    </div>
                    <div>
                        <p class="mb-1">Units</p>
                        <p class="text-center">1</p>
                    </div>
                </div>
                <div class="flex justify-center items-center mb-20">
                    <button 
                        class="bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500"> 
                        PURCHASE NOW
                    </button>
                </div>
            </div>
        </div>
    </section>
</section>