﻿@model SharedErp.Areas.Admin.Models.WalletTransactionDTO

@{
    ViewData["Title"] = "Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:30px;" class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_chat_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->
            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content" id="kt_chat_content">
                <div class="kt-chat">
                    <div class="kt-portlet kt-portlet--head-lg kt-portlet--last">
                        <div class="kt-portlet__head">
                            <!--<div class="kt-chat__head ">
                                <div class="kt-chat__left">-->
                            <!--begin:: Aside Mobile Toggle -->
                            <!--<button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                                <i class="flaticon2-open-text-book"></i>
                            </button>-->
                            <!--end:: Aside Mobile Toggle-->
                            <!--<div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-more-1"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-left dropdown-menu-md">-->
                            <!--begin::Nav-->
                            <!--<ul class="kt-nav">

                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                        <span class="kt-nav__link-text">Calls</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                                        <span class="kt-nav__link-text">Settings</span>
                                    </a>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-protected"></i>
                                        <span class="kt-nav__link-text">Help</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                        <span class="kt-nav__link-text">Privacy</span>
                                    </a>
                                </li>
                            </ul>-->
                            <!--end::Nav-->
                            <!--</div>
                                </div>
                            </div>

                            <div class="kt-chat__center">
                                <div class="kt-chat__label">
                                    <a href="#" class="kt-chat__title">Wallet transactions</a>
                                    <span class="kt-chat__status">
                                        <span class="kt-badge kt-badge--dot kt-badge--success"></span> Active
                                    </span>
                                </div>

                                <div class="kt-chat__pic kt-hidden">
                                    <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Jason Muller" data-original-title="Tooltip title">
                                        <img src="assets/media/users/300_12.jpg" alt="image">
                                    </span>
                                    <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Nick Bold" data-original-title="Tooltip title">
                                        <img src="assets/media/users/300_11.jpg" alt="image">
                                    </span>
                                    <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Milano Esco" data-original-title="Tooltip title">
                                        <img src="assets/media/users/100_14.jpg" alt="image">
                                    </span>
                                    <span class="kt-userpic kt-userpic--sm kt-userpic--circle" data-toggle="kt-tooltip" data-placement="right" title="Teresa Fox" data-original-title="Tooltip title">
                                        <img src="assets/media/users/100_4.jpg" alt="image">
                                    </span>
                                </div>
                            </div>

                            <div class="kt-chat__right">
                                <div class="dropdown dropdown-inline">
                                    <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon2-add-1"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-md">-->
                            <!--begin::Nav-->
                            <!--<ul class="kt-nav">
                                <li class="kt-nav__head">
                                    Messaging
                                    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-group"></i>
                                        <span class="kt-nav__link-text">New Group</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                        <span class="kt-nav__link-text">Contacts</span>
                                        <span class="kt-nav__link-badge">
                                            <span class="kt-badge kt-badge--brand  kt-badge--rounded-">5</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-bell-2"></i>
                                        <span class="kt-nav__link-text">Calls</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-dashboard"></i>
                                        <span class="kt-nav__link-text">Settings</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-protected"></i>
                                        <span class="kt-nav__link-text">Help</span>
                                    </a>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li class="kt-nav__foot">
                                    <a class="btn btn-label-brand btn-bold btn-sm" href="#">Upgrade plan</a>
                                    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                </li>
                            </ul>-->
                            <!--end::Nav-->
                            <!--</div>
                                    </div>
                                </div>


                            </div>-->
                            <div class="kt-chat__head ">
                                @*begin:: Aside Mobile Toggle*@
                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md kt-hidden-desktop" id="kt_chat_aside_mobile_toggle">
                                    <i class="flaticon2-open-text-book"></i>
                                </button>
                                @*end:: Aside Mobile Toggle*@

                                <div class="row">



                                    <div class="col-lg-3">
                                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                            <div class="col-lg-12" style="padding-bottom:7px;">
                                                @*<input type="text" placeholder="Ref or Email" class="form-control " id="ReferenceCode" />*@
                                                @*<div class="form-control-feedback"><span asp-validation-for="ReferenceCode"></span></div>*@
                                                @Html.DropDownListFor(model => model.ReferenceCode, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Ref or Email", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                                            <label class="col-lg-3 col-form-label" for="RouteType"> From:</label>
                                            <div class="col-lg-9" style="padding-bottom:7px;">
                                                <div class="m-input-icon m-input-icon--right">

                                                    <div class="input-group date">
                                                        @*date-format="D, dd MM yyyy"*@
                                                        <input type="text" class="form-control FromDate" id="kt_datepicker_3" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>



                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                            <label class="col-lg-3 col-form-label" for="DeparturewalletId"> To :</label>
                                            <div class="col-lg-9" style="padding-bottom:7px;">
                                                <div class="m-input-icon m-input-icon--right">

                                                    <div class="input-group date">
                                                        @*date-format="D, dd MM yyyy"*@
                                                        <input type="text" class="form-control ToDate" id="kt_datepicker_3" />
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">
                                                                <i class="la la-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <a id="btnSearch" style="color:white;margin-right:60px;" onclick="SearchClick();" class="btn btn-danger btn-bold">
                                            Search
                                        </a>
                                    </div>



                                </div>
                            </div>
                        </div>

                        <div class="kt-portlet__body">
                            <div class="kt-scroll kt-scroll--pull" data-mobile-height="300">
                                <div class="kt-chat__messages">
                                    <div class="kt-chat__message">


                                        @*Wallet transaction Tables begins*@
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>
                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">

                                                    <table class="table table-striped table-bordered table-hover " id="m_table_1">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">TransDate</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">TransCode</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Amount</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">TransType</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Description</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Status</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Route Datatable -->
                                        </div>
                                        @*Wallet transaction Tables Ends*@
                                    </div>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!--End:: App Content-->
            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside kt-app__aside--lg kt-app__aside--fit" id="kt_chat_aside">
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--last">
                    <div class="kt-portlet__body">
                        <div class="kt-searchbar">
                            <div class="input-group">
                                <h3 class="kt-subheader__title">
                                    Wallets & Transactions
                                </h3>
                            </div>
                        </div>
                        <div class="kt-widget kt-widget--users ">
                            <div class="kt-scroll kt-scroll--pull">
                                <div class="kt-widget__items">
                                    <div class="kt-widget__item">
                                        <div class="kt-widget__info">
                                            <div class="kt-widget__section">
                                                <div class="col-lg-8" >
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_apps_user_add_avatar">
                                                            <div class="kt-avatar__holder" style="background-image: url(assets/media/users/300_10.jpg)"></div>
                                                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                                <i class="fa fa-pen"></i>
                                                                <input type="file" name="kt_apps_user_add_user_avatar">
                                                            </label>
                                                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                                                <i class="fa fa-times"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="kt-widget__item">
                                        <div></div>
                                        <span class="h4 kt-widget__date">User Information</span>
                                    </div>

                                    <div class="kt-widget__item">
                                        <div></div>
                                        <div class="kt-widget__action">
                                            <span class="kt-widget__date">Wallet Balance</span>

                                        </div>
                                        <div class="kt-widget__info">
                                            <div class="kt-widget__section">

                                                <a href="" id="bthSaveAll" class=" h5 btn btn-danger btn-bold">
                                                    @ViewBag.WalletBal (units)  @TempData["vWalletBal"],
                                                    @ViewData["vvWalletBal"]
                                                    <span class="kt-badge kt-badge--success kt-font-bold">7</span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="kt-widget__info">
                                            <div class="kt-widget__section">

                                                <a onclick='javascript: walletClick()' id="bthSaveAll" class="btn btn-default btn-bold">
                                                    Credit Wallet
                                                    @*<span class="kt-badge kt-badge--success kt-font-bold">7</span>*@
                                                </a>
                                            </div>

                                            @*<span class="kt-widget__desc">
                                                    Wallet Ballance
                                                </span>*@
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
            <!--End:: App Aside-->

        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>


<!-- BEgin:: wallet Modal Form goes here -->
<div class="modal modal-xl fade col-xs-12" id="WalletModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Wallet Form </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body ">

                <input type="hidden" id="WalletIDs" />
                <div class="modal-body ">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="TransactionAmount">TransactionAmount:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" placeholder="Enter Amount" class="form-control" id="TransactionAmount" />

                                        </div>
                                        <label class="col-lg-4 col-form-label" for="TransactionAmount">Clients:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            @Html.DropDownListFor(model => model.UserEmail, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Clients", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                                        </div>
                                        <label class="col-lg-4 col-form-label" for="TransDescription">Remarks:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" placeholder="Enter Remarks" class="form-control" id="TransDescription" />

                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="TransactionType">TransactionType:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">

                                            @Html.DropDownListFor(model => model.TransactionType, Html.GetEnumSelectList(typeof(SharedErp.Models.Enum.TransactionType)),
  "Select Type", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                                        </div>

                                        <label class="col-lg-4 col-form-label" for="PayTypeDiscription">PaymentType:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            @Html.DropDownListFor(model => model.PayTypeDiscription, Html.GetEnumSelectList(typeof(SharedErp.Models.Enum.PayTypeDescription)),
"Select PayType", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

            <div>

                <div class="modal-footer" style="width:100%;">
                    <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                    <button id="submitUpdateForm" class="btn btn-success" onclick="walletSave();" type="button"> Save </button>
                </div>
                <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                    <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                        <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                    </span>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- end::   wallet Form  -->


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>


        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });

        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#payDate").datepicker({/*, #EndDate*/
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#ModalPaytype, #Modalpaydescript").select2({
                        placeholder: "Select an appropriate option"
                    })
                }
            }
        }();

               var str = "";
        var dateTo = "";
        var datefrom = "";

        jQuery(document).ready(function () {

             // fetch data from parameter attached to the redirected url
                str = '@TempData["vStext"]';
                datefrom = '@TempData["vdatefrom"]';
                dateTo = '@TempData["vdateto"]';
            DropClientList.init();
            //document.getElementById("txtSearch").value = str;

            // launch datatable with params
            if (str != '') {
                DatatablesBasic.init(str, datefrom, dateTo)
            } else if (datefrom != '') {
                DatatablesBasic.init(str, datefrom, dateTo)
            }

        });
        var DatatablesBasic = {
            init: function (str, datefrom, dateTo) {
                // destroy or clear existing loaded data
                if ($.fn.DataTable.isDataTable("#m_table_1")) {
                    $('#m_table_1').DataTable().clear().destroy();
                }

                // fetch new data
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: {
                        "url": '/admin/wallet/GetData/?fromDate=' + datefrom + '&toDate=' + dateTo + '&Str=' + str,
                        "type": "POST"
                    },
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                              bSortable: false,
                            render: function (a, t, n) {
                                return new Date(n.creationTime).toISOString().slice(0, 10)
                            }
                        },
                        {
                            bSortable: false,
                            data: "transCode"
                        },
                        {
                            bSortable: false,
                            data: "transactionAmount"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, data, n) {
                                debugger;
                                var ptd = parseInt(data.transactionType);
                                switch (ptd) {
                                    case 0: return "@SharedErp.Models.Enum.TransactionType.Debit.ToString()";
                                        break;
                                    case 1: return "@SharedErp.Models.Enum.TransactionType.Credit.ToString()";
                                        break;
                                    case 2: return "@SharedErp.Models.Enum.TransactionType.WalletUpdate.ToString()";
                                        break;
                                    default:
                                        return "NA";
                                }

                            }
                        },
                          {
                            bSortable: false,
                            render: function (a, t, data, n) {
                                debugger;
                                var ptd = parseInt(data.payTypeDiscription);
                                switch (ptd) {
                                    case 1: return "@SharedErp.Models.Enum.PayTypeDescription.Cash.ToString()";
                                        break;
                                    case 2: return "@SharedErp.Models.Enum.PayTypeDescription.CashAndPos.ToString()";
                                        break;
                                    case 3: return "@SharedErp.Models.Enum.PayTypeDescription.Pos.ToString()";
                                        break;
                                     case 4: return "@SharedErp.Models.Enum.PayTypeDescription.Transfer.ToString()";
                                        break;
                                    default:
                                        return "NA";
                                }

                            }
                        },
                   
                        {
                            bSortable: false,
                            data: "isApprovedBy"
                        },

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                        \n <a class="dropdown-item" onclick="walletClick(`+ n.walletId + `)" ><i class="la la-edit"></i> Modify</a>
                                                        \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                        \n </div>
                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/security/vettee/delete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                });
            }
        };

        function SearchClick() {
            //var str = $('#ReferenceCode').val();
            var str = $("#ReferenceCode option:selected").text();
            var fromDate = $('.FromDate').val();
            var toDate = $('.ToDate').val();
            var url = '/admin/wallet/Index?Stext=' + str + '&fromDate=' + fromDate + '&toDate=' + toDate;
            window.location.href = url;

        }

        // begin Credit wallet
        function walletClick(data) {

            $('#WalletModal').modal();
            DropClientList.init();
            $("#walletId").val(data);
            $('#WalletModal').modal('show');
        }

        function walletSave() {
            var walletId = $("#walletId").val();
            var TransactionType = $("#TransactionType").val();
            var TransactionAmount = $("#TransactionAmount").val();
            var TransDescription = $("#TransDescription").val();
            var AmountType = $("#AmountType").val();
            var PayTypeDiscription = $("#PayTypeDiscription").val();
            var UserEmail = $("#UserEmail option:selected").text();
            



            if (TransactionAmount == "") {
                swal("Enter an Amount")
                return false;
            }

            if (walletId == "") {
                walletId = "0";
            } else {
                walletId = $("#walletId").val();
            }

            $.ajax({
                url: "/admin/wallet/Save",
                method: "post",
                data: {
                    walletId: walletId,
                    TransactionType: TransactionType,
                    TransactionAmount: TransactionAmount,
                    TransDescription: TransDescription,
                    AmountType: AmountType,
                    PayTypeDiscription: PayTypeDiscription,
                    UserEmail: UserEmail,


                },
                success: function (response) {

                    swal("Saved");
                    //var url = '/admin/wallet/Index?Stext=' + str ;
                    //window.location.href = url;
                }
            });
        }

        function modify(data) {
            var walletId = data;
            $.ajax({
                url: "/admin/wallet/Update",
                data: {
                    id: walletId
                },
                success: function (response) {
                    $('#walletId').val(response.data.id);
                    $('#TransactionType').val(response.data.transactionType);
                    $('#TransactionAmount').val(response.data.transactionAmount);
                    $('#TransDescription').val(response.data.transDescription);
                    $('#AmountType').val(response.data.amountType);
                    $('#PayTypeDiscription').val(response.data.payTypeDiscription);

                    $('#WalletModal').modal();
                    $('#WalletModal').modal('show');

                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }

        // end Credit wallet

        var DropClientList = {
            init: function () {
                var url = '/Admin/Acct/FetchDetailDropDown?dropdesc=ClientList';

                $.get(url,
                    function (response) {
                        var availabledata = response.data;
                        
                        $("#UserEmail").empty();
                        $("#ReferenceCode").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#UserEmail").append(new Option(availabledata[i].text, availabledata[i].value));
                            $("#ReferenceCode").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $("#UserEmail").select2({
                            placeholder: "Select.. option"
                        });
                        $("#ReferenceCode").select2({
                            placeholder: "Select.. Ref or Email"
                        });


                    });
            }
        }
    </script>


}