﻿@model SharedErp.Models.RequisitionHeaderDTO
@{
    ViewData["Title"] = "Create REq Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*comnmit*@
@section styles{

    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }

        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }

        .detbtn {
            position: relative;
            height: 36px;
            color: white;
            font-weight: bold;
        }

        .gridstyle {
            background-color: #337AB7;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        .Clr {
            color: white;
            font-weight: bold;
        }

        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>
}

<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Edit Policy
            </h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-subheader__group" id="kt_subheader_search">
                @*<span class="kt-subheader__desc" id="kt_subheader_total">
                    Alex Stone
                </span>*@

            </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/Inventory/Request/Index" class="btn btn-default btn-bold">
                Back
            </a>

            <div class="btn-group">
                <a href="~/Inventory/Request/create" class="btn btn-brand btn-bold">

                    Add New Record
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
               
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Content Head -->										<!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">


            <div class="kt-portlet__body">
                <form action="#" method="post">

                    <input type="hidden" id="texens" name="user" value="" />
                    @Html.AntiForgeryToken()

                  

                    <div class="tab-content">
                        <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <div class="kt-portlet__body">

                                    <!--begin: form -->
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                                <label class="col-lg-4 col-form-label">Code</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <input type="text" id="Code" class="form-control" asp-for="Code" placeholder="Code">
                                                    <div class="form-control-feedback"><span asp-validation-for="Code"></span></div>
                                                </div>
                                                <label class="col-lg-4 col-form-label">Amount</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <input type="text" id="Amount" class="form-control" asp-for="Amount" placeholder="Amount">
                                                    <div class="form-control-feedback"><span asp-validation-for="Amount"></span></div>
                                                </div>
                                                <label class="col-lg-4 col-form-label">Code</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <input type="text" id="TotalQty" class="form-control" asp-for="TotalQty" placeholder="TotalQty">
                                                    <div class="form-control-feedback"><span asp-validation-for="TotalQty"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                                <label class="col-lg-4 col-form-label">RequestType</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    @* @Html.DropDownListFor(m => m.RequestType, Html.GetEnumSelectList(Model.RequestType.GetType()), new { @class = "form-control", id= "RequestType" })*@
                                                    @Html.DropDownListFor(m => m.RequestType, Html.GetEnumSelectList(typeof(SharedErp.Models.Enum.RequestTypes)), new { @class = "form-control dropdown-select2" })
                                                </div>
                                                <label class="col-lg-4 col-form-label">Notes</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <input type="text" id="Notes" class="form-control" asp-for="Notes" placeholder="Notes">
                                                    <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                                                </div>
                                                <label class="col-lg-4 col-form-label">Location</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <input type="text" id="Location" class="form-control" asp-for="Location" placeholder="Location">
                                                    <div class="form-control-feedback"><span asp-validation-for="Location"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                                <label class="col-lg-4 col-form-label">Request Date</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <div class="m-input-icon m-input-icon--right">

                                                        <div class="input-group date">
                                                            @*date-format="D, dd MM yyyy"*@
                                                            <input type="text" class="form-control" asp-for="TransactionDate" readonly id="kt_datepicker_3" />
                                                            <div class="input-group-append">
                                                                <span asp-validation-for="TransactionDate" class="input-group-text">
                                                                    <i class="la la-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-control-feedback"><span asp-validation-for="TransactionDate"></span></div>
                                                </div>
                                                <label class="col-lg-4 col-form-label">Department</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <input type="text" id="Department" class="form-control" asp-for="Department" placeholder="Department">
                                                    <div class="form-control-feedback"><span asp-validation-for="Department"></span></div>
                                                </div>
                                                <label class="col-lg-4 col-form-label">Requested By</label>
                                                <div class="col-lg-8" style="padding-bottom:7px;">
                                                    <input type="text" id="RequestedBy" class="form-control" asp-for="IssuedBy" placeholder="TotalQty">
                                                    <div class="form-control-feedback"><span asp-validation-for="IssuedBy"></span></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--end: form -->

                                </div>
                                <label><strong> Details:</strong>  </label>


                                <hr width="100%" />
                                <div class="kt-portlet__body kt-portlet__body--fit">
                                    <!--begin: Datatable -->
                                    <!--begin: Search Form -->
                                    <div class="kt-form kt-form--label-right  ">
                                        <div class="row align-items-center">

                                            <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                
                                                <div class="btn-group">
                                                    <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                        <a onclick='javascript: AddDetailClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                </g>
                                                            </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                        </a>


                                                    </div>
                                                </div>


                                                <a href="#" class="btn btn-default ">
                                                    <i class="la la-cart-plus"></i> New Order
                                                </a>

                                       

                                            </div>

                                        </div>
                                        <!-- begin: Datatable -->
                                        <div class="m-portlet__body table-responsive" style="padding: 3px;">
                                            <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                                <thead>

                                                    <tr>
                                                        <th></th>

                                                        <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Code</th>
                                                        <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Description</th>
                                                        <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Unit Counts</th>
                                                        <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Ads Price</th>
                                                        <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Amount</th>
                                                        <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Calc Type</th>

                                                        <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">IsMax</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            @Html.AntiForgeryToken()
                                        </div>
                                        <!--end: Datatable -->

                                    </div>

                                    <!--end: Search Form -->
                                    <!--end: Datatable -->
                                </div>

                            </div>
                        </div>


                        @*Begin Modal Listing *@

                        <!--begin::Small Modal For Warehouse-->
                        <div class="modal fade col-xs-12" id="DetailModal" role="dialog" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title  left text-left "> Create A Detail</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body" style="width:100%;">

                                        <input type="hidden" id="warehouseid" />
                                        <div class="modal-body">
                                            <form action="" id="routeModal" method="post">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label class="form-label"> Code: </label>
                                                            <input type="text" asp-for="WarehouseCode" placeholder="Enter WarehouseCode" class="form-control" id="WarehouseCode" />
                                                            <div class="form-control-feedback"><span asp-validation-for="WarehouseCode"></span></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label"> WarehouseName: </label>
                                                            <input type="text" asp-for="WarehouseName" placeholder="Enter WarehouseName" class="form-control" id="WarehouseName" />
                                                            <div class="form-control-feedback"><span asp-validation-for="WarehouseName"></span></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="form-label"> Address: </label>
                                                            <input type="text" asp-for="WarehouseAddress1" placeholder="Enter WarehouseAddress1" class="form-control" id="WarehouseAddress1" />
                                                            <div class="form-control-feedback"><span asp-validation-for="WarehouseAddress1"></span></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                        <div>

                                            <div class="modal-footer" style="width:100%;">
                                                <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                                                <button id="submitUpdateForm" class="btn btn-success" onclick="warehouseSave();" type="button"> Save </button>
                                            </div>
                                            <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                                                <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                                    <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                                                </span>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:::Small Modal For Warehouse-->
            

                    </div>


                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" title="Add New Row" id='addButton' class="btn btn-primary"><i class="la la-plus-square"></i></button>
                            <button type="button" id="bthSaveAll" title="Save All" onclick="btnSave();" class="btn btn-success" aria-hidden="true"><i class="la la-save"></i></button>
                            <button type="button" class="btn btn-danger btn-custom" id='removeButton' title="Upload" aria-hidden="true"> <i class="la la-trash"></i></button>
                            <button type="button" class="btn btn-warning"><i class="la la-paperclip"></i></button>
                        </div>

                    </div>

                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>


                </form>
            </div>
        </div>
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>



<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>
        jQuery(document).ready(function () {
        
            $('.dropdown-select2').select2();
          
        });

    </script>




    <script>

        var ctt = null;

       var DropWarehouses = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseList",
                    function (response) {
                        var availabledata = response.data;
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }



        // Begin: Script for Modal


        // Inventory Item  Begins
        function AddDetailClick(ctt) {
            $('#DetailModal').modal();
            $('#DetailModal').modal('show');
        }



    </script>

}