﻿@{
    ViewData["Title"] = "Vettee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Edit Policy List
            </h3>

            <div class="kt-subheader__group" id="kt_subheader_search">   </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/NationFleets/Route/Index" class="btn btn-default btn-bold">
                Back
            </a>


            <div class="btn-group">
                <a href="#" class="btn btn-brand btn-bold">
                    Options
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" id="txtSearch" name="user" value="" />
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">
                    <input type="hidden" id="RouteId" />

                    <div class="col-lg-1">

                    </div>
                    <div class="col-lg-2">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <div class="col-lg-12" style="padding-bottom:7px;">
                                <input type="text" placeholder="Ref or Client Email" class="form-control " id="ReferenceCode" />
                                <div class="form-control-feedback"><span asp-validation-for="ReferenceCode"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <label class="col-lg-3 col-form-label" for="RouteType"> From:</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control FromDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-3 col-form-label" for="DepartureTerminalId"> To :</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control ToDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">


                        <a id="btnSearch" style="color:white;" onclick="SearchClick();" class="btn btn-danger btn-bold">
                            Search Vettee
                        </a>
                    </div>

                </div>



            </div>

        </div>

    </div>

    <div class="kt-portlet kt-portlet--tabs">

        <div class="kt-portlet__body">


            @Html.AntiForgeryToken()

            <div class="tab-content">
                <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                    <div class="kt-form kt-form--label-right">
                        <!--begin:  Trips Rows -->
                        <div class="kt-form__body">
                            <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                    <!-- begin:: Subheader -->
                                    <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                        <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                            <div class="col">
                                                <div class="btn-group">
                                                    <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                        <a onclick='javascript: btnClick()' href="~/insurance/policy/edit" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                </g>
                                                            </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                        </a>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                        </div>
                                        <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                            <div class="kt-subheader__wrapper">

                                                <h3 class="kt-subheader__title">
                                                    Vettee List
                                                </h3>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- end:: Subheader -->
                                    <!--begin: Route Datatable -->
                                    <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                        <!--begin: Search Form -->
                                        <div class="kt-form kt-form--label-right  ">
                                            <div class="row align-items-center">

                                                <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                    <a href="#" class="btn btn-default kt-hidden">
                                                        <i class="la la-cart-plus"></i> New Order
                                                    </a>
                                                    @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                </div>

                                            </div>
                                            <!-- begin: Datatable -->
                                            <div class="m-portlet__body " style="padding: 3px;">
                                                <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                    Sucesfully Saved
                                                </div>
                                                <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                     
                                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;"> Reference Code </th>
                                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">ColA</th>
                                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Vettee Firstname</th>
                                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Vette Lastname</th>
                                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Client Email</th>
                       

                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                @Html.AntiForgeryToken()
                                            </div>
                                            <!--end: Datatable -->

                                        </div>

                                        <!--end: Search Form -->
                                        <!--end: Route Datatable -->
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!--End:  Trips Rows  -->
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- end:: Content -->


<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>


<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">All Vettee Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                <table class="table table-bordered">
                    <tr>
                        <td style="width: 30%">clientId</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:clientId}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">referenceCode</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:referenceCode}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">FirstName</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:vetteeFirstName}}</button>
                        </td>
                    </tr>
                   
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>

<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("#");
        });



        jQuery(document).ready(function () {

 

          
        });

        function btnClick() {
            var url = '/insurance/policy/edit';
            window.location.href = url;
        }
    </script>

}




