﻿@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = User;
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}


<div class="m-portlet m-portlet--mobile">


</div>






@section scripts{

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    <script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });
    </script>

}