﻿@model SharedErp.Models.InventoryAdjustmentHeaderDTO
@{
    ViewData["Title"] = "Create REq Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }

        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }

        .detbtn {
            position: relative;
            height: 36px;
            color: white;
            font-weight: bold;
        }

        .gridstyle {
            background-color: #337AB7;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        .Clr {
            color: white;
            font-weight: bold;
        }

        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>
}

<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Create Adjustment
            </h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    Alex Stone
                </span>

            </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/Inventory/InventoryAdjustment/Index" class="btn btn-default btn-bold">
                Back
            </a>

            <div class="btn-group">
                <a href="~/Inventory/InventoryAdjustment/create" class="btn btn-brand btn-bold">

                    Add New Record
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        @*<li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                    <span class="kt-nav__link-text">Save &amp; add new</span>
                                </a>
                            </li>*@
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Content Head -->										<!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">


            <div class="kt-portlet__body">
                <form action="#" method="post">

                    <input type="hidden" id="texens" name="user" value="" />
                    @Html.AntiForgeryToken()

                    @Html.Partial("_form")

                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" title="Add New Row" id='addButton' class="btn btn-primary"><i class="la la-plus-square"></i></button>
                            <button type="button" id="bthSaveAll" title="Save All" onclick="btnSave();" class="btn btn-success" aria-hidden="true"><i class="la la-save"></i></button>
                            <button type="button" class="btn btn-danger btn-custom" id='removeButton' title="Upload" aria-hidden="true"> <i class="la la-trash"></i></button>
                            <button type="button" class="btn btn-warning"><i class="la la-paperclip"></i></button>
                        </div>

                    </div>

                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>


                </form>
            </div>
        </div>
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>



<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>


        //$("#ModalPaytype, #Modalpaydescript").select2({
        //    placeholder: "Select an appropriate option"
        //});
        var counter = 0;
        var i = 0;
        var ic = null;

        jQuery(document).ready(function () {
            //BootstrapDatepicker.init()
            //$('.dropdown-select2').select2();
            CreateARow.init();
        });




        var CreateARow = {
            init: function () {
                if (counter > 50) {
                    swal("Only 50 details are allowed");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'newRowId' + counter)
                    .attr('class', 'form-group m-form__group row rowdetail');

                newTextBoxDiv.after().html(
                    '<input type="hidden" id="hid' + counter + '" name="hid" value="" /><div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  aitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="a-item-' + counter + '" placeholder="Enter item" > </span></div> <div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  bitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="b-item-' + counter + '" placeholder="Enter To cost" > </span></div><div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead citem' + counter + '" type="text" name="textbox' + counter +
                    '" id="c-item-' + counter + '" placeholder="Enter GLAccount" ></div></div> <div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead ditem' + counter + '" type="text" name="textbox' + counter +
                    '" id="d-item-' + counter + '" placeholder="Enter Status" ></div></div>'


                );
                newTextBoxDiv.find('[id]').each(
                    function () {
                        if (this.id) {
                            //this.id = this.id.replace(regex, newName);
                        }

                        var bx = this.id;
                        var subd = bx.substring(0, 1);
                        var subA = bx.substring(1, 7);
                        var subB = bx.substring(7, 8);
                        var itmA = 'a' + subA + counter;
                        var itmB = 'b' + subA + counter;
                        var itmC = 'c' + subA + counter;
                        var itmD = 'd' + subA + counter;
                        var itmE = 'e' + subA + counter;
                        var itmF = 'f' + subA + counter;
                        var itmG = 'g' + subA + counter;
                        var itmH = 'h' + subA + counter;

                        //for a-item-
                        if (bx === itmA) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //$(this).attr('id', id).val(time.itemID).toString();

                        }
                        //for b-item-
                        if (bx === itmB) {

                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');

                        }
                        //for c-item-
                        if (bx === itmC) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');

                        }
                        //for d-item-
                        if (bx === itmD) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //$(this).attr('id', id).val(time.receivedQty).toString();
                        }
                        //for e-item-
                        if (bx === itmE) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                        }

                        //for f-item-
                        if (bx === itmF) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //$(this).attr('id', id).val(time.itemValue).toString();
                        }
                        //for g-item-
                        if (bx === itmG) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //$(this).attr('id', id).val(time.itemCost).toString();
                        }



                    }).end()
                newTextBoxDiv.appendTo("#TextBoxesGroup");
                counter++;

            }
        }


        $('#addButton,#addButtonb0').click(function () {
            CreateARow.init();
        });



        $("#removeButton,#removeButtonb").click(function () {
            counter--;
            $("#newRowId" + counter).remove();
        });

        var param = null;
        var hidguid = null;

        function btnSave() {

            if (counter == 0) {
                return false;
            }

            if ($('#texens').val() == "") {
                // Add Requisition Header
                var transactionDate = $("#kt_datepicker_3").val();
                d = new Date(transactionDate);
                dt = d.getDate();
                mn = d.getMonth();
                mn++;
                yy = d.getFullYear();
                var vDate = dt + "/" + mn + "/" + yy;
                //var vDate = moment(transactionDate, "MM/DD/YYYY").day(0).format("MM/DD/YYYY");
                var adjustmentType = $("#AdjustmentType").val();
                var reference = $("#Reference").val();
                var narratives = $("#Narratives").val();
                var cost = $("#Cost").val();
                var count = $("#Count").val();
                var code = $("#Code").val();
                //var ref = $("#Reference").val();

                //Validating Receive header Columns for Empty values
                if (transactionDate == "") {
                    swal("Enter adjustment Date")
                    return false;
                }
                //if (adjustmentType == "") {
                //    swal("Select adjustment Type")
                //    return false;
                //}
                if (reference == "") {
                    swal("Enter reference")
                    return false;
                }
                if (narratives == "") {
                    swal("Enter narratives")
                    return false;
                }
                //if (cost == "") {
                //    swal("select status")
                //    return false;
                //}
                //if (count == "") {
                //    swal("select status")
                //    return false;
                //}
                if (code == "") {
                    swal("Enter notes")
                    return false;
                }
                //if (ref == "") {
                //    swal("Enter Reference")
                //    return false;
                //}


                $.blockUI({ message: '<h1>Processing...</h1>' });

                $.ajax({
                    url: "/inventory/inventoryAdjustment/CreateHeader",
                    method: "post",
                    data: {

                        Code: code,
                        AdjustmentDate: vDate,
                        Status: count,
                        Reference: reference,
                        AdjustmentType: adjustmentType,
                        Narratives: narratives,
                    },
                    success: function (response) {
                        //$("#newRowId" + i).remove();
                        // Get the generated header id and keep it inside hidden textbox
                        param = JSON.stringify({ guid: response.data.id });
                        // Save all details with header id
                        Savedetailbyheaderid(response, param);
                        document.getElementById("texens").value = response.data.id;
                        $.unblockUI();
                    }
                });
            } else {
                $.blockUI({ message: '<h1>Processing...</h1>' });
                // allows you continue add more rows details to an already inserted Headeer
                param = $('#texens').val();
                Savedetailbyheaderid(param);
                $.unblockUI();
            }
        };


        function Savedetailbyheaderid(param) {
            // Add Requisition Detail
            console.log('counter = ' + counter);

            if ($('#texens').val() == "") {
                hidguid = String(param.data.id);
            } else {
                hidguid = String($('#texens').val());
            }

            for (i; i < counter; i++) {
                var item = $('#a-item-' + i).val();
                var cost = $('#b-item-' + i).val();
                var glAccount = $('#c-item-' + i).val();
                var status = $('#d-item-' + i).val();

                $.ajax({
                    url: "/inventory/inventoryAdjustment/AddAdjustmentDetail",
                    method: "post",
                    data: {
                        ItemID: item,
                        Cost: cost,
                        GLAdjustmentPostingAccount: glAccount,
                        Status: status,
                        AdjustmentID: hidguid
                    },
                    success: function (response) {
                        //$("#newRowId" + i).remove();

                    },
                    error: function (err) {
                        console.log(err);

                        return err;
                    }
                });
                //add the object to the the declared array at the top
            }

            window.location.href = 'Update/' + hidguid;

            // Takes the detail row counts and insert with the header id , one by one

        };

    </script>


    <script>
        function show() {
            //var selected = document.querySelector("#warehouseW").value;
            var selected = $("#warehouseW").val();
            console.log("Your select is: " + selected);
            var selectedToNum = Number(selected);

            $.get('@Url.Action("GetBins", "InventoryWarehouseBin")?warehouseId=' + selectedToNum,
                function (data) {
                    console.log(data);

                    for (var i = 0; i < data.length; i++) {
                        $("#warehouseBin").append(new Option(data[i].warehouseBinName, data[i].id));
                    }

                });
        }

          function fetchITems() {
            //var selected = document.querySelector("#warehouseW").value;
            var selected = $("#warehouseW").val();
            console.log("Your select is: " + selected);
            var selectedToNum = Number(selected);

            $.get('@Url.Action("GetBins", "InventoryWarehouseBin")?warehouseId=' + selectedToNum,
                function (data) {
                    console.log(data);

                    for (var i = 0; i < data.length; i++) {
                        $("#warehouseBin").append(new Option(data[i].warehouseBinName, data[i].id));
                    }

                });
        }


        // Begin: Script for Modal
        var ctt = null;

        // Warehouse  Begins
        function warehouseClick(ctt) {
            $('#WarehouseModal').modal();
            $('#WarehouseModal').modal('show');
        }

        function warehouseSave() {
            var Warehouseid = $("#warehouseid").val();
            var WarehouseCode = $("#WarehouseCode").val();
            var WarehouseName = $("#WarehouseName").val();
            var WarehouseAddress1 = $("#WarehouseAddress1").val();

            if (WarehouseName == "") {
                swal("Enter an WarehouseName")
                return false;
            }

            if (Warehouseid == "") {
                warehouseid = "0";
            } else {
                warehouseid = $("#warehouseid").val();
            }

            $.getJSON("/inventory/inventorysetup/WarehouseSave/?Id=" + warehouseid + "&Code=" + WarehouseCode + "&Name=" + WarehouseName + "&Address1=" + WarehouseAddress1,
                function (data) {
                });
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Warehouse  Ends

        // End: Script for Modal

    </script>

}