﻿@{
    ViewData["Title"] = "Adjustment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = User;
}


@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}


@*<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-brand"></i>
        </div>
        <div class="m-alert__text">
            Get company Information.. You can create <a href="~/inventory/CompanyInfo/create" target="_blank">Add New</a> if it doesn't already exist.
        </div>
    </div>*@
<div class="m-portlet m-portlet--mobile">


    <div class="kt-portlet kt-portlet--mobile">
        <!-- begin:: Subheader -->
        <div class="kt-subheader al " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
            <div class="kt-subheader__wrapper">

                <!--begin::Section-->
                <div class="kt-section">
                    <span class="kt-section__info">Separate groups of related menu items with a divider.</span>
                    <div class="kt-section__content">
                        <div class="row">
                            <div class="col">
                                <div class="btn-group">
                                    <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
                                        <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                </g>
                                            </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-left">
                                            <!--begin::Nav-->
                                            <ul class="kt-nav">
                                                <li class="kt-nav__head">
                                                    Add anything or jump to:
                                                    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                        <span class="kt-nav__link-text">Order</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                        <span class="kt-nav__link-text">Ticket</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-link"></i>
                                                        <span class="kt-nav__link-text">Goal</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                                        <span class="kt-nav__link-text">Support Case</span>
                                                        <span class="kt-nav__link-badge">
                                                            <span class="kt-badge kt-badge--success">5</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__foot">
                                                    <a class="btn btn-label-brand btn-bold btn-sm" href="~/inventory/CompanyInfo/create">New Record</a>
                                                    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                                </li>
                                            </ul>
                                            <!--end::Nav-->

                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group">
                                    <label class="form-control ">Status</label>
                                    <select type="" class="form-control" aria-haspopup="true" aria-expanded="false">
                                        <option value="">Select All Status</option>
                                        <option value="1">Online</option>
                                        <option value="2">Retail</option>
                                        <option value="3">Direct</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">

                                <div class="m-input-icon m-input-icon--left">

                                    <div class="input-group date pull-left" id='kt_daterangepicker_6'>
                                        <input type='text' class="form-control" readonly placeholder="Select date range" />
                                        <div class="input-group-append">
                                            <span asp-validation-for="TransactionDate" class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-subheader__main">
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">

                    <h3 class="kt-subheader__title">
                        Adjustment Information
                    </h3>

                </div>

            </div>
        </div>
        <!-- end:: Subheader -->

        <div class="kt-portlet__body" style="padding-top:0px;margin-top:0px;">


            <div class="col-xl-8">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">

                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <!--begin: Datatable -->
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right  ">
                            <div class="row align-items-center">

                                <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                    <a href="#" class="btn btn-default kt-hidden">
                                        <i class="la la-cart-plus"></i> New Order
                                    </a>
                                    @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                </div>

                            </div>
                            <!-- begin: Datatable -->
                            <div class="m-portlet__body table-responsive" style="padding: 3px;">
                                <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                    <thead>
                                        <tr>
                                            <a href="~/Inventory/InventoryAdjustment/create" class="btn btn-brand btn-bold pull-right right">

                                                Add New Record
                                                <a href="#" class="btn btn-icon pull-right right" aria-haspopup="true" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                        </g>
                                                    </svg>
                                                </a>
                                            </a>

                                            <th></th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Code</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Date</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">AdjustmentType</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Status</th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                                @Html.AntiForgeryToken()
                            </div>
                            <!--end: Datatable -->

                        </div>
                        <!--end: Search Form -->
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>




@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    destroy: true,
                    dom: 'lBfrtip',
                    buttons: [
                        { extend: 'csv', className: 'btn btn-warning ' },
                        { extend: 'excel', className: 'btn btn-secondary ' },
                        { extend: 'pdf', className: 'btn btn-primary ' },
                        { extend: 'print', className: 'btn btn-warning ' },

                    ],

                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    order: [[0, 'asc']],
                    select: true,
                    responsive: true,
                    buttons: true,
                    length: 4,

                    ajax: '/Inventory/InventoryAdjustment/getdata',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            dataSrc: '',
                            mDataProp: '',
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "code"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return new Date(n.adjustmentDate).toISOString().slice(0, 10)
                            }
                        },
                        {
                            bSortable: false,
                            data: "adjustmentType"

                        },
                        //{
                        //    bSortable: false,
                        //    data: "status"
                        //},
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                if (n.issued == false && n.verified == false && n.approved == false && n.void == false ) {
                                    return 'None <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--primary">0</span>'
                                } else if (n.issued == true && n.verified == false && n.approved == false) {
                                    return 'Awaits Verification <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--danger">1</span>'
                                }
                                else if (n.issued == true && n.verified == true && n.approved == false  ) {
                                    return 'Awaits Approval <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--danger">1</span>'
                                }
                                else if (n.issued == true && n.verified == true && n.approved == true ) {
                                    return 'Approved <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--success">1</span>'
                                }
                                else if (n.issued == false || n.verified == false && n.approved == true && n.void == true) {
                                    return 'Returned <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--warning">1</span>'
                                }

                            }
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                var RtBackToCapture = 1;
                                var RtBackToVerify = 2;
                                var hasCanInvSave = `@user.HasClaim("Permission", "CanInvSave")`
                                var hasCanInvVerify = `@user.HasClaim("Permission", "CanInvVerify")`
                                var hasCanInvApprove = `@user.HasClaim("Permission", "CanInvApprove")`

                                //means it has been receive but not verify
                                if (n.issued == true && n.verified == false && n.approved == false && hasCanInvVerify == "True") {
                                    return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                        <div class="dropdown-menu dropdown-menu-right">
                                        \n <a  href="javascript:void(0);" class="dropdown-item verify-item" ><i class="la la-leaf "></i> Verify </a>
                                        \n <a class="dropdown-item" href="/Inventory/InventoryAdjustment/update/`+ n.id + `"><i class="la la-edit"></i> View Details </a>
                                        \n <a class="dropdown-item " onclick="btnReturn('`+ n.id + `','` + RtBackToCapture + `');"><i class="la la-edit"></i> Return</a>
                                        \n </div>
                                    \n </span>\n`
                                }
                                //means it has been Verified but not approved
                                else if (n.issued == true && n.verified == true && n.approved == false && hasCanInvApprove == "True") {
                                    return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                        <div class="dropdown-menu dropdown-menu-right">
                                        \n <a class="dropdown-item approve-item" href="javascript:void(0);"><i class="la la-leaf "></i> Approve </a>
                                        \n <a class="dropdown-item " href="/Inventory/InventoryAdjustment/update/`+ n.id + `"><i class="la la-edit"></i> View Details </a>
                                        \n <a class="dropdown-item " onclick="btnReturn('`+ n.id + `','` + RtBackToVerify + `');" ><i class="la la-edit"></i> Return</a>
                                        \n </div>
                                    \n </span>\n`
                                }
                                //means it has been Approved
                                else if (n.issued == true && n.verified == true && n.approved == true) {
                                    return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                        <div class="dropdown-menu dropdown-menu-right">

                                        \n <a class="dropdown-item " href="/Inventory/InventoryAdjustment/update/`+ n.id + `"><i class="la la-edit"></i> View Details </a>

                                        \n </div>
                                    \n </span>\n`
                                }
                                    //means no approval has been done yet
                                else {
                                    return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                <div class="dropdown-menu dropdown-menu-right">
                                                \n <a class="dropdown-item receive-item" href="javascript:void(0);"><i class="la la-leaf"></i> Receive</a>
                                                \n <a class="dropdown-item" href="/Inventory/InventoryAdjustment/update/`+ n.id + `"><i class="la la-edit"></i> Modify</a>
                                                \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                \n </div>
                                            \n </span>\n`
                                }

                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/Inventory/InventoryAdjustment/DeleteHeader/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                            swal("Deleted!!!");
                            //location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.receive-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();
                    var csrf = $("input[name='__RequestVerificationToken']").val();

                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/Inventory/InventoryAdjustment/Adjust/" + data.id,
                        data: data,
                        success: function (response) {
                            console.log("Adjusted!!!")
                            swal("Adjusted!!!");
                            location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            swal('failed adjusting the selected record');
                        }
                    });
                })
                table.on('click', '.verify-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    //if (data.quantity > data.quantityInStock) {
                    //    alert('Quantity is higher than Quantity-In-Stock');
                    //    return;
                    //}

                    var csrf = $("input[name='__RequestVerificationToken']").val();

                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/Inventory/InventoryAdjustment/verify/" + data.id,
                        data: data,
                        success: function (response) {
                            console.log("Verified!!!")
                            swal("Verified!!!");
                            location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            swal('failed verifying the selected record');
                        }
                    });
                })

                table.on('click', '.approve-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();
                    var csrf = $("input[name='__RequestVerificationToken']").val();

                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/Inventory/InventoryAdjustment/approve/" + data.id,
                        data: data,
                        success: function (response) {
                            console.log("Approved!!!")
                            swal("Approved!!!");
                            location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            swal('failed Approving the selected record');
                        }
                    });
                })

                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };

        var ctt = null;
        var RtType = null;

        function btnReturn(ctt,RtType) {
            var csrf = $("input[name='__RequestVerificationToken']").val();

            $.ajax({
                method: "POST",
                headers: {
                    "RequestVerificationToken": csrf
                },
                url: "/Inventory/InventoryAdjustment/return/?id=" + ctt + "&Rttype=" + RtType,
                data: null,
                success: function (response) {
                    console.log("Returned!!!")
                    swal("Returned!!!");
                    location.reload();
                },

                error: function (response) {
                    table.row(tr).remove().draw(true);
                    swal('failed Returning the selected record');
                }
            });
        }

        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });
    </script>

}