﻿@model SharedErp.Models.InventoryAdjustmentHeaderDTO
@*@model IEnumerable<SharedErp.Models.InventoryTransactionModel>*@
@{
    ViewData["Title"] = "Create ISs Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>

}
<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Update Adjustment
            </h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    Alex Stone
                </span>

            </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/Inventory/InventoryAdjustment/Index" class="btn btn-default btn-bold">

                Back
            </a>

            <div class="btn-group">
                <a href="~/Inventory/InventoryAdjustment/create" class="btn btn-brand btn-bold">

                    Add New Record
                </a>

                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                <span class="kt-nav__link-text">Save &amp; add new</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Content Head -->										<!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">


            <div class="kt-portlet__body">
                <form action="#" method="post">
                    <input type="hidden" id="texens" name="user" value="" />
                    @Html.AntiForgeryToken()
                    @Html.Partial("_form")

                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button data-ktportlet-tool="Add" type="button" id='addButton' class="btn btn-primary"><i class="la la-plus-square"></i></button>
                            <button type="button" class="btn btn-warning"><i class="la la-paperclip"></i></button>
                            <button id="btnreceive" type="button" class="btn btn-success"><i class="la la-angle-down">Recieve</i></button>
                        </div>

                    </div>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#kt_blockui_4_5_modal">Custom text 2</button>
                </form>
            </div>
        </div>
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>



<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>


        var counter = 0;
        var i = 0;
        var InitialCounterOnPageload = 0;
        var InitialIOnPageload = 0;
        var ic = null;
        var savetype = '';

        jQuery(document).ready(function () {
            //BootstrapDatepicker.init()
            $('.dropdown-select2').select2();


             @*var InvRecId = '@Model.Id';*@
            var InvReqId = '@TempData["vid"]';

            document.getElementById("texens").value = InvReqId;
             // Get All Inv Requisition Detail data with the headerid
            var ur = '@Url.Action("GetAdjustmentHeaderbyId", "InventoryAdjustment")/' + InvReqId
            var options =
            {
                "url": ur,
                "method": "post"
            }
            $.getJSON(options, { format: "json" }, function (response) {
                document.getElementById("kt_datepicker_3").value = response.data.adjustmentDate;
                document.getElementById("AdjustmentType").value = response.data.adjustmentType;
                document.getElementById("Reference").value = response.data.reference;
                document.getElementById("Narratives").value = response.data.narratives;
                document.getElementById("Code").value = response.data.code;

                //document.getElementById("Cost").value = response.data.cost;
                document.getElementById("Count").value = response.data.count;
                document.getElementById("texens").value = InvReqId;

            });

            // Get All Inv Requisition Detail data with the headerid
            var ur = '@Url.Action("GetDetail", "InventoryAdjustment")/' + InvReqId
            var options =
            {
                "url": ur,
                "method": "post"
                //data: {
                //    InventoryReceivedID: InvRecId
                //}
            }
            $.getJSON(options, { format: "json" }, function (data) {
                console.log(data);
                 //var ts1 = data[0].warehouseID;
                for (var i = 0; i < data.length; i++) {

                    var time = data[i];
                    var itemid = time.itemID;
                    var warehouseid = time.warehouseID;
                    var warehousebinid = time.warehouseBinID;

                    if (counter > 50) {
                        swal("Only 50 details are allowed");
                        return false;
                    }

                    var nwcounter = counter;
                    var newTextBoxDiv = $(document.createElement('div'))
                        .attr("id", 'newRowId' + counter)
                        .attr('class', 'form-group m-form__group row newRow rowdetail')

                    var bx = $(".box").attr("id");
                    if (nwcounter === 0) {
                        var k = 0;
                    }


                    newTextBoxDiv.after().html(
                        '<input type="hidden" id="hid' + counter + '" name="hid" value="" /><div class="col-lg-2"> <span class="aclass" > ' +
                        '<input class="form-control txtpax color-placeholder typeahead  aitem' + counter + ' " type="text" name="textbox' + counter +
                        '" id="a-item-' + counter + '" placeholder="Enter item" > </span></div> <div class="col-lg-2"> <span class="aclass" > ' +
                        '<input class="form-control txtpax color-placeholder typeahead  bitem' + counter + ' " type="text" name="textbox' + counter +
                        '" id="b-item-' + counter + '" placeholder="Enter cost" > </span></div><div class="col-lg-2">' +
                        '<input class="form-control txtpax color-placeholder typeahead citem' + counter + '" type="text" name="textbox' + counter +
                        '" id="c-item-' + counter + '" placeholder="Enter GLAccount" ></div></div> <div class="col-lg-2">' +
                        '<input class="form-control txtpax color-placeholder typeahead ditem' + counter + '" type="text" name="textbox' + counter +
                        '" id="d-item-' + counter + '" placeholder="Enter status" ></div></div><div class="col-lg-1"> <div class="input-group date"><div class="input-group date">' +
                        '   <div class="input-group-append"><span style="color:white;" id="g-item-' + counter + '" class= "input-group-text btn-success detbtn gitem ' + counter + '"> <a class="" onclick="UpdateSingleRow(' + counter + ');"><i style="color:white;" class="la la-save"></i> </a></span> <span style="color:white;" id="h-item-' + counter + '" class= "input-group-text btn-danger detbtn hitem' + counter + '"> <a class="" onclick="Delete(' + counter + ');"> <i style="color:white;" class="la la-trash Clr"></i> </a></span></div> </div> </div></div>'

                    );

                    newTextBoxDiv.find('[id]').each(
                        function () {
                            if (this.id) {
                                //this.id = this.id.replace(regex, newName);
                            }

                            var bx = this.id;
                            var subd = bx.substring(0, 1);
                            var subA = bx.substring(1, 7);
                            var subB = bx.substring(7, 8);
                            var itmA = 'a' + subA + nwcounter;
                            var itmB = 'b' + subA + nwcounter;
                            var itmC = 'c' + subA + nwcounter;
                            var itmD = 'd' + subA + nwcounter;
                            var itmE = 'e' + subA + nwcounter;
                            var itmF = 'f' + subA + nwcounter;
                            var itmG = 'g' + subA + nwcounter;
                            var itmH = 'h' + subA + nwcounter;
                            var hid = 'hid' + nwcounter;
                            //for a-item-
                            if (bx === itmA) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');
                                $(this).attr('id', id).val(time.itemID).toString();

                            }
                            //for b-item-
                            if (bx === itmB) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');
                                $(this).attr('id', id).val(time.cost).toString();
                            }
                            //for c-item-
                            if (bx === itmC) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');
                                $(this).attr('id', id).val(time.glAdjustmentPostingAccount).toString();
                            }

                            if (bx === itmD) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');
                                $(this).attr('id', id).val(time.glAdjustmentPostingAccount).toString();
                            }
                            //for hidden item
                            if (bx === hid) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');
                                $(this).attr('id', id).val(time.id).toString();
                            }


                        }).end(k++)

                    newTextBoxDiv.appendTo("#TextBoxesGroup");
                    //document.getElementById("upcCode1").value = ttb;
                    counter++;
                    var bx = $(".newRow").attr("id");
                     InitialCounterOnPageload = counter;
                     InitialIOnPageload = counter;

                }
            });


        });


        var CreateARow = {
            init: function () {
                if (counter > 50) {
                    swal("Only 50 details are allowed");
                    return false;
                }

                var nwcounter = counter;
                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'newRowId' + counter)
                    .attr('class', 'form-group m-form__group row newRow rowdetail')

                var bx = $(".box").attr("id");
                if (nwcounter === 0) {
                    var k = 0;
                }


            var newTextBoxDiv = $(document.createElement('div'))
                .attr("id", 'newRowId' + counter)
                .attr('class', 'form-group m-form__group row rowdetail');


                newTextBoxDiv.after().html(
                    '<input type="hidden" id="hid' + counter + '" name="hid" value="" /><div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  aitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="a-item-' + counter + '" placeholder="Enter item" > </span></div> <div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  bitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="b-item-' + counter + '" placeholder="Enter cost" > </span></div><div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead citem' + counter + '" type="text" name="textbox' + counter +
                    '" id="c-item-' + counter + '" placeholder="Enter GLAccount" ></div></div> <div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead ditem' + counter + '" type="text" name="textbox' + counter +
                    '" id="d-item-' + counter + '" placeholder="Enter status" ></div></div><div class="col-lg-1"> <div class="input-group date"><div class="input-group date">' +
                    '   <div class="input-group-append"><span style="color:white;" id="g-item-' + counter + '" class= "input-group-text btn-success detbtn gitem ' + counter + '"> <a class="" onclick="UpdateSingleRow(' + counter + ');"><i style="color:white;" class="la la-save"></i> </a></span> <span style="color:white;" id="h-item-' + counter + '" class= "input-group-text btn-danger detbtn hitem' + counter + '"> <a class="" onclick="Delete(' + counter + ');"> <i style="color:white;" class="la la-trash Clr"></i> </a></span></div> </div> </div></div>'

                );


                    newTextBoxDiv.find('[id]').each(
                        function () {
                            if (this.id) {
                                //this.id = this.id.replace(regex, newName);
                            }

                            var bx = this.id;
                            var subd = bx.substring(0, 1);
                            var subA = bx.substring(1, 7);
                            var subB = bx.substring(7, 8);
                            var itmA = 'a' + subA + nwcounter;
                            var itmB = 'b' + subA + nwcounter;
                            var itmC = 'c' + subA + nwcounter;
                            var itmD = 'd' + subA + nwcounter;
                            var itmE = 'e' + subA + nwcounter;
                            var itmF = 'f' + subA + nwcounter;
                            var itmG = 'g' + subA + nwcounter;
                            var itmH = 'h' + subA + nwcounter;

                            //for a-item-
                            if (bx === itmA) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');


                            }
                            //for b-item-
                            if (bx === itmB) {

                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');

                            }
                            //for c-item-
                            if (bx === itmC) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');

                            }
                            //for d-item-
                            if (bx === itmD) {
                                var id = $(this).attr('id');
                                id = id.replace(/\s/g, '_');

                            }


                        }).end(k++)

                    newTextBoxDiv.appendTo("#TextBoxesGroup");

                    counter++;
            }
        }

        $('#addButton,#addButtonb0').click(function () {
            CreateARow.init();
        });

        $("#removeButton").click(function () {
            counter--;
            $("#newRowId" + counter).remove();
        });


        $("#btnreceive").click(function () {
            savetype = 'SendforVer'
            btnSave(ctt)

        });


        var param = null;
        var hidguid = null;
        var Dhid = null;
        var ctt = null;

        function Delete(ctt) {
            var idH = $('#texens').val();
            Dhid = '#hid' + ctt;
            var id = $(Dhid).attr('id');
            id = id.replace(/\s/g, '_');
            var r = $(Dhid).attr('id', id).val();

            if (r == '') {
                counter--;
                $("#newRowId" + counter).remove();
            } else {

                $.getJSON("/inventory/InventoryAdjustment/DeleteDetail/?id=" + r,
                    function (data) {
                        swal("Deleted..");
                    });
                window.location.href = '' + idH;
            }

        };

        function UpdateSingleRow(ctt) {
            btnSave(ctt);
        };




        function btnSave(ctt) {

            var transactionDate = $("#kt_datepicker_3").val();
            d = new Date(transactionDate);
            dt = d.getDate();
            mn = d.getMonth();
            mn++;
            yy = d.getFullYear();
            var vDate = dt + "/" + mn + "/" + yy;
            var adjustmentType = $("#AdjustmentType").val();
            var reference = $("#Reference").val();
            var narratives = $("#Narratives").val();
            var cost = $("#Cost").val();
            var count = $("#Count").val();
            var code = $("#Code").val();
            var idH = $('#texens').val();
            var Iscaptured = false;

          // validates for send for verfication
            if (savetype == 'SendforVer') {
                Iscaptured = true;
            }

            //Validating Receive header Columns for Empty values
            if (transactionDate == "") {
                swal("Enter Issue Date")
                return false;
            }
            if (adjustmentType == "") {
                swal("Select adjustment Type")
                return false;
            }
            if (reference == "") {
                swal("Enter reference")
                return false;
            }
            if (narratives == "") {
                swal("Enter narratives")
                return false;
            }
            if (cost == "") {
                swal("select status")
                return false;
            }
            if (count == "") {
                swal("select status")
                return false;
            }
            if (code == "") {
                swal("Enter notes")
                return false;
            }
            if (counter == 0) {
                return false;
            }

            //System Validates if this action is for Create or Update Receive Header  by hidden value
            if ($('#texens').val() == "") {
                // Create new inventoryReceive Header
                $.blockUI({ message: '<h1>Processing...</h1>' });
                $.ajax({
                    url: "/inventory/InventoryAdjustment/CreateHeader",
                    method: "post",
                    data: {

                        Code: code,
                        AdjustmentDate: transactionDate,
                        Status: count,
                        AdjustmentType: adjustmentType,
                        Reference: reference,
                        Narratives: narratives,

                    },
                    success: function (response) {
                        // Get the generated header id and keep it inside hidden textbox
                        param = JSON.stringify({ guid: response.data.id });
                        // Save all details with header id
                        Savedetailbyheaderid(response, param);
                        document.getElementById("texens").value = response.data.id;
                        $.unblockUI();
                    }
                });
            } else {
                $.blockUI({ message: '<h1>Processing...</h1>' });

                 // Update Existing inventoryReceive Header
                $.ajax({
                    url: "/inventory/InventoryAdjustment/UpdateHeader",
                    method: "post",
                    data: {

                        Code: code,
                        AdjustmentDate: vDate,
                        Status: count,
                        Reference: reference,
                        Narratives: narratives,
                        AdjustmentType: adjustmentType,
                        TransactionDate: vDate,
                        Captured: Iscaptured,
                        Id: idH
                    }, success: function (response) {

                        param = $('#texens').val();

                        if (savetype == 'SendforVer') {
                            Swal(" Requisition has been Sent for Verification...");
                        } else {
                            // This action allows you continue add more rows details to an already inserted Header
                            Savedetailbyheaderid(param, ctt);
                        }
                                              $.unblockUI();
                    }
                });
            }
        }


        function Savedetailbyheaderid(param,ctt) {
            // Add inventoryReceive Detail
            console.log('counter = ' + counter);

            if ($('#texens').val() == "") {
                hidguid = String(param.data.id);
            } else {
                hidguid = String($('#texens').val());
            }

            // Takes the detail row counts and insert with the header id , one by one
            var ii = InitialIOnPageload;
            var AddedCounter = counter - InitialCounterOnPageload;


            // Get and Validate detail id if it already exist by hidden field
            Dhid = '#hid' + ctt;
            var id = $(Dhid).attr('id');
            id = id.replace(/\s/g, '_');
            ic = $(Dhid).attr('id', id).val();

            if (ic != "") {
                //DO update if detail data already exist
                var item = $('#a-item-' + ctt).val();
                var cost = $('#b-item-' + ctt).val();
                var glAccount = $('#c-item-' + ctt).val();
                var status = $('#d-item-' + ctt).val()

                $.ajax({
                    url: "/inventory/InventoryAdjustment/UpdateAdjustmentDetail",
                    method: "post",
                    data: {
                        Id: ic,
                        ItemID: item,
                        Cost: cost,
                        GLAdjustmentPostingAccount: glAccount,
                        Status: status,
                        AdjustmentID: hidguid
                    },
                    success: function (response) {
                        // validates for send for verfication
                            Swal("Updated ...");
                    },
                    error: function (err) {
                        console.log(err);

                        return err;
                    }
                });
            } else {
                for (i; i < AddedCounter; i++) {
                     //DO Create if detail data does not exist
                    var item = $('#a-item-' + ctt).val();
                    var cost = $('#b-item-' + ctt).val();
                    var glAccount = $('#c-item-' + ctt).val();
                    var status = $('#d-item-' + ctt).val()

                    ii++;

                    $.ajax({
                        url: "/inventory/InventoryAdjustment/AddAdjustmentDetail",
                        method: "post",
                        data: {
                            ItemID: item,
                            Cost: cost,
                            GLAdjustmentPostingAccount: glAccount,
                            Status: status,
                            AdjustmentID: hidguid
                        },
                        success: function (response) {
                            Swal("Saved ...");
                        },
                        error: function (err) {
                            console.log(err);

                            return err;
                        }
                    });
                    //add the object to the the declared array at the top
                }
                window.location.href = '' + hidguid;
            }

        };
    </script>


    <script>
        function show() {
            //var selected = document.querySelector("#warehouseW").value;
            var selected = $("#warehouseW").val();
            console.log("Your select is: " + selected);
            var selectedToNum = Number(selected);

            $.get('@Url.Action("GetBins", "InventoryWarehouseBin")?warehouseId=' + selectedToNum,
                function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#warehouseBin").append(new Option(data[i].warehouseBinName, data[i].id));
                    }

                });
        }


        // Begin: Script for Modal

        // Warehouse  Begins
        function warehouseClick() {
            $('#WarehouseModal').modal();
            $('#WarehouseModal').modal('show');
        }

        function warehouseSave() {
            var Warehouseid = $("#warehouseid").val();
            var WarehouseCode = $("#WarehouseCode").val();
            var WarehouseName = $("#WarehouseName").val();
            var WarehouseAddress1 = $("#WarehouseAddress1").val();

            if (WarehouseName == "") {
                swal("Enter an WarehouseName")
                return false;
            }

            if (Warehouseid == "") {
                warehouseid = "0";
            } else {
                warehouseid = $("#warehouseid").val();
            }

            $.getJSON("/inventory/inventorysetup/WarehouseSave/?Id=" + warehouseid + "&Code=" + WarehouseCode + "&Name=" + WarehouseName + "&Address1=" + WarehouseAddress1,
                function (data) {
                });
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Warehouse  Ends



        // Account Drop down

        // End Account
        // End: Script for Modal
    </script>

}