<div class="relative h-screen bg-black">
    <!-- float-items -->
    <div class="hidden md:block">
        <div class="absolute left-40 top-32">
            <button (click)="onClickNav()"><img src="../../../assets/svg/arrow-left.svg" alt="arrow"></button>
        </div>
        <div class="absolute left-0">
            <img class="bg-icons" src="../../../assets/svg/letter-L.svg" alt="icon">
        </div>
        <div class="absolute bottom-80 left-60">
            <img class="bg-icons" src="../../../assets/svg/letter-t.svg" alt="icon">
        </div>
        <div class="absolute right-0 bottom-80">
            <img src="../../../assets/svg/letter-e.svg" alt="icon">
        </div>
        <div class="absolute bottom-0 left-20">
            <img src="../../../assets/svg/letter-s.svg" alt="icon">
        </div>
        <div class="absolute right-20">
            <img src="../../../assets/svg/letter-o.svg" alt="icon">
        </div>
        <div class="absolute bottom-0 right-20">
            <img src="../../../assets/svg/letter-c.svg" alt="icon">
        </div>
    </div>
    <div class="login-wrapper">
        <div class="mb-4 flex justify-center items-center">
            <img src="../../../assets/img/logo.png" alt="">
        </div>
        <div class="bg-gray-200 rounded-t-2xl flex flex-col justify-center items-center py-10">
            <p class="font-semibold mb-4">Login Details</p>
            <p class="text-gray-600">Kindly input your login details below.</p>
        </div>
        <div class="bg-white rounded-t-2xl px-6 relative -top-5 py-10">
            <form (ngSubmit)="login()" #loginForm="ngForm" class="form-content">
                <div class="flex mt-2 mb-6">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-8" aria-hidden="false" aria-label="perm_identity icon">perm_identity</mat-icon>
                    </div>
                    <div class="w-full">
                        <label for="username">Username</label>
                        <input id="username" type="text" [disabled]="loading" [(ngModel)]="loginCredentials.username" required
                            name="username" ngModel #username="ngModel"
                            placeholder="Username"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="username.touched && username.invalid" class="mt-2">
                            <p class="text-red-500 tex-sm">Username is required</p>
                        </div>
                    </div>
                </div>
                <div class="flex mt-2 mb-6">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-4" aria-hidden="false" aria-label="password icon">password</mat-icon>
                    </div>
                    <div class="w-full">
                        <label for="password">Password</label>
                        <input id="password" type="password" [disabled]="loading" [(ngModel)]="loginCredentials.password" name="password"
                            ngModel required name="password" #password="ngModel"
                            placeholder="Password"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="password.touched && password.invalid" class="mt-2">
                            <p class="text-red-500 tex-sm">Password is required</p>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center items-center mb-10 mt-10">
                    <button type="submit" [disabled]="loading"
                        class="bg-black text-white py-6 px-10 rounded-full shadow-2xl w-8/12">
                        Login
                    </button>
                </div>
                <div class="text-center">
                    <p class="underline text-gray-600 mb-10">Forgot password?</p>
                    <p class="text-gray-600 mb-10">Dont have an account ? <a [routerLink]="['/createAccount']"
                            class="underline">Sign up</a></p>
                </div>
            </form>
            <app-loader *ngIf="loading"></app-loader>
        </div>
    </div>
</div>