﻿

@model SharedErp.Areas.Accounts.Models.ReceiptHeader
@{
    ViewData["Title"] = "Create Company Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }

        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }

        .detbtn {
            position: relative;
            height: 36px;
            color: white;
            font-weight: bold;
        }

        .gridstyle {
            background-color: #337AB7;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        .Clr {
            color: white;
            font-weight: bold;
        }

        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>
}
<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Create Receipt
            </h3>

            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    Alex Stone
                </span>

            </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/Accounts/Receipt/Index" class="btn btn-default btn-bold">
                Back
            </a>
            @*<a href="" id="bthSaveAll" onclick="receiptHeaderSave();" class="btn btn-danger btn-bold">
                Save
            </a>*@

            <div class="btn-group">
                <a href="" class="btn btn-brand btn-bold">
                    Add New Record
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" id="txtRouteId" name="user" value="" />
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
       
        <div class="kt-portlet kt-portlet--tabs">


            <div class="kt-portlet__body">
                <form action="#" method="post">

                    <input type="hidden" id="texens" name="user" value="" />
                    @Html.AntiForgeryToken()

                    @Html.Partial("form")

                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" title="Add New Row" id='addButton' class="btn btn-primary"><i class="la la-plus-square"></i></button>
                            <button type="button" id="bthSaveAll" title="Save All" onclick="btnSave();" class="btn btn-success" aria-hidden="true"><i class="la la-save"></i></button>
                            <button type="button" class="btn btn-danger btn-custom" id='removeButton' title="Delete" aria-hidden="true"> <i class="la la-trash"></i></button>
                            <button type="button" class="btn btn-warning"><i class="la la-paperclip"></i></button>
                        </div>

                    </div>

                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>

                </form>

            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>



<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        var counter = 0;
        var i = 0;
        var ic = null;

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate,#TransactionDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    //$("#TerminalId, #RoleId, #Gender").select2({
                    //    placeholder: "Select"
                    //})
                }
            }
        }();

        jQuery(document).ready(function () {
            BootstrapDatepicker.init();
            $('.dropdown-select2').select2();
            CreateARow.init();


        });



        var CreateARow = {
            init: function () {
                if (counter > 50) {
                    swal("Only 50 details are allowed");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'newRowId' + counter)
                    .attr('class', 'form-group m-form__group row rowdetail');

                newTextBoxDiv.after().html(
                    
                    '<input type="hidden" id="hid' + counter + '" name="hid" value="" /><div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  aitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="a-item-' + counter + '" placeholder="Receipt Header" > </span></div> <div class="col-lg-2"> <div class="input-group date"><div class="input-group date">' +
                    '<input class="form-control txtpax color-placeholder typeahead  bitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="b-item-' + counter + '" placeholder="Document No" > </span></div> <div class="col-lg-2"> <div class="input-group date"><div class="input-group date">' +
                    '<input class="form-control txtpax color-placeholder typeahead citem' + counter + '" type="number" name="textbox' + counter +
                    '" id="c-item-' + counter + '" placeholder="Amount" ></div></div> <div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead ditem' + counter + '" type="number" name="textbox' + counter +
                    '" id="d-item-' + counter + '" placeholder="Exchange rate" ></div></div><div class="col-lg-2"> <div class="input-group date"><div class="input-group date">' +
                    '<input class="form-control txtpax color-placeholder typeahead eitem' + counter + '" type="number" name="textbox' + counter +
                    '" id="e-item-' + counter + '" placeholder="currency" ></div></div><div class="col-lg-2"> <div class="input-group date"><div class="input-group date">' +
                    '<input class="form-control txtpax color-placeholder typeahead fitem' + counter + '" type="text" name="textbox' + counter +
                    '" id="f-item-' + counter + '" placeholder="trans Type" ></div></div><div class="col-lg-1"> <div class="input-group date"><div class="input-group date">' +
                    '  </div>'

                );
                newTextBoxDiv.find('[id]').each(
                    function () {
                        if (this.id) {
                            //this.id = this.id.replace(regex, newName);
                        }

                        var bx = this.id;
                        var subd = bx.substring(0, 1);
                        var subA = bx.substring(1, 7);
                        var subB = bx.substring(7, 8);
                        var itmA = 'a' + subA + counter;
                        var itmB = 'b' + subA + counter;
                        var itmC = 'c' + subA + counter;
                        var itmD = 'd' + subA + counter;
                        var itmE = 'e' + subA + counter;
                        var itmF = 'f' + subA + counter;
                       // var itmG = 'g' + subA + counter;
                       // var itmH = 'h' + subA + counter;

                        //for a-item-
                        if (bx === itmA) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                        }
                        //for b-item-
                        if (bx === itmB) {

                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //Fetch Dropdown
                          //  var Dropdownid = $(this).attr('id', id);
                           // DropInventoryItem.init(Dropdownid);
                        }
                        //for c-item-
                        if (bx === itmC) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');


                        }
                        //for d-item-
                        if (bx === itmD) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            // $(this).attr('id', id).val(time.receivedQty).toString();
                        }
                        //for e-item-
                        if (bx === itmE) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //Fetch Dropdown
                           // var Dropdownid = $(this).attr('id', id);
                           // DropLedgerAccount.init(Dropdownid);
                        }
                        //for f-item-
                        if (bx === itmF) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');

                        }
                        //for g-item-
                        //if (bx === itmG) {
                        //    var id = $(this).attr('id');
                        //    id = id.replace(/\s/g, '_');

                        //}



                    }).end()
                newTextBoxDiv.appendTo("#TextBoxesGroup");
                counter++;

            }
        }


        $('#addButton,#addButtonb0').click(function () {
            CreateARow.init();
        });



        $("#removeButton,#removeButtonb").click(function () {
            counter--;
            $("#newRowId" + counter).remove();
        });

        var param = null;
        var hidguid = null;

        function btnSave() {

            if (counter == 0) {
                return false;
            }

            if ($('#texens').val() == "") {
                // Add inventoryReceive Header
                var transactionDate = $("#TransactionDate").val();
                d = new Date(transactionDate);
                dt = d.getDate();
                mn = d.getMonth();
                mn++;
                yy = d.getFullYear();
                var vDate = dt + "/" + mn + "/" + yy;

                var dueDate = $("#DueDate").val();
                d = new Date(dueDate);
                dt = d.getDate();
                mn = d.getMonth();
                mn++;
                yy = d.getFullYear();
                var vDate1 = dt + "/" + mn + "/" + yy;


                var lodgementDate = $("#LodgementDate").val();
                d = new Date(lodgementDate);
                dt = d.getDate();
                mn = d.getMonth();
                mn++;
                yy = d.getFullYear();
                var vDate2 = dt + "/" + mn + "/" + yy;
                //var vDate = moment(transactionDate, "MM/DD/YYYY").day(0).format("MM/DD/YYYY");
                var customerID = $("#CustomerID").val();
                var referenceNumber = $("#ReferenceNumber").val();
                var receiptNumber = $("#ReceiptNumber").val();
                var chequeNumber = $("#ChequeNumber").val();
                var totalAmount = $("#TotalAmount").val();
                var postedBy = $("#PostedBy").val();
                var verifiedBy = $("#verifiedBy").val();

                //Validating Receive header Columns for Empty values
                if (customerID == "") {
                    swal("Enter Customer ID")
                    return false;
                }
                if (referenceNumber == "") {
                    swal("Enter Reference Number ")
                    return false;
                }
                if (receiptNumber == "") {
                    swal("Enter Receipt Number")
                    return false;
                }
                if (chequeNumber == "") {
                    swal("Enter Cheque Number")
                    return false;
                }
                if (dueDate == "") {
                    swal("Enter Due Date")
                    return false;
                }
                if (lodgementDate == "") {
                    swal("Enter Lodgement Date")
                    return false;
                }
                if (totalAmount == "") {
                    swal("Enter Total Amount")
                    return false;
                }
                if (postedBy == "") {
                    swal("Enter the Poster")
                    return false;
                }
                if (verifiedBy == "") {
                    swal("Enter validator")
                    return false;
                }
                if (transactionDate == "") {
                    swal("Enter Transaction Date")
                    return false;
                }


                $.blockUI({ message: '<h1>Processing...</h1>' });

                $.ajax({
                    url: "/accounts/receipt/CreateHeader",
                    method: "post",
                    data: {
                        Reference = referenceNumber,
                        LodgementDate = vDate2,
                        //Posted = posted,
                        PostedBy = postedBy,
                       // PostedDate = postedDate,
                      //  Approved = approved,
                     //   ApprovedBy = approvedBy,
                    //    ApprovedDate = approvedDate,
                       // TenantId = tenantId,
                      //  Captured = captured,
                        CustomerID = customerID,
                        DueDate = vDate1,
                        ChequeNumber = chequeNumber,
                        ReceiptNumber = receiptNumber,
                        ReceiptType = receiptType,
                      //  IsReverse = isReverse,
                      //  LocationId = locationId,
                      //  BankID = bankID,
                      //  Verified = verified,
                        VerifiedBy = verifiedBy,
                       // VerifiedDate = verifiedDate,
                       // UserId = userId,
                      //  Void = Void,
                        TotalAmount = totalAmount,
                        TransactionDate: vDate,
                    },
                    success: function (response) {
                        //$("#newRowId" + i).remove();
                        // Get the generated header id and keep it inside hidden textbox
                        param = JSON.stringify({ guid: response.data.id });
                        // Save all details with header id
                        Savedetailbyheaderid(response, param);
                        document.getElementById("texens").value = response.data.id;
                        $.unblockUI();
                    }
                });
            } else {
                $.blockUI({ message: '<h1>Processing...</h1>' });
                // allows you continue add more rows details to an already inserted Headeer
                param = $('#texens').val();
                Savedetailbyheaderid(param);
                $.unblockUI();
            }
        };



        function Savedetailbyheaderid(param) {
            // Add inventoryReceive Detail
            console.log('counter = ' + counter);

            if ($('#texens').val() == "") {
                hidguid = String(param.data.id);
            } else {
                hidguid = String($('#texens').val());
            }

            for (i; i < counter; i++) {
                var receiptHeader = $('#a-item-' + i).val();
                var documentNo = $('#b-item-' + i).val();
                var amount = $('#c-item-' + i).val();
                var exchangeRate = $('#d-item-' + i).val()
                var currencyId = $('#e-item-' + i).val();
                var transType = $('#f-item-' + i).val();
                //var gLAnalysisType1 = $('#g-item-' + i).val();
                //var assetID = $('#h-item-' + i).val();

                $.ajax({
                    url: "/accounts/receipt/AddReceiptDetail",
                    method: "post",
                    data: {
                        ReceiptHeader: receiptHeader,
                        DocumentNo: documentNo,
                        Amount: amount,
                        ExchangeRate: exchangeRate,
                        CurrencyId: currencyId,
                        TransType: transType,
                        ReceiptId: hidguid

                        
                    },
                    success: function (response) {
                        //$("#newRowId" + i).remove();

                    },
                    error: function (err) {
                        console.log(err);

                        return err;
                    }
                });
                //add the object to the the declared array at the top
            }

            window.location.href = 'Update/' + hidguid;

            // Takes the detail row counts and insert with the header id , one by one

        };

    </script>



}
