﻿@*@model SharedErp.Areas.Accounts.Models.ReceiptHeader*@

<div class="tab-content">

    <div class="kt-form kt-form--label-right">
        <div class="kt-portlet__body">

            <div class="row">
                <input type="hidden" id="RouteId" />


                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        <label class="col-lg-4 col-form-label" for="RouteType">Customer:</label>

                        <div class="input-group date col-lg-8" style="padding-bottom:7px;">
                            
                            <input type="number" asp-for="CustomerID"  class="form-control" id="CustomerID" />

                            <div class="input-group-append">
                                <a onclick='javascript: warehouseClick()'>
                                    <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                        <i style="color:white;" class="la la-plus-circle"></i>
                                    </span>
                                </a>
                            </div>
                        </div>


                        <label class="col-lg-4 col-form-label" for="ReferenceNumber">Reference Number:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="text" asp-for="ReferenceNumber"  class="form-control" id="ReferenceNumber" />
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                        <label class="col-lg-4 col-form-label" for="ReceiptNumber">Receipt Number:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="text" asp-for="ReceiptNumber"  class="form-control" id="ReceiptNumber" />
                        </div>

                        <label class="col-lg-4 col-form-label" for="ChequeNumber">Cheque Number:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="text" asp-for="ChequeNumber" class="form-control" id="ChequeNumber" />
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">


                        <label class="col-lg-4 col-form-label" for="DueDate">Due Date:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">
                                    @*date-format="D, dd MM yyyy"*@
                                    @*<input type="text" class="form-control DueDate" id="kt_datepicker_3" />*@
                                    <input type="text" asp-for="DueDate" class="form-control" id="DueDate" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <label class="col-lg-4 col-form-label" for="LodgementDate">Lodgement Date:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">
                                    @*date-format="D, dd MM yyyy"*@
                                    @*<input type="text" class="form-control LodgementDate" id="kt_datepicker_3" />*@
                                    <input type="text" asp-for="LodgementDate" class="form-control" id="LodgementDate" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        <label class="col-lg-4 col-form-label" for="TotalAmount">Total Amount:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="number" asp-for="TotalAmount" class="form-control" id="TotalAmount" />
                        </div>

                        <label class="col-lg-4 col-form-label" for="PostedBy">Posted By:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="text" asp-for="PostedBy" class="form-control" id="PostedBy" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                        <label class="col-lg-4 col-form-label" for="VerifiedBy">Verifed By:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="text" asp-for="VerifiedBy" class="form-control" id="VerifiedBy" />
                        </div>




                    </div>

                </div>

                @*<div class="col-lg-4">
                <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name)


                </div>
            </div>*@

                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                        <label class="col-lg-4 col-form-label" for="TransactionDate">Transaction Date:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">
                                    @*date-format="D, dd MM yyyy"*@
                                    @*<input type="text" class="form-control DueDate" id="kt_datepicker_3" />*@
                                    <input type="text" asp-for="TransactionDate" class="form-control" id="TransactionDate" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <hr width="100%" />
            <div class="m-portlet__body" id="TextBoxesGroup">
                <div class="form-group gridstyle m-form__group row" style="padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-2 "> <label>Receipt Header: </label></div>
                    <div class="col-lg-2"> <label> Document No: </label></div>
                    <div class="col-lg-2"> <label>Amount: </label></div>
                    <div class="col-lg-2"><label> Exchange Rate: </label></div>
                    <div class="col-lg-2"><label>Currency Id: </label></div>
                    <div class="col-lg-1"> <label> Trans Type: </label></div>

                </div>

                <hr width="100%" style="padding-bottom: 0px; margin-bottom: 5px; padding-top:0px; margin-top:0px;" />


            </div>


        </div>

    </div>


</div>


