﻿@{
    ViewData["Title"] = "Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = User;
}


@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}



<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
            </h3>

            <div class="kt-subheader__group" id="kt_subheader_search">   </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/accounts/receipt/Index" class="btn btn-default btn-bold">
                Back
            </a>


            <div class="btn-group">
                
                <a href="~/accounts/receipt/create" class="btn btn-brand btn-bold">
                    Create new Receipt
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" id="txth" name="user" value="" />
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">


                    <div class="col-lg-1">

                    </div>

                    <div class="col-lg-2">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <div class="col-lg-12" style="padding-bottom:7px;">
                                <input type="text" placeholder="RefCode or Client Email" class="form-control " id="ReferenceCode" />
                                <div class="form-control-feedback"><span asp-validation-for="ReferenceCode"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <label class="col-lg-3 col-form-label" for="FromDate"> From:</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control FromDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-3 col-form-label" for="ToDate"> To :</label>
                            <div class="col-lg-9" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control ToDate" id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">


                        <a id="btnSearch" onclick="SearchClick();" class="btn btn-danger btn-bold">
                            Search
                        </a>



                    </div>



                </div>

            </div>

        </div>

        <div class="kt-portlet kt-portlet--tabs">

            <div class="kt-portlet__body">


                <input type="hidden" id="txtSearch" name="user" value="" />

                <div class="tab-content">
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin: Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">

                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        Receipt Information
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin:  Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>


                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                        Sucesfully Saved
                                                    </div>
                                                    <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Reference</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Receipt Number</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Cheque Number</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Lodgement Date</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Customer Id</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Total Amount</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Transaction Date</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Approved Date</th>
                                                                <th style="background-color: white;  color: black;font-weight: bold; font-size: 14px;">Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Route Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--End:  Trips Rows  -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>


<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>

<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">All Receipt Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">

                <table class="table table-bordered">
                    <tr>
                        <td style="width: 30%">Reference</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:reference}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">Receipt Number</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:receiptNumber}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">Cheque Number</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:chequeNumber}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">Lodgement Date</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:lodgementDate}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">Customer Id</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:customerId}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">Total Amount</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:totalAmount}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">Transaction Date</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:transactionDate}}</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 30%">Transaction Date</td>
                        <td>
                            <button type="button" class="btn btn-bold btn-label-brand btn-sm"> {{:approvedDate}}</button>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>





<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>




@section scripts {
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script>

        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        jQuery(document).ready(function () {
             // fetch data from parameter attached to the redirected url
                str = '@TempData["vStext"]';
                datefrom = '@TempData["vdatefrom"]';
               dateTo = '@TempData["vdateto"]';


            document.getElementById("txtSearch").value = str;
            // launch datatable with params
            DatatablesBasicBasic.init();
        });

        var str = "";
        var dateTo = "";
        var datefrom = "";



         var DatatablesBasicBasic = {
             init: function () {


                 // fetch new data
                 var table = $("#m_table_1").DataTable({
                     destroy: true,
                     dom: 'lBfrtip',
                     buttons: [
                         { extend: 'csv', className: 'btn btn-warning ' },
                         { extend: 'excel', className: 'btn btn-secondary ' },
                         { extend: 'pdf', className: 'btn btn-primary ' },
                         { extend: 'print', className: 'btn btn-warning ' },

                     ],

                     responsive: !0,
                     processing: !0,
                     serverSide: !0,
                     order: [[0, 'asc']],
                     select: true,
                     responsive: true,
                     buttons: true,
                     length: 4,

                     ajax: '/Accounts/receipt/getdata',
                     //? fromDate = ' + datefrom + ' & toDate=' + dateTo + ' & Str=' + str,


                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            dataSrc: '',
                            mDataProp: '',
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "reference"
                        },
                        {
                            bSortable: false,
                            data: "receiptNumber"
                        },
                        {
                            bSortable: false,
                            data: "chequeNumber"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return new Date(n.lodgementDate).toISOString().slice(0, 10)
                            }

                        },
                        {
                            bSortable: false,
                            data: "customerID"
                        },
                        {
                            bSortable: false,
                            data: "totalAmount"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return new Date(n.transactionDate).toISOString().slice(0, 10)
                            }

                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return new Date(n.approvedDate).toISOString().slice(0, 10)
                            }

                        },

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                if (n.captured == false && n.verified == false && n.approved == false && n.void == "false" ) {
                                    return 'None <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--primary">0</span>'
                                  } else  if (n.captured == true && n.verified == false && n.approved == false) {
                                    return 'Awaits Verification <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--danger">1</span>'
                                }
                                else if (n.captured == true && n.verified == true && n.approved == false && n.void == "false" ) {
                                    return 'Awaits Approval <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--danger">1</span>'
                                }
                                else if (n.captured == true && n.verified == true && n.approved == true && n.void == "false" ) {
                                    return 'Approved <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--success">1</span>'
                                }
                                else {
                                    return 'Returned <span style="padding:0px;Margin:0px;" class="kt-badge kt-badge--warning">1</span>'
                                }

                            }
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                var RtBackToCapture = 1;
                                var RtBackToVerify = 2;
                                var hasCanInvSave = `@user.HasClaim("Permission", "CanInvSave")`
                                var hasCanInvVerify = `@user.HasClaim("Permission", "CanInvVerify")`
                                var hasCanInvApprove = `@user.HasClaim("Permission", "CanInvApprove")`

                                //means it has been receive but not verify
                                if (n.captured == true && n.verified == false && n.approved == false && hasCanInvVerify == "True") {
                                    return `\n <span class="dropdown">\n
                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                                                                \n <a  href="javascript:void(0);" class="dropdown-item verify-item" ><i class="la la-leaf "></i> Verify </a>
                                                                                                                \n <a class="dropdown-item" href="/Accounts/receipt/update/`+ n.id + `"><i class="la la-edit"></i> View Details </a>
                                                                                                                \n <a class="dropdown-item " onclick="btnReturn('`+ n.id + `','` + RtBackToCapture + `');"><i class="la la-edit"></i> Return</a>
                                                                                                                \n </div>
                                                                                                            \n </span>\n`
                                }
                                //means it has been Verified but not approved
                                else if (n.captured == true && n.verified == true && n.approved == false && hasCanInvApprove == "True") {
                                    return `\n <span class="dropdown">\n
                                                                                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                                                                \n <a class="dropdown-item approve-item" href="javascript:void(0);"><i class="la la-leaf "></i> Approve </a>
                                                                                                                \n <a class="dropdown-item " href="/accounts/receipt/update/`+ n.id + `"><i class="la la-edit"></i> View Details </a>
                                                                                                                \n <a class="dropdown-item " onclick="btnReturn('`+ n.id + `','` + RtBackToVerify + `');" ><i class="la la-edit"></i> Return</a>
                                                                                                                \n </div>
                                                                                                            \n </span>\n`
                                }
                                    //means it has been Approved
                                else if (n.captured == true && n.verified == true && n.approved == true ) {
                                    return `\n <span class="dropdown">\n
                                                                                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                                <div class="dropdown-menu dropdown-menu-right">

                                                                                                                \n <a class="dropdown-item " href="/Accounts/Receipt/update/`+ n.id + `"><i class="la la-edit"></i> View Details </a>

                                                                                                                \n </div>
                                                                                                            \n </span>\n`
                                }
                                    //means no approval has been done yet
                                else {
                                    return `\n <span class="dropdown">\n
                                                                                                    <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                                                                \n <a class="dropdown-item receive-item" href="javascript:void(0);"><i class="la la-leaf"></i> Receive</a>
                                                                                                                \n <a class="dropdown-item" href="/accounts/receipt/update/`+ n.id + `"><i class="la la-edit"></i> Modify</a>
                                                                                                                \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                                                                                \n </div>
                                                                                                            \n </span>\n`
                                }

                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")

                    var table = $('#m_table_1').DataTable();
                    var selectedRowId = table.row($(this).closest('tr')).data().id;

                    if (selectedRowId.length <= 0) {
                        alert('Please select minimum one data');
                    }
                    else {
                        var CData = new Array();
                        //$(selectedRowId).each(function (data) { });
                            var rowData = table.row($(this).closest('tr')).data();

                            var obj = {
                                Id: rowData.Id,
                                WarehouseId: rowData.warehouseID
                            };
                            CData.push(obj);

                        //$.ajax({
                        //    type: "POST",
                        //    url: "/Test/Update",
                        //    contentType: "application/json;",
                        //    headers: { 'RequestVerificationToken': gettoken() },
                        //    data: CData,
                        //});
                    }

                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/Account/receipt/deleteHeader/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                            swal("Deleted!!!");
                            //location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.receive-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();
                    var csrf = $("input[name='__RequestVerificationToken']").val();

                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/accounts/receipt/recieve/" + data.id,
                        data: data,
                        success: function (response) {
                            console.log("Received!!!")
                            swal("Received!!!");
                            location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            swal('failed receiving the selected record');
                        }
                    });
                })
                table.on('click', '.verify-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    //if (data.quantity > data.quantityInStock) {
                    //    alert('Quantity is higher than Quantity-In-Stock');
                    //    return;
                    //}

                    var csrf = $("input[name='__RequestVerificationToken']").val();

                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/accounts/receipt/verify/" + data.id,
                        data: data,
                        success: function (response) {
                            console.log("Verified!!!")
                            swal("Verified!!!");
                            location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            swal('failed verifying the selected record');
                        }
                    });
                })

                table.on('click', '.approve-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();
                    var csrf = $("input[name='__RequestVerificationToken']").val();

                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/accounts/receipt/approve/" + data.id,
                        data: data,
                        success: function (response) {
                            console.log("Approved!!!")
                            swal("Approved!!!");
                            location.reload();
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            swal('failed Approving the selected record');
                        }
                    });
                })

                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };

        function SearchClick() {
            var str = $('#ReferenceCode').val();
            var fromDate = $('.FromDate').val();
            var toDate = $('.ToDate').val();
            var url = '/accounts/receipt/getdata/?fromDate=' + str + '&fromDate=' + fromDate + '&toDate=' + toDate;
            window.location.href = url;

        }

        var ctt = null;
        var RtType = null;

        function btnReturn(ctt, RtType) {
            var csrf = $("input[name='__RequestVerificationToken']").val();

            $.ajax({
                method: "POST",
                headers: {
                    "RequestVerificationToken": csrf
                },
                url: "/Account/Receipt/return/?id=" + ctt + "&Rttype=" + RtType,
                data: null,
                success: function (response) {
                    console.log("Returned!!!")
                    swal("Returned!!!");
                    location.reload();
                },

                error: function (response) {
                    table.row(tr).remove().draw(true);
                    swal('failed Returning the selected record');
                }
            });
        }





    </script>

}