﻿

@model SharedErp.Models.RouteDTO
@{
    ViewData["Title"] = "Create Company Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }

        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }

        .detbtn {
            position: relative;
            height: 36px;
            color: white;
            font-weight: bold;
        }

        .gridstyle {
            background-color: #337AB7;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        .Clr {
            color: white;
            font-weight: bold;
        }

        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>
}
<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Edit Receipt
            </h3>

            <div class="kt-subheader__group" id="kt_subheader_search">   </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/NationFleets/Route/Index" class="btn btn-default btn-bold">
                Back
            </a>
            <a href="" id="bthSaveAll" onclick="routeSave();" class="btn btn-danger btn-bold">
                Save
            </a>

            <div class="btn-group">
                <a href="#" class="btn btn-brand btn-bold">
                    Add New Record
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" id="txtRouteId" name="user" value="" />
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        @Html.Partial("form")
        <div class="kt-portlet kt-portlet--tabs">


            <div class="kt-portlet__body">


                @Html.AntiForgeryToken()

                <div class="tab-content">
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin:  Trips Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                            <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">

                                            </div>
                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        Details Information
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin: Route Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>
                                                        @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <hr width="100%" />
                                                    <div class="m-portlet__body" id="TextBoxesGroup">
                                                        <div class="form-group gridstyle m-form__group row" style="padding-bottom:0px; margin-bottom:0px;">
                                                            <div class="col-lg-2 "> <label>UPC Code: </label></div>
                                                            <div class="col-lg-2"> <label> Item: </label></div>
                                                            <div class="col-lg-2"> <label>Qty: </label></div>
                                                            <div class="col-lg-2"><label> Cost: </label></div>
                                                            <div class="col-lg-2"><label>Credit Account: </label></div>
                                                            <div class="col-lg-1"> <label> PO Number: </label></div>

                                                        </div>

                                                        <hr width="100%" style="padding-bottom: 0px; margin-bottom: 5px; padding-top:0px; margin-top:0px;" />


                                                    </div>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Route Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--End:  Trips Rows  -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>


<!-- BEgin:: Trip Modal Form goes here -->
<div class="modal modal-xl fade col-xs-12" id="TripModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Trip Data Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="TripId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="TripCode">Code:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" asp-for="TripCode" placeholder="Enter Code" class="form-control" id="TripCode" />
                                            <div class="form-control-feedback"><span asp-validation-for="TripCode"></span></div>
                                        </div>



                                        <label class="col-lg-4 col-form-label" for="RouteType">Vehicle Model:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <select id="VehicleModelId" class="form-control m-input">
                                                <option value="">Select Model:</option>
                                            </select>
                                            <div class="form-control-feedback"><span asp-validation-for="VehicleModelId"></span></div>
                                        </div>
                                        <label class="col-lg-4 col-form-label" for="AvailableOnline">Available Online:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <div class="col-lg-12 col-lg-9 col-xl-6">
                                                <div class="kt-checkbox-inline">
                                                    <input id="AvailableOnline" type="checkbox" checked="">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="DepartureTime">Departure Time:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">


                                            <select id="DepartureTime" class="form-control m-input dropdown-select2">
                                                <option value="">Select Time</option>
                                                <option value="05:00 AM">05:00 AM</option>
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="DepartureTime"></span></div>
                                        </div>

                                        <label class="col-lg-4 col-form-label" for="DriverFee">Parent Route:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <select id="ParentRouteId" class="form-control m-input dropdown-select2">
                                                <option value="">Select Route</option>

                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="ParentRouteId"></span></div>
                                        </div>

                                        <label class="col-lg-4 col-form-label" for="DriverFee">Parent Trip:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">


                                            <select id="ParentRouteDepartureTime" class="form-control m-input dropdown-select2">
                                                <option value="">Select Time</option>
                                                <option value="05:00 AM">05:00 AM</option>
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="ParentRouteDepartureTime"></span></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="tripSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Trip Modal Form  -->
<!-- BEgin:: Fare Modal Form goes here -->
<div class="modal fade col-xs-12" id="FareModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A Fare</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="FareId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-label"> Vehicle Model: </label>
                                <select id="FVehicleModelId" class="form-control m-input">
                                    <option value="">Select Model:</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="FVehicleModelId"></span></div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Amount: </label>
                                    <input type="text" asp-for="Amount" placeholder="Enter Amount" class="form-control" id="Amount" />
                                    <div class="form-control-feedback"><span asp-validation-for="Amount"></span></div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="fareSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Fare Modal Form  -->
<!-- BEgin:: SubRoute Modal Form goes here -->
<div class="modal fade col-xs-12" id="SubRouteModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A SubRoute</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <input type="hidden" id="SubRouteId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-label"> Sub Route: </label>
                                <div class="input-group date">

                                    <select id="SRouteId" class="form-control m-input">
                                        <option value="">Select Model:</option>
                                    </select>

                                </div>


                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="SubrouteSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  SubRoute Modal Form  -->
<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        var routeId = 0;



    </script>



}
