<!-- Modal -->
<div aria-hidden="true" [className]="opened ? 'opened insufficient_modale': 'insufficient_modale'">
    <div class="insufficient_dialog">
        <div class="flex justify-end">
            <a (click)="onClose()" class="text-2xl text-black cursor-pointer" aria-hidden="true">&times;</a>
        </div>
        <div class="flex justify-center items-center mt-4">
            <div class="relative">
                <p>
                    <span class="block text-black">Sorry, you currently don’t have any unit to Create vetting.</span>
                    <span class="block"> Click on <span class="font-bold">buy</span>, to fund your wallet.</span>
                </p>
            </div>
            <div class="ml-4">
                <button (click)="buy()" class="bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500">
                    Buy
                </button>
            </div>
        </div>
    </div>
</div>