﻿.lib-bg {
    background-image: url(http://libmotwebsite.azurewebsites.net/upload/dashoard-bk.jpg)
}

.kt-widget4 .kt-widget4__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #ebedf2;
}

.kt-widget4 .kt-widget4__item .kt-widget4__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 1.25rem;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}



.m-login.m-login--1 .m-login__wrapper {
    overflow: hidden;
    padding: 20% 2rem 2rem 2rem;
}

.m-login.m-login--1 .m-login__content .m-login__welcome {
    color: #ff0000;
    font-size: 3.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px #ffffff;
    margin-bottom: 2rem;
}
.m-login__msg {
    color: #ffffff !important;
    text-shadow: 1px 1px 1px #ff0000;
}

.btn-focus {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

    .btn-focus:hover {
        color: #fff;
        background-color: #ff0000;
        border-color: #ff0000;
    }