﻿@model SharedErp.Models.CompanyInfoDTO



<div class="tab-content">
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <label class="col-lg-4 col-form-label">Name</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.ContactPerson)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContactPerson)
                            </div>
                            <label class="col-lg-4 col-form-label " for="Address">Address:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                            <label class="col-lg-4 col-form-label " for="CityId">Category:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <div class="input-group date">

                                    @Html.DropDownListFor(model => model.CityId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select City", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                                    <div class="input-group-append">
                                        <a onclick='javascript: cityClick()'>
                                            <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                                <i style="color:white;" class="la la-plus-circle"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            @*<legend> Part B </legend>*@
                            <label class="col-lg-4 col-form-label " for="Email">Email:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <label class="col-lg-4 col-form-label " for="ContactPhoneNo">ContactPhoneNo:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.ContactPhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContactPhoneNo)
                            </div>
                            <label class="col-lg-4 col-form-label " for="BranchedFrom">BranchedFrom:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.BranchedFrom, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BranchedFrom)
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label">Pilot PayrollDate</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        @*<input type="text" class="form-control" asp-for="PilotPayrollDate" readonly id="kt_datepicker_3" />*@
                                        @Html.TextBoxFor(model => model.PilotPayrollDate, new { htmlAttributes = new {  @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PilotPayrollDate)
                                        <div class="input-group-append">
                                            <span asp-validation-for="PilotPayrollDate" class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-feedback"><span asp-validation-for="PilotPayrollDate"></span></div>
                            </div>
                            <label class="col-lg-4 col-form-label">IsParentDate</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        @*<input type="text" class="form-control" asp-for="IsParentDate" readonly id="kt_datepicker_3" />*@
                                        @Html.TextBoxFor(model => model.IsParentDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.IsParentDate)
                                        <div class="input-group-append">
                                            <span asp-validation-for="IsParentDate" class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-feedback"><span asp-validation-for="IsParentDate"></span></div>
                            </div>
                            <div class="col-lg-12" style="padding-bottom:7px; ">

                                <div class="col-lg-12 col-lg-9 col-xl-6">
                                    <div class="kt-checkbox-inline">
                                        <label class="kt-checkbox">
                                            IsParentCompany
                                            @Html.CheckBoxFor(model => model.IsParentCompany, new { @checked = "checked" })
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<label><strong>Item Details:</strong>  </label>
        <hr width="100%" />*@


</div>
    </div>


@*Begin Modal Listing *@

<!--begin::Small Modal For Warehouse-->
<div class="modal fade col-xs-12" id="WarehouseModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A Warehouse</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="warehouseid" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Code: </label>
                                    <input type="text" asp-for="WarehouseCode" placeholder="Enter WarehouseCode" class="form-control" id="WarehouseCode" />
                                    <div class="form-control-feedback"><span asp-validation-for="WarehouseCode"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> WarehouseName: </label>
                                    <input type="text" asp-for="WarehouseName" placeholder="Enter WarehouseName" class="form-control" id="WarehouseName" />
                                    <div class="form-control-feedback"><span asp-validation-for="WarehouseName"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Address: </label>
                                    <input type="text" asp-for="WarehouseAddress1" placeholder="Enter WarehouseAddress1" class="form-control" id="WarehouseAddress1" />
                                    <div class="form-control-feedback"><span asp-validation-for="WarehouseAddress1"></span></div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="warehouseSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--end:::Small Modal For Warehouse-->
<!--end:::Begin Modal For Account-->
<div class="modal fade" id="kt_blockui_4_5_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="kt_blockui_4_5">Block modal</button>
            </div>
        </div>
    </div>
</div>

<!--end:::End Modal For Account-->
@*End Modal Listing *@

</div>



