<section class="w-full bg-black black-bg-section">
    <div class="md:w-11/12 xl:w-10/12 mx-auto pt-20 pb-10">
        <button (click)="onClickIcon()"><img src="../../../assets/svg/arrow-left.svg" alt="arrow"></button>
    </div>
</section>