﻿@model SharedErp.Models.Vehicle
@{
    ViewData["Title"] = "Create Company Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    Alex Stone
                </span>

            </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/NationFleets/Account/Dashboards" class="btn btn-default btn-bold">

                Back
            </a>

            <div class="btn-group">
                <button type="submit" class="btn btn-brand btn-bold">

                    More Settings
                </button>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                <span class="kt-nav__link-text">Save &amp; add new</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Content Head -->										<!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Bound" points="0 0 24 0 24 24 0 24" />
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" id="Shape" fill="#000000" fill-rule="nonzero" />
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" id="Path" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>                        Vehicle
                            </a>
                        </li>
                        <li class="nav-item" id="VehicleModel">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_2" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" id="Mask" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" id="Mask-Copy" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>                        VehicleModel
                            </a>
                        </li>
                        <li class="nav-item" id="VehicleMake">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_3" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                        <path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M7.5,5 C7.22385763,5 7,5.22385763 7,5.5 C7,5.77614237 7.22385763,6 7.5,6 L13.5,6 C13.7761424,6 14,5.77614237 14,5.5 C14,5.22385763 13.7761424,5 13.5,5 L7.5,5 Z M7.5,7 C7.22385763,7 7,7.22385763 7,7.5 C7,7.77614237 7.22385763,8 7.5,8 L10.5,8 C10.7761424,8 11,7.77614237 11,7.5 C11,7.22385763 10.7761424,7 10.5,7 L7.5,7 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                        <path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z" id="Combined-Shape" fill="#000000" />
                                    </g>
                                </svg>                        VehicleMake
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="kt-portlet__body">
                <form action="#" method="post">

                    @Html.AntiForgeryToken()
                    <div class="tab-content">
                        <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <!--begin:  Terminal Rows -->

                                <div class="kt-form__body">
                                    <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                        <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                            <!-- begin:: Subheader -->
                                            <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                                <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                    <div class="col">
                                                        <div class="btn-group">
                                                            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                                <a onclick='javascript: vechicleClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                        </g>
                                                                    </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                                </a>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                                </div>
                                                <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                    <div class="kt-subheader__wrapper">

                                                        <h3 class="kt-subheader__title">
                                                            Vehicle Information
                                                        </h3>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- end:: Subheader -->
                                            <!--begin: Vehicle Datatable -->
                                            <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                                <!--begin: Search Form -->
                                                <div class="kt-form kt-form--label-right  ">
                                                    <div class="row align-items-center">

                                                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                            <a href="#" class="btn btn-default kt-hidden">
                                                                <i class="la la-cart-plus"></i> New Order
                                                            </a>
                                        
                                                        </div>

                                                    </div>
                                                    <!-- begin: Datatable -->
                                                    <div class="m-portlet__body " style="padding: 3px;">
                                                        <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                            Sucesfully Saved
                                                        </div>
                                                        <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Name</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Registration No.</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Chasis No.</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Engine No.</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Status</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Location</th>

                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Actions</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        @Html.AntiForgeryToken()
                                                    </div>
                                                    <!--end: Datatable -->

                                                </div>

                                                <!--end: Search Form -->
                                                <!--end: Terminal Datatable -->
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <!--End:  Vehicle Rows  -->
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_apps_user_edit_tab_2" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <!--begin:  Vehicle Model Rows -->

                                <div class="kt-form__body">
                                    <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                        <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                            <!-- begin:: Subheader -->
                                            <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                                <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                    <div class="col">
                                                        <div class="btn-group">
                                                            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                                <a onclick='javascript: VehicleModelClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                        </g>
                                                                    </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                                </a>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                                </div>
                                                <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                    <div class="kt-subheader__wrapper">

                                                        <h3 class="kt-subheader__title">
                                                            State Information
                                                        </h3>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- end:: Subheader -->
                                            <!--begin: Vehiclemodel Datatable -->
                                            <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                                <!--begin: Search Form -->
                                                <div class="kt-form kt-form--label-right  ">
                                                    <div class="row align-items-center">

                                                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                            <a href="#" class="btn btn-default kt-hidden">
                                                                <i class="la la-cart-plus"></i> New Order
                                                            </a>
                                           
                                                        </div>

                                                    </div>
                                                    <!-- begin: Datatable -->
                                                    <div class="m-portlet__body " style="padding: 3px;">
                                                        <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                            Sucesfully Saved
                                                        </div>
                                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_2">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Name</th>
                                                                    <th>NumberOfSeats</th>
                                                                    <th>VehicleMakeId</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        @Html.AntiForgeryToken()
                                                    </div>
                                                    <!--end: Datatable -->

                                                </div>

                                                <!--end: Search Form -->
                                                <!--end: Vehiclemodel Datatable -->
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <!--End:  State Rows  -->
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_apps_user_edit_tab_3" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <!--begin:  VehicleMake Rows -->

                                <div class="kt-form__body">
                                    <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                        <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                            <!-- begin:: Subheader -->
                                            <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                                <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                    <div class="col">
                                                        <div class="btn-group">
                                                            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                                <a onclick='javascript: VehicleMakeClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                        </g>
                                                                    </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                                </a>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                                </div>
                                                <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                    <div class="kt-subheader__wrapper">

                                                        <h3 class="kt-subheader__title">
                                                            Region Information
                                                        </h3>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- end:: Subheader -->
                                            <!--begin: VehicleMake Datatable -->
                                            <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                                <!--begin: Search Form -->
                                                <div class="kt-form kt-form--label-right  ">
                                                    <div class="row align-items-center">

                                                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                            <a href="#" class="btn btn-default kt-hidden">
                                                                <i class="la la-cart-plus"></i> New Order
                                                            </a>

                                                        </div>

                                                    </div>
                                                    <!-- begin: Datatable -->
                                                    <div class="m-portlet__body " style="padding: 3px;">
                                                        <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                            Sucesfully Saved
                                                        </div>
                                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_3">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Name</th>

                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        @Html.AntiForgeryToken()
                                                    </div>
                                                    <!--end: Datatable -->

                                                </div>

                                                <!--end: Search Form -->
                                                <!--end: VehicleMake Datatable -->
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!--End:  VehicleMake Rows -->
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>


<!-- BEgin:: Vehicle Modal Form goes here -->
<div class="modal fade col-xs-12" id="VehicleModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Edit Terminal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="vehicleId" />
                <div class="modal-body">
                    <form action="" id="vehicleModal" method="post">
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @*<label class="form-label" for="VehicleModelId">Model:</label>*@
                                        <div class="col-lg-12">
                                            <div class="input-group date">
                                                @Html.DropDownListFor(model => model.VehicleModelId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Model", new { @id = "VehicleModelId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                     
                                        <div class="col-lg-12">
                                            <input type="text" id="RegistrationNumber" class="form-control" asp-for="RegistrationNumber" placeholder="Registration Number">
                                            <div class="form-control-feedback"><span asp-validation-for="RegistrationNumber"></span></div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                       
                                        <div class="col-lg-12">
                                            <input type="text" id="EngineNumber" class="form-control" asp-for="EngineNumber" placeholder="Engine Number">
                                            <div class="form-control-feedback"><span asp-validation-for="EngineNumber"></span></div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                     
                                        <div class="col-lg-12">
                                            <input type="text" id="ChasisNumber" class="form-control" asp-for="ChasisNumber" placeholder="Reference">
                                            <div class="form-control-feedback"><span asp-validation-for="ChasisNumber"></span></div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                     
                                        <div class="col-lg-12">

                                          
                                            <input type="text" class="LicenseDate form-control" asp-for="LicenseDate" readonly id="kt_datepicker_3" placeholder="License Date" required/>
                                        </div>
                                            <div class="form-control-feedback"><span asp-validation-for="License Date"></span></div>
                                        </div>
                                 

                                    <div class="form-group">
                                       
                                        <div class="col-lg-12">
                                            @*<input type="text" id="LicenseExpiration" class="form-control" placeholder="License Expiration" value="@ViewBag.StartDate" autocomplete="off" required>
        <div class="form-control-feedback"><span asp-validation-for="LicenseExpiration "></span></div>*@

                                            <input type="text" class="LicenseExpiration form-control" asp-for="LicenseExpiration" readonly id="kt_datepicker_3" placeholder="License Expiration"  />
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                    
                                        <div class="col-lg-12">
                                            <div class="input-group date">
                                                @Html.DropDownListFor(model => model.LocationId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Location", new { @id = "LocationId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                   
                                        <div class="col-lg-12">
                                            <div class="input-group date">
                                                @Html.DropDownListFor(model => model.DriverId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Driver", new { @id = "DriverId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                
                                        <div class="col-lg-12">
                                           
                                                @Html.DropDownListFor(m => m.Status, Html.GetEnumSelectList(typeof(SharedErp.Models.Enum.VehicleStatus)), "Select  Status", new { @id = "Status", @class = "form-control dropdown-select2" })
                                           
                                        </div>
                                    </div>

                                    <div class="form-group">
                                      
                                        <div class="col-lg-12">
                                            @*<input class="datepicker" date-format="D, dd MM yyyy" type="text" placeholder="Enter date" name="LicenseDate" id="LicenseDate" value="@ViewBag.StartDate" autocomplete="off" required />
                <div class="input-group-append">
                    <span asp-validation-for="LicenseDate" class="input-group-text">
                        <i class="la la-calendar"></i>
                    </span>
                </div>*@
                                            <input type="text" id="InsuranceExpiration" class="form-control" placeholder="Insurance Expiration" value="@ViewBag.StartDate" autocomplete="off" required>
                                            <div class="form-control-feedback"><span asp-validation-for="InsuranceExpiration"></span></div>


                                        </div>
                                    </div>

                                    <div class="form-group">
                                   
                                        <div class="col-lg-12">
                                            <input type="text" id="InsuranceDate" class="form-control" placeholder="Insurance Date" value="@ViewBag.StartDate" autocomplete="off" required>
                                            <div class="form-control-feedback"><span asp-validation-for="Insurance Date"></span></div>


                                        </div>
                                    </div>

                                </div>
                            </div>
</div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="vehicleSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Vehicle Modal Form  -->
<!-- BEgin:: VehicleModel Modal Form goes here -->
<div class="modal fade col-xs-12" id="VehicleModelModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Edit VehicleModel</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="VehicleModelId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Name: </label>
                                    <input type="text" asp-for="Name" placeholder="Enter  Name" class="form-control" id="Name" />
                                    <div class="form-control-feedback"><span asp-validation-for="Name"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Number Of Seats: </label>
                                    <input type="text" asp-for="NumberOfSeats" placeholder="Enter NumberOfSeats" class="form-control" id="NumberOfSeats" />
                                    <div class="form-control-feedback"><span asp-validation-for="NumberOfSeats"></span></div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label"> VehicleMake: </label>
                                    <select id="VehicleMakeId" class="form-control m-input">
                                        <option value="">Select VehicleMake:</option>
                                    </select>
                                    <div class="form-control-feedback"><span asp-validation-for="VehicleMakeId"></span></div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="stateSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  State Modal Form  -->
<!-- BEgin:: Region Modal Form goes here -->
<div class="modal fade col-xs-12" id="VehicleMakeModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Edit VehicleMake</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="VehicleMakeId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Name: </label>
                                    <input type="text" asp-for="Name" placeholder="Enter Name" class="form-control" id="RegionName" />
                                    <div class="form-control-feedback"><span asp-validation-for="Name"></span></div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="regionSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Region Modal Form  -->
<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>


        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            };
            return {
                init: function () {
                    $("#StartDate,#LicenseDate,#InsuranceDate,#InsuranceExpiration,#LicenseExpiration").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    //$("#TerminalId, #RoleId, #Gender").select2({
                    //    placeholder: "Select"
                    //})
                }
            }
        }();


        jQuery(document).ready(function () {
            BootstrapDatepicker.init();
            DatatablesBasicBasic.init();

            DatatablesBasicBasic2.init();
            DatatablesBasicBasic3.init();

        });

        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({

                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Vehicles/VehiclesGetData',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "vehicleModelId"
                        },
                        {
                            bSortable: false,
                            data: "registrationNumber"
                        },
                        {
                            bSortable: false,
                            data: "chasisNumber"
                        },
                        {
                            bSortable: false,
                            data: "engineNumber"
                        },
                        {
                            bSortable: false,
                            data: "vehicleStatus"
                        },
                        {
                            bSortable: false,
                            data: "locationId"
                        },
                   

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                            \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                            \n <a class="dropdown-item" onclick="modify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                            \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                            \n </div>
                                                        \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/NationFleets/Vehicles/VehicleDelete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();
                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };

        function vechicleClick() {
            DropDrivers.init();
            DropTerminal.init();
            DropVehicleModel.init();

            $('#VehicleModal').modal();
            $('#VehicleModal').modal('show');BootstrapDatepicker.init();
        }


        function vehicleSave() {
            var vehicleId = $("#vehicleId").val();
            var vehicleModelId = $("#VehicleModelId").val();
            var registrationNumber = $("#RegistrationNumber").val();
            var engineNumber = $("#EngineNumber").val();
            var chasisNumber = $("#ChasisNumber").val();
            var licenseDate = $("#LicenseDate").val();
            var licenseExpiration = $("#LicenseExpiration").val();
            var locationId = $("#LocationId").val();
            var driverId = $("#DriverId").val();
            var status = $("#Status").val();
            var insuranceExpiration = $("#InsuranceExpiration").val();
            var insuranceDate = $("#InsuranceDate").val();


            if (VehicleModelId == "") {
                swal("Enter Vehicle Model")
                return false;
            }
            if (RegistrationNumber == "") {
                swal("Enter Registration Number ")
                return false;
            }

            //if (VehicleModelId == "") {
            //    TerminalId = "0";
            //} else {
            //    TerminalId = $("#TerminalId").val();
            //}

            $.ajax({
                url: "/NationFleets/Vehicles/VehicleSave",
                method: "post",
                data: {
                    Id: vehicleId,
                    VehicleModelId: vehicleModelId,
                    RegistrationNumber: registrationNumber,
                    EngineNumber: engineNumber,
                    ChasisNumber: chasisNumber,
                    LicenseDate: licenseDate,
                    LicenseExpiration: licenseExpiration,
                    LocationId: locationId,
                    DriverId: driverId,
                    Status: status,
                    InsuranceExpiration: insuranceExpiration,           
                    InsuranceDate: insuranceDate
                },
                success: function (response) {
                    //param = $('#texens').val();
                    Swal(" Saved...");

                }
            });
        }

        function modify(data) {
            var vehicleId = data;
            $.ajax({
                url: "/NationFleets/Vehicles/VehicleUpdate",
                data: {
                    id: vehicleId
                },
                success: function (response) {
                    $('#vehicleId').val(response.data.id);
                    $('#VehicleModelId').val(response.data.vehicleModelId);
                    $('#RegistrationNumber').val(response.data.registrationNumber);
                    $('#EngineNumber').val(response.data.engineNumber);
                    $('#ChasisNumber').val(response.data.chasisNumber);
                    $('#LicenseDate').val(response.data.licenseDate);
                    $('#LicenseExpiration').val(response.data.licenseExpiration);
                    $('#LocationId').val(response.data.locationId);
                    $('#DriverId').val(response.data.driverId);
                    $('#Status').val(response.data.status);
                    $('#InsuranceExpiration').val(response.data.insuranceExpiration);
                    $('#InsuranceDate').val(response.data.insuranceDate);

                    DropDrivers.init();
                    DropTerminal.init();
                    DropVehicleModel.init(response.data.vehicleModelId);

                    $('#VehicleModal').modal();
                    $('#VehicleModal').modal('show');

                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }


        //begin VehicleModel Implementattion
        $("#VehicleModel").click(function () {
            $('li a').removeClass("active");
            $(this).addClass("active");
            //
        });

        function VehicleModelClick() {

            $('#VehicleModelModal').modal();
            $('#VehicleModelModal').modal('show'); BootstrapDatepicker.init();
        }

        //begin  Datatable
        var DatatablesBasicBasic2 = {
            init: function () {
                var table = $("#m_table_2").DataTable({

                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Vehicles/VehicleModelGetData',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "name"
                        },
                        {
                            bSortable: false,
                            data: "numberOfSeats"
                        },
                        {
                            bSortable: false,
                            data: "vehicleMakeId"
                        },
                        

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                            \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                            \n <a class="dropdown-item" onclick="VehicleModelModify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                            \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                            \n </div>
                                                        \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/NationFleets/Vehicles/VehicleModelDelete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
    


        function VehicleModelSave() {
            var VehicleModel = $("#VehicleModel").val();
            var NumberOfSeats = $("#NumberOfSeats").val();
            var VehicleMakeId = $("#VehicleMakeId").val();

            if (VehicleModel == "") {
                swal("Enter  VehicleModel")
                return false;
            }
            if (VehicleMake == "") {
                swal("Enter  VehicleMake")
                return false;
            }
            
            $.ajax({
                url: "/NationFleets/Vehicles/VehicleSave",
                method: "post",
                data: {
                    Id: vehicleId,
                    NumberOfSeats: NumberOfSeats,
                    VehicleMakeId: VehicleMakeId,
                },
                success: function (response) {   
                    Swal(" Saved...");
                }
            });
        }

        function VehicleModelModify(data) {
            var VehicleModelId = data;
            $.ajax({
                url: "/NationFleets/Vehicles/VehicleModelUpdate",
                data: {
                    id: VehicleModelId
                },
                success: function (response) {
                    $('#VehicleModelId').val(response.data.id);
                    $('#NumberOfSeats').val(response.data.numberOfSeats);
                    $('#VehicleMakeId').val(response.data.vehicleMakeId);
                 
                    $('#WarehouseBinModal').modal();
                    $('#WarehouseBinModal').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }

        //begin VehicleMake Datatable
        $("#VehicleMake").click(function () {
            $('li a').removeClass("active");
            $(this).addClass("active");
        });

        //begin Datatable

        var DatatablesBasicBasic3 = {
            init: function () {
                var table = $("#m_table_3").DataTable({

                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Vehicles/VehicleMakeData',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "name"
                        },
           
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                            \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                            \n <a class="dropdown-item" onclick="VehicleMakeModify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                            \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                            \n </div>
                                                        \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/NationFleets/Vehicles/VehicleMakeDelete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
      
        function VehicleMakeClick() {
            $("#SaveMsg").hide().css("visibility", "hidden");

            $('#VehicleMakeModal').modal();
            $('#VehicleMakeModal').modal('show');
        }

       
        function VehicleMakeSave() {
            var Name = $("#Name").val();

            if (Name == "") {
                swal("Enter  Name")
                return false;
            }
         
            $.ajax({
                url: "/NationFleets/Vehicles/VehicleMakeSave",
                method: "post",
                data: {              
                    Name: Name
                },
                success: function (response) {
                    Swal(" Saved...");
                }
            });
        }
        function VehicleMakeModify(data) {
            var VehicleMakeId = data;
            $.ajax({
                url: "/NationFleets/Vehicles/VehicleMakeUpdate",
                data: {
                    id: VehicleMakeId
                },
                success: function (response) {
                    $('#VehicleMakeId').val(response.data.id);
                    $('#Name').val(response.data.name);

                    $('#VehicleMakeModal').modal();
                    $('#VehicleMakeModal').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }

        //End Region Datatable
    </script>

    <script>

        var ctt = null;
               var DropTerminal = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "TerminalList",
                    function (response) {
                        var availabledata = response.data;
                        $("#LocationId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#LocationId").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $("#LocationId").select2({
                            placeholder: "Select.. option"
                        });

                    });
            }
        }


          var DropVehicleModel = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "VehicleModelList",
                    function (response) {
                        var availabledata = response.data;
                        $("#VehicleModelId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#VehicleModelId").append(new Option(availabledata[i].text, availabledata[i].value));

                            $('#VehicleModelId').val(ctt);
                        }
                        $("#VehicleModelId").select2({
                            placeholder: "Select.. option"
                        });



                    });
            }
        }

          var DropDrivers = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "DriverList",
                    function (response) {
                        var availabledata = response.data;
                        $("#DriverId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#DriverId").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $("#DriverId").select2({
                            placeholder: "Select.. option"
                        });



                    });
            }
        }

    </script>


}