﻿@*@model LoginModel
    @{

        Layout = "_authenticationlayout";
        ViewBag.Title = "Loginb";
    }*@


@{
    string fName = User.FindFirst("given_name")?.Value;
    string lName = User.FindFirst("family_name")?.Value;
    string email = User.FindFirst("email")?.Value;
    string id = User.FindFirst("companyid")?.Value;
    string Fullname = fName + " " + lName;
    string Tenants = User.FindFirst("company")?.Value;


    var sessionName = new Byte[20];
    bool nameOk = Context.Session.TryGetValue("SectorId", out sessionName);
    string sectorId = System.Text.Encoding.UTF8.GetString(sessionName);

    string modulename = sectorId;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
                  <meta http-equiv="Pragma" content="no-cache" />
                  <meta http-equiv="Expires" content="0" /> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
          content="Libmot Express, Logistics company in Lagos, Logistics company in Nigeria, best logistics company in Lagos,parcel,delivery, Express, shipment, cargo" />
    <meta name="description"
          content="world-class provider of innovative logistics and supply-chain service and solutions." />
    <meta name="robots" content="index, follow" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="Libmot Express">
    <meta name="description"
          content="A logistics company, world-class provider of innovative logistics and supply-chain service and solutions.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.facebook.com/Libmot-Express-676214749656413">
    <meta property="og:title" content="Libmot Express">
    <meta property="og:description"
          content="A logistics company, world-class provider of innovative logistics and supply-chain service and solutions.">
    <meta property="og:image"
          content="assets/img/logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://libmotexpress.com/">
    <meta property="twitter:title" content="Libmot Express">
    <meta property="twitter:description" content="A logistics company">
    <meta property="twitter:image"
          content="assets/img/logo.png">
    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon" />
    <!-- LINK TO CSS -->
    <link rel="stylesheet" href="assets/css/partner.css" />

    <!-- FONTAWESOME -->

    <script src="https://use.fontawesome.com/48f1d47c18.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.common.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
    <title>SeclotVets | Logins </title>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W7HHC2N');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7HHC2N" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <!-- SIGN IN FORMS -->
                <form action="" class="sign-in-form">
                    <div class="logo">
                        <a href="index.html" style="margin-bottom: 10px">
                            <img src="assets/img/logo.png"
                                 class="logo" alt="" />
                            <p style="padding-left: 24px">Back to main Page</p>
                        </a>
                    </div>
                    <h2 class="title">Sign In</h2>
                    <div class="input-field">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" placeholder="UserName" />
                    </div>

                    <div class="input-field">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <input type="password" placeholder="Password" />
                    </div>

                    <input type="submit" value="Login" class="btn solid" />
                    <p class="social-text">Or Sign In with social platform</p>

                    <div class="socialmedia">
                        <a href="#" class="social-icon">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="social-icon">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="social-icon">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>

                        <a href="#" class="social-icon">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>

                <!-- END OF SIGN IN FORMS -->
                <div id="sloader"
                     style="position: fixed; display: none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                    <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                        <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                    </span>
                </div>
                <!--SIGN UP FORMS -->
                <form name="merchant-form" action="" method="POST" class="sign-up-form">

                    <h2 class="title">Sign Up</h2>

                    <div class="input-field">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" name="bizname" placeholder="Company Name" />
                    </div>

                    <div class="input-field">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <input type="text" name="biztype" placeholder="Nature of Business" />
                    </div>

                    <div class="input-field">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <input type="text" name="city" placeholder="Company City" />
                    </div>

                    <div class="input-field">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <input type="number" name="phonenumber" placeholder="Business Phone Number" />
                    </div>

                    <div class="input-field">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <input type="email" name="email" placeholder="Email" />
                    </div>

                    <div class="input-field">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <input type="password" name="password" placeholder="Password" />
                    </div>

                    <div class="input-field">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <select name="slct" id="slct">
                            <option selected disabled>
                                Select Monthly Transaction Volume
                            </option>
                            <!-- <option value="1" name="volumerange">1 - 50</option> -->
                            <option value="2" name="volumerange">50 - 100</option>
                            <option value="3" name="volumerange">100 - 500</option>
                            <option value="4" name="volumerange">500 Above</option>
                        </select>
                    </div>

                    <input type="submit" value="Sign Up" class="btn solid" />
                </form>

                <!-- END OF SIGN UP FORMS -->
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Work With Us Now!!!</h3>
                    <p>
                        We offer competitive pricing.
                        <!-- We offer competitive pricing, our speed of operation for within
                        city deliveries is a max of 2hours while between states is 48hrs.
                        Work With Us Now -->
                        <!-- Win 3 free deliveries as a merchant. Access reward once merchant page is launched. Register your
                        account now to get reward. -->
                    </p>

                    <button class="btn transparent" id="sign-up-btn">Sign Up</button>

                    <!-- <button class="btn transparent" id="btn"><a target="_blank" href="https://forms.gle/wFKD99LPGdT7jAYF8">Sign Up</a></button> -->

                </div>

                <img src="assets/img/bikemanpng.png"
                     alt="signup" class="image" />
            </div>

            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us?</h3>
                    <p>Kindly Sign In if you already have an account</p>
                    <button class="btn transparent" id="sign-in-btn">Sign In</button>
                </div>

                <img src="assets/img/whylibmotexpress.png"
                     alt="signup" class="image" style="margin-bottom: 20px; margin-left: 200px" />
            </div>
        </div>
    </div>
    @*<script src="~/assets/js/partner.js"></script>*@
    <script src="~/assets/js/partner.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @*<script src="assets/js/api/merchant.js"></script>*@

</body>

</html>
