﻿@model SharedErp.Areas.Accounts.Models.BillsHeaderDTO

<div class="tab-content">

    <div class="kt-form kt-form--label-right">
        <div class="kt-portlet__body">

            <div class="row">
                <input type="hidden" id="RouteId" />

                <div class="col-lg-6">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        <label class="col-lg-4 col-form-label" for="VendorID">Supplier:</label>

                        <div class="col-lg-8" style="padding-bottom:7px;">
                            @Html.DropDownListFor(model => model.VendorID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Supplier", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                            @Html.ValidationMessageFor(model => model.VendorID)
                        </div>

                        <label class="col-lg-4 col-form-label" for="RouteType">Reference:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="text" id="Reference" class="form-control" asp-for="Reference" placeholder="Reference">
                            <div class="form-control-feedback"><span asp-validation-for="Reference"></span></div>
                        </div>

                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        <label class="col-lg-4 col-form-label">Issued Date</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">
                                    @*date-format="D, dd MM yyyy"*@
                                    <input type="text" class="form-control" asp-for="PurchaseDate" readonly id="kt_datepicker_1" />
                                    <div class="input-group-append">
                                        <span asp-validation-for="PurchaseDate" class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-feedback"><span asp-validation-for="PurchaseDate"></span></div>
                        </div>




                        <label class="col-lg-4 col-form-label">Due Date</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">
                                    @*date-format="D, dd MM yyyy"*@
                                    <input type="text" class="form-control" asp-for="PaymentDate" readonly id="kt_datepicker_3" />
                                    <div class="input-group-append">
                                        <span asp-validation-for="PaymentDate" class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-feedback"><span asp-validation-for="PaymentDate"></span></div>
                        </div>
                    </div>

                    </div>
                


            </div>

        </div>

    </div>


</div>

