﻿

@model SharedErp.Areas.Accounts.Models.InvoiceHeaderDTO
@{
    ViewData["Title"] = "Create Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }

        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }

        .detbtn {
            position: relative;
            height: 36px;
            color: white;
            font-weight: bold;
        }

        .gridstyle {
            background-color: #337AB7;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        .Clr {
            color: white;
            font-weight: bold;
        }

        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>
}
<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Create Invoice
            </h3>

            <div class="kt-subheader__group" id="kt_subheader_search">   </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/NationFleets/Route/Index" class="btn btn-default btn-bold">
                Back
            </a>
            <a href="" id="bthSaveAll" onclick="btnSave();" class="btn btn-danger btn-bold">
                Save
            </a>

            <div class="btn-group">
                <a href="" class="btn btn-brand btn-bold">
                    Add New Record
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" id="txtRouteId" name="user" value="" />
    </div>

    <!-- end:: Content Head -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <input type="hidden" id="texens" name="user" value="" />
        @Html.Partial("form")
        <div class="kt-portlet kt-portlet--tabs">


            <div class="kt-portlet__body">


                @Html.AntiForgeryToken()

                <div class="tab-content">
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin:  Trips Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                            <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">

                                            </div>
                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        Details Information
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin: Route Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>
                                                        @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <hr width="100%" />
                                                    <div class="m-portlet__body" id="TextBoxesGroup">
                                                        <div class="form-group gridstyle m-form__group row" style="padding-bottom:0px; margin-bottom:0px;">
                                                            <div class="col-lg-2 "> <label>Code: </label></div>
                                                            <div class="col-lg-2"> <label>Description: </label></div>
                                                            <div class="col-lg-2"> <label>Quantity: </label></div>
                                                            <div class="col-lg-2"><label>Price: </label></div>
                                                            <div class="col-lg-2"><label>Tax: </label></div>
                                                            <div class="col-lg-1"> <label>SerialNumber: </label></div>

                                                        </div>

                                                        <hr width="100%" style="padding-bottom: 0px; margin-bottom: 5px; padding-top:0px; margin-top:0px;" />


                                                    </div>
                                                    @Html.AntiForgeryToken()
                                                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                                        <div class="btn-group" role="group" aria-label="First group">
                                                            <button type="button" title="Add New Row" id='addButton' class="btn btn-primary"><i class="la la-plus-square"></i></button>
                                                            <button type="button" id="bthSaveAll" title="Save All" onclick="btnSave();" class="btn btn-success" aria-hidden="true"><i class="la la-save"></i></button>
                                                            <button type="button" class="btn btn-danger btn-custom" id='removeButton' title="Upload" aria-hidden="true"> <i class="la la-trash"></i></button>
                                                            <button type="button" class="btn btn-warning"><i class="la la-paperclip"></i></button>
                                                        </div>

                                                    </div>
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Route Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--End:  Trips Rows  -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- end:: Content -->
</div>


<!-- BEgin:: Trip Modal Form goes here -->
<div class="modal modal-xl fade col-xs-12" id="TripModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Trip Data Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="TripId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="TripCode">Code:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" asp-for="TripCode" placeholder="Enter Code" class="form-control" id="TripCode" />
                                            <div class="form-control-feedback"><span asp-validation-for="TripCode"></span></div>
                                        </div>



                                        <label class="col-lg-4 col-form-label" for="RouteType">Vehicle Model:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <select id="VehicleModelId" class="form-control m-input">
                                                <option value="">Select Model:</option>
                                            </select>
                                            <div class="form-control-feedback"><span asp-validation-for="VehicleModelId"></span></div>
                                        </div>
                                        <label class="col-lg-4 col-form-label" for="AvailableOnline">Available Online:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <div class="col-lg-12 col-lg-9 col-xl-6">
                                                <div class="kt-checkbox-inline">
                                                    <input id="AvailableOnline" type="checkbox" checked="">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="DepartureTime">Departure Time:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">


                                            <select id="DepartureTime" class="form-control m-input dropdown-select2">
                                                <option value="">Select Time</option>
                                                <option value="05:00 AM">05:00 AM</option>
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="DepartureTime"></span></div>
                                        </div>

                                        <label class="col-lg-4 col-form-label" for="DriverFee">Parent Route:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <select id="ParentRouteId" class="form-control m-input dropdown-select2">
                                                <option value="">Select Route</option>

                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="ParentRouteId"></span></div>
                                        </div>

                                        <label class="col-lg-4 col-form-label" for="DriverFee">Parent Trip:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">


                                            <select id="ParentRouteDepartureTime" class="form-control m-input dropdown-select2">
                                                <option value="">Select Time</option>
                                                <option value="05:00 AM">05:00 AM</option>
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="ParentRouteDepartureTime"></span></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="tripSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Trip Modal Form  -->
<!-- BEgin:: Fare Modal Form goes here -->
<div class="modal fade col-xs-12" id="FareModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A Fare</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="FareId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-label"> Vehicle Model: </label>
                                <select id="FVehicleModelId" class="form-control m-input">
                                    <option value="">Select Model:</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="FVehicleModelId"></span></div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Amount: </label>
                                    <input type="text" asp-for="Amount" placeholder="Enter Amount" class="form-control" id="Amount" />
                                    <div class="form-control-feedback"><span asp-validation-for="Amount"></span></div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="fareSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Fare Modal Form  -->
<!-- BEgin:: SubRoute Modal Form goes here -->
<div class="modal fade col-xs-12" id="SubRouteModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A SubRoute</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <input type="hidden" id="SubRouteId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-label"> Sub Route: </label>
                                <div class="input-group date">

                                    <select id="SRouteId" class="form-control m-input">
                                        <option value="">Select Model:</option>
                                    </select>

                                </div>


                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="SubrouteSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  SubRoute Modal Form  -->
<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        var routeId = 0;



    </script>
    
    <script>


        //$("#ModalPaytype, #Modalpaydescript").select2({
        //    placeholder: "Select an appropriate option"
        //});
        var counter = 0;
        var i = 0;
        var ic = null;

        jQuery(document).ready(function () {
            //BootstrapDatepicker.init()
            $('.dropdown-select2').select2();
            //DropRoleList.init();
            //DropTerminalList.init();
            CreateARow.init();
        });




        var CreateARow = {
            init: function () {
                    if (counter > 50) {
                swal("Only 50 details are allowed");
                return false;
            }

            var newTextBoxDiv = $(document.createElement('div'))
                .attr("id", 'newRowId' + counter)
                .attr('class', 'form-group m-form__group row rowdetail');

            //newTextBoxDiv.after().html(
            //    '<input type="hidden" id="hid' + counter + '" name="hid" value="" /><div class="col-lg-2"> <span class="aclass" > ' +
            //    '<input class="form-control txtpax color-placeholder typeahead  aitem' + counter + ' " type="text" name="textbox' + counter +
            //    '" id="a-item-' + counter + '" placeholder="Enter item" > </span></div> <div class="col-lg-2"> <span class="aclass" > ' +
            //    '<input class="form-control txtpax color-placeholder typeahead  bitem' + counter + ' " type="text" name="textbox' + counter +
            //    '" id="b-item-' + counter + '" placeholder="Enter narratives" > </span></div><div class="col-lg-2">' +
            //    '<input class="form-control txtpax color-placeholder typeahead citem' + counter + '" type="text" name="textbox' + counter +
            //    '" id="c-item-' + counter + '" placeholder="Enter Req. Qty" ></div></div> <div class="col-lg-2">' +
            //    '<input class="form-control txtpax color-placeholder typeahead ditem' + counter + '" type="text" name="textbox' + counter +
            //    '" id="d-item-' + counter + '" placeholder="Enter Vehicle" ></div></div><div class="col-lg-2">' +
            //    '<input class="form-control txtpax color-placeholder typeahead eitem' + counter + '" type="text" name="textbox' + counter +
            //    '" id="e-item-' + counter + '" placeholder="Enter Staff" ></div></div><div class="col-lg-2">' +
            //    '<input class="form-control txtpax color-placeholder typeahead fitem' + counter + '" type="text" name="textbox' + counter +
            //    '" id="f-item-' + counter + '" placeholder="Enter Amount" ></div></div>'

            //    );

                newTextBoxDiv.after().html(
                    '<input type="hidden" id="hid' + counter + '" name="hid" value="" /><div class="col-lg-2"> <div class="input-group date"><div class="input-group date">' +
                    '<Select class="form-control txtpax color-placeholder dropdown-select2 typeahead aitem' + counter + '  " type="text" name="textbox" id="a-item-' + counter + '"> </select>   <div class="input-group-append"> <a class="" onclick="inventoryItemClick(' + counter + ');"> <span class="btn-primary input-group-text" style="padding-left: 5px; height: 38px; width: 30px; color: white;" > <i style="color:white;" class="la la-plus"></i> </span></a></div> </div> </div></div> <div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  bitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="b-item-' + counter + '" placeholder="Enter narratives" > </span></div><div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead citem' + counter + '" type="text" name="textbox' + counter +
                    '" id="c-item-' + counter + '" placeholder="Enter Req. Qty" ></div></div> <div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  ditem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="d-item-' + counter + '" placeholder="Enter narratives" > </span></div><div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  eitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="e-item-' + counter + '" placeholder="Enter narratives" > </span></div><div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead fitem' + counter + '" type="text" name="textbox' + counter +
                    '" id="f-item-' + counter + '" placeholder="Enter Amount" ></div></div>'

                );



            newTextBoxDiv.find('[id]').each(
                function () {
                    if (this.id) {
                        //this.id = this.id.replace(regex, newName);
                    }

                    var bx = this.id;
                    var subd = bx.substring(0, 1);
                    var subA = bx.substring(1, 7);
                    var subB = bx.substring(7, 8);
                    var itmA = 'a' + subA + counter;
                    var itmB = 'b' + subA + counter;
                    var itmC = 'c' + subA + counter;
                    var itmD = 'd' + subA + counter;
                    var itmE = 'e' + subA + counter;
                    var itmF = 'f' + subA + counter;
                    var itmG = 'g' + subA + counter;
                    var itmH = 'h' + subA + counter;

                    //for a-item-
                    if (bx === itmA) {
                        var id = $(this).attr('id');
                        id = id.replace(/\s/g, '_');
                        //$(this).attr('id', id).val(time.itemID).toString();
                        //var Dropdownid = $(this).attr('id', id);
                        //DropInventoryItem.init(Dropdownid);
                    }
                    //for b-item-
                    if (bx === itmB) {

                        var id = $(this).attr('id');
                        id = id.replace(/\s/g, '_');

                    }
                    //for c-item-
                    if (bx === itmC) {
                        var id = $(this).attr('id');
                        id = id.replace(/\s/g, '_');


                    }
                    //for d-item-
                    if (bx === itmD) {
                        var id = $(this).attr('id');
                        id = id.replace(/\s/g, '_');
                        //$(this).attr('id', id).val(time.receivedQty).toString();
                        //var Dropdownid = $(this).attr('id', id);
                        //DropWarehouses.init(Dropdownid);

                    }
                    //for e-item-
                    if (bx === itmE) {
                        var id = $(this).attr('id');
                        id = id.replace(/\s/g, '_');

                        //var Dropdownid = $(this).attr('id', id);
                        //DropEmployee.init(Dropdownid);
                        //Fetch Dropdown
                              @*var Dropdown = $(this).attr('id', id);
                        var o = new Option("Select An Item", "");
                        $.getJSON('@Url.Action("FetchDetailDropDown", "InventorySetup")', { format: "json" }, function (response) {
                            Dropdown.children().remove();
                            Dropdown.append(o);
                            if (typeof response !== 'undefined') {
                                var availabledata = response.data;
                                for (var idx = 0; idx < availabledata.length; idx++) {
                                    var itemText = availabledata[idx].text;
                                    var itemValue = availabledata[idx].value;
                                    Dropdown.append(new Option(itemText, itemValue));
                                }
                                $(this).attr('id', id).addClass("dropdown-select2")
                            }
                        });*@
                    }
                    //for f-item-
                    if (bx === itmF) {
                        var id = $(this).attr('id');
                        id = id.replace(/\s/g, '_');
                        //$(this).attr('id', id).val(time.itemValue).toString();
                    }
                    //for g-item-
                    if (bx === itmG) {
                        var id = $(this).attr('id');
                        id = id.replace(/\s/g, '_');
                        //$(this).attr('id', id).val(time.itemCost).toString();
                    }



                }).end()
            newTextBoxDiv.appendTo("#TextBoxesGroup");
            counter++;

            }
        }


        $('#addButton,#addButtonb0').click(function () {
            CreateARow.init();
        });



        $("#removeButton,#removeButtonb").click(function () {
            counter--;
            $("#newRowId" + counter).remove();
        });

        var param = null;
        var hidguid = null;

        function btnSave() {

            if (counter == 0) {
                return false;
            }

            if ($('#texens').val() == "") {
                // Add Requisition Header
                var transactionDate = $("#kt_datepicker_3").val();
                d = new Date(transactionDate);
                dt = d.getDate();
                mn = d.getMonth();
                mn++;
                yy = d.getFullYear();
                var vDate = dt + "/" + mn + "/" + yy;
                //var dueDate = $("#kt_datepicker_3").val();
                //d = new Date(transactionDate);
                //dt = d.getDate();
                //mn = d.getMonth();
                //mn++;
                //yy = d.getFullYear();
                //var vdDate = dt + "/" + mn + "/" + yy;
                //var vDate = moment(transactionDate, "MM/DD/YYYY").day(0).format("MM/DD/YYYY");
                var user = $("#UserId").val();
                var postedDate = vDate;
                var accTranType = $("#AccTranType").val();
                var dueDate = vDate;
                //var department = $("#Department").val();
                //var location = $("#Location").val();
                //var notes = $("#Notes").val();
                //var totalQty = $("#TotalQty").val();

                //Validating Receive header Columns for Empty values
                if (transactionDate == "") {
                    swal("Enter issued Date")
                    return false;
                }
                //if (user == "") {
                //    swal("Select Client ")
                //    return false;
                //}
                if (postedDate == "") {
                    swal("Enter posted date")
                    return false;
                }
                if (accTranType == "") {
                    swal("Enter Tran type")
                    return false;
                }
                if (dueDate == "") {
                    swal("Enter due date")
                    return false;
                }
                //if (location == "") {
                //    swal("Enter location")
                //    return false;
                //}
                //if (department == "") {
                //    swal("Enter department")
                //    return false;
                //}
                //if (notes == "") {
                //    swal("Enter requested by")
                //    return false;
                //}
                //if (requestedBy == "") {
                //    swal("Enter notes")
                //    return false;
                //}
                //if (ref == "") {
                //    swal("Enter Reference")
                //    return false;
                //}


                $.blockUI({ message: '<h1>Processing...</h1>' });

                $.ajax({
                    url: "/accounts/invoice/CreateHeader",
                    method: "post",
                    data: {
                        UserId: user,
                        DueDate: dueDate,
                        PostedDate: postedDate,
                        AccTranType: accTranType,
                    },
                    success: function (response) {
                        //$("#newRowId" + i).remove();
                        // Get the generated header id and keep it inside hidden textbox
                        param = JSON.stringify({ guid: response.data.id});
                        // Save all details with header id
                        Savedetailbyheaderid(response, param);
                        document.getElementById("texens").value = response.data.id;
                        $.unblockUI();
                    }
                });
            } else {
                $.blockUI({ message: '<h1>Processing...</h1>' });
                // allows you continue add more rows details to an already inserted Headeer
                param = $('#texens').val();
                Savedetailbyheaderid(param);
                $.unblockUI();
            }
        };


        function Savedetailbyheaderid(param) {
            // Add Requisition Detail
            console.log('counter = ' + counter);

            if ($('#texens').val() == "") {
                hidguid = String(param.data.id);
            } else {
                hidguid = String($('#texens').val());
            }

                for (i; i < counter; i++) {
                    var itemUPCCode  = $('#a-item-' + i).val();
                    var description  = $('#b-item-' + i).val();
                    var orderQty  = $('#c-item-' + i).val();
                    var itemUnitPrice  = $('#d-item-' + i).val()
                    var taxAmount = $('#e-item-' + i).val();
                    var serialNumber = $('#f-item-' + i).val();
                    //var gLAnalysisType1 = $('#g-item-' + i).val();
                    //var assetID = $('#h-item-' + i).val();

                    $.ajax({
                        url: "/accounts/invoice/AddInvoiceDetail",
                        method: "post",
                        data: {
                            ItemUPCCode: itemUPCCode,
                            Description: description,
                            OrderQty: orderQty,
                            ItemUnitPrice: itemUnitPrice,
                            TaxAmount: taxAmount,
                            SerialNumber: serialNumber,
                            InvoiceId: hidguid
                        },
                        success: function (response) {
                            //$("#newRowId" + i).remove();

                        },
                        error: function (err) {
                            console.log(err);

                            return err;
                        }
                    });
                    //add the object to the the declared array at the top
                }

                    window.location.href = 'Update/' + hidguid;

            // Takes the detail row counts and insert with the header id , one by one

        };

    </script>


    <script>
        function show() {
            //var selected = document.querySelector("#warehouseW").value;
            var selected = $("#warehouseW").val();
            console.log("Your select is: " + selected);
            var selectedToNum = Number(selected);

            $.get('@Url.Action("GetBins", "InventoryWarehouseBin")?warehouseId=' + selectedToNum,
                function (data) {
                    console.log(data);

                    for (var i = 0; i < data.length; i++) {
                        $("#warehouseBin").append(new Option(data[i].warehouseBinName, data[i].id));
                    }

                });
        }

          function fetchITems() {
            //var selected = document.querySelector("#warehouseW").value;
            var selected = $("#warehouseW").val();
            console.log("Your select is: " + selected);
            var selectedToNum = Number(selected);

            $.get('@Url.Action("GetBins", "InventoryWarehouseBin")?warehouseId=' + selectedToNum,
                function (data) {
                    console.log(data);

                    for (var i = 0; i < data.length; i++) {
                        $("#warehouseBin").append(new Option(data[i].warehouseBinName, data[i].id));
                    }

                });
        }


        // Begin: Script for Modal
        var ctt = null;

        // Warehouse  Begins
        function warehouseClick(ctt) {
            $('#WarehouseModal').modal();
            $('#WarehouseModal').modal('show');
        }

        function warehouseSave() {
            var Warehouseid = $("#warehouseid").val();
            var WarehouseCode = $("#WarehouseCode").val();
            var WarehouseName = $("#WarehouseName").val();
            var WarehouseAddress1 = $("#WarehouseAddress1").val();

            if (WarehouseName == "") {
                swal("Enter an WarehouseName")
                return false;
            }

            if (Warehouseid == "") {
                warehouseid = "0";
            } else {
                warehouseid = $("#warehouseid").val();
            }

            $.getJSON("/inventory/inventorysetup/WarehouseSave/?Id=" + warehouseid + "&Code=" + WarehouseCode + "&Name=" + WarehouseName + "&Address1=" + WarehouseAddress1,
                function (data) {
                });
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Warehouse  Ends

        // End: Script for Modal

    </script>

    <script>

        var ctt = null;

       var DropWarehouses = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseList",
                    function (response) {
                        var availabledata = response.data;
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


       var DropWarehousebin = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseBinList",
                    function (response) {
                        var availabledata = response.data;
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


         var DropRoleList = {
           init: function (ctt) {
                 $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "RoleList",
                    function (response) {
                        var availabledata = response.data;
                        $("#RoleID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#RoleID").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $("#RoleID").select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropTerminalList = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "TerminalList",
                    function (response) {
                        var availabledata = response.data;
                        $("#TerminalID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#TerminalID").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $("#TerminalID").select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropEmployee = {
           init: function (ctt) {
                   $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "EmployeeList",
                    function (response) {
                        var availabledata = response.data;
                        $(ctt).empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropInventoryItem = {
           init: function (ctt) {
                 $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "InventoryItemList",
                    function (response) {
                        var availabledata = response.data;
                        $(ctt).empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }
        // Begin: Script for Modal


        // Inventory Item  Begins
        function inventoryItemClick(ctt) {
            $('#InventoryItemModal').modal();
            $('#InventoryItemModal').modal('show');
        }

        function inventoryItemSave() {
            var InventoryItemId = $("#inventoryItemId").val();
            var ItemCode = $("#ItemCode").val();
            var ItemName = $("#ItemName").val();
            var ItemDescription = $("#ItemDescription").val();

            if (ItemName == "") {
                swal("Enter ItemName")
                return false;
            }

            if (ItemCode == "") {
                swal("Enter ItemCode")
                return false;
            }

            if (InventoryItemId == "") {
                InventoryItemId = "0";
            } else {
                InventoryItemId = $("#inventoryItemId").val();
            }

            $.getJSON("/inventory/inventorysetup/InventoryItemSave/?Id=" + InventoryItemId + "&Code=" + ItemCode + "&Name=" + ItemName + "&Description=" + ItemDescription,
                function (data) {
                });
            DropInventoryItem.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
        // Inventory Item  Ends

        // Employee  Begins
        function employeeClick(ctt) {
            $('#EmployeeModal').modal();
            $('#EmployeeModal').modal('show');
        }

        function employeeSave() {
            var transactionDate = $("#TransactionDate").val();
            d = new Date(transactionDate);
            dt = d.getDate();
            mn = d.getMonth();
            mn++;
            yy = d.getFullYear();
            var vDate = dt + "/" + mn + "/" + yy;
            var EmployeeId = $("#employeeId").val();
            var FirstName = $("#FirstName").val();
            var LastName = $("#LastName").val();
            var EmployeeCode = $("#EmployeeCode").val();
            var RoleID = $("#RoleID").val();
            var TerminalID = $("#TerminalID").val();
            var IsActive = $("#IsActive").val();

            if (EmployeeCode == "") {
                swal("Enter Employee Code")
                return false;
            }

            if (FirstName == "") {
                swal("Enter First Name")
                return false;
            }

            if (LastName == "") {
                swal("Enter Last Name")
                return false;
            }

            if (EmployeeId == "") {
                EmployeeId = "0";
            } else {
                EmployeeId = $("#employeeId").val();
            }

            $.getJSON("/inventory/inventorysetup/EmployeeSave/?Id=" + EmployeeId + "&Code=" + EmployeeCode + "&FirstName=" + FirstName + "&LastName=" + LastName + "&IsActive=" + IsActive + "&RoleId=" + RoleID + "&TerminalId=" + TerminalID,
                function (data) {
                });
            DropInventoryItem.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Inventory Item  Ends

        // End: Script for Modal

    </script>

}