﻿@model SharedErp.Areas.Accounts.Models.InvoiceHeaderDTO

<div class="tab-content">

    <div class="kt-form kt-form--label-right">
        <div class="kt-portlet__body">

            <div class="row">
                <input type="hidden" id="invoiceId" />

                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        <label class="col-lg-4 col-form-label" for="UserId">Client :</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="input-group date">
                                @Html.DropDownListFor(model => model.UserId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Client", new { @id = "UserId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                                <div class="input-group-append">
                                    <a onclick='javascript: warehouseClick()'>
                                        <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                            <i style="color:white;" class="la la-plus-circle"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <label class="col-lg-4 col-form-label">Issued</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">
                                    @*date-format="D, dd MM yyyy"*@
                                    <input type="text" class="form-control" asp-for="PostedDate" readonly id="kt_datepicker_3" />
                                    <div class="input-group-append">
                                        <span asp-validation-for="PostedDate" class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-feedback"><span asp-validation-for="PostedDate"></span></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                        <label class="col-lg-4 col-form-label" for="AccTranType">Trans Type :</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            @Html.DropDownListFor(m => m.AccTranType, Html.GetEnumSelectList(typeof(SharedErp.Areas.Accounts.Models.AccTransType)), new { @id = "AccTranType", @class = "form-control dropdown-select2" })
                        </div>

                        <label class="col-lg-4 col-form-label">Due</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">
                                    @*date-format="D, dd MM yyyy"*@
                                    <input type="text" class="form-control" asp-for="DueDate" readonly id="kt_datepicker_3" />
                                    <div class="input-group-append">
                                        <span asp-validation-for="DueDate" class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-feedback"><span asp-validation-for="DueDate"></span></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                    </div>
                </div>

            </div>

        </div>

    </div>


</div>

