﻿@{
    ViewData["Title"] = "BusinessClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
<link href="~/css/datatables.bundle.css" rel="stylesheet" />
<style>
    .col-form-label {
        padding-top: inherit;
    }
</style>
}



<div class="m-portlet m-portlet--mobile">


    <div class="kt-portlet kt-portlet--mobile">
       
        <!-- begin:: Subheader -->
        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
            <div class="kt-subheader__wrapper">

                <!--begin::Section-->
                <div class="kt-section">
                    @*<span class="kt-section__info">Separate groups of related menu items with a divider.</span>*@
                    <div class="kt-section__content">
                        <div class="row">
                            <input type="hidden" id="RouteId" />

                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-2">
                                <div class="form-group row form-group-marginless" style="margin-bottom:0px;">

                                    <div class="col-lg-12" style="padding-bottom:0px;">
                                        <input type="text" placeholder="Ref or Client Email" class="form-control " id="ReferenceCode" />
                                        <div class="form-control-feedback"><span asp-validation-for="ReferenceCode"></span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group row form-group-marginless" style="margin-bottom:0px;">

                                    <label class="col-lg-3 col-form-label" for="RouteType"> From:</label>
                                    <div class="col-lg-9" style="padding-bottom:0px;">
                                        <div class="m-input-icon m-input-icon--right">

                                            <div class="input-group date">
                                                @*date-format="D, dd MM yyyy"*@
                                                <input type="text" class="form-control FromDate" id="kt_datepicker_3" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="la la-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group row form-group-marginless" style="margin-bottom:0px;">
                                    <label class="col-lg-3 col-form-label" for="DepartureTerminalId"> To :</label>
                                    <div class="col-lg-9" style="padding-bottom:0px;">
                                        <div class="m-input-icon m-input-icon--right">

                                            <div class="input-group date">
                                                @*date-format="D, dd MM yyyy"*@
                                                <input type="text" class="form-control ToDate" id="kt_datepicker_3" />
                                                <div class="input-group-append">
                                                    <span class="input-group-text">
                                                        <i class="la la-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-3">


                                <a id="btnSearch" style="color:white;" onclick="SearchClick();" class="btn btn-danger btn-bold">
                                    Search Vettee
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-subheader__main">
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">

                    <h3 class="kt-subheader__title">
                        Business Class
                    </h3>

                </div>

            </div>
        </div>
        <!-- end:: Subheader -->

        <div class="kt-portlet__body" style="padding-top:0px;margin-top:0px;">


            <div class="col-xl-8">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @*Exclusive Datatable Plugin*@
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="dropdown dropdown-inline">

                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-more-1"></i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">
                                    <!--begin::Nav-->
                                    <ul class="kt-nav">
                                        <li class="kt-nav__head">
                                            Export Options
                                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                        </li>
                                        <li class="kt-nav__separator"></li>

                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                <span class="kt-nav__link-text">Upload Csv</span>
                                            </a>
                                        </li>

                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__foot">
                                            <a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>
                                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                        </li>
                                    </ul>
                                    <!--end::Nav-->
                                </div>
                            </div>

                            <div class="kt-subheader__toolbar">

                                <a href="~/insurance/businessclass/create" class="btn btn-brand btn-bold">

                                    Add New Record
                                </a>


                            </div>

                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <!--begin: Datatable -->
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right  ">
                            <div class="row align-items-center">

                                <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                    <a href="#" class="btn btn-default kt-hidden">
                                        <i class="la la-cart-plus"></i> New Order
                                    </a>
                                    @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                </div>

                            </div>
                            <!-- begin: Datatable -->
                            <div class="m-portlet__body table-responsive" style="padding: 3px;">
                                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                    <thead>
                                        <tr>
                                            <th></th>

                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Code</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Description</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Unit Counts</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Ads Price</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Amount</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Calc Type</th>

                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">IsMax</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                                @Html.AntiForgeryToken()
                            </div>
                            <!--end: Datatable -->

                        </div>

                        <!--end: Search Form -->
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>



<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CompanyInfo Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                <div class="m-form__section m-form__section--first">

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Tenant ID:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:tenantId}}</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Code:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:code}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Description:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:description}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Unit Counts:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:unitCounts}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Ads Price:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:adsPrice}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Amount:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:amount }}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Contact Name:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:dateCreated }}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Is Max:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:isMax || 'NA'}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>

@section scripts{
<script src="~/lib/datatables.bundle.js"></script>
<script src="~/lib/jsrender/jsrender.min.js"></script>
<script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("#");
        });

        var DatatablesBasic = {
            init: function () {
           
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasic.init()
        });

 </script>

   

}


