﻿@model SharedErp.Models.InventoryItemDTO
@{
    ViewData["Title"] = "Create REc Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

<style>
    .hidden {
        display: none !important;
    }

    .validator {
        display: none;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background: 0 0;
        color: #eaeaea !important;
        cursor: default;
    }

    .col-form-label {
        padding-top: inherit;
    }

    .Naira {
        display: inline-block;
        position: relative;
    }

        .Naira::before {
            content: "₦";
            font-family: "Roboto Regular", sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 5px;
            top: 45%;
            transform: translateY(-50%);
        }

    .detbtn {
        position: relative;
        height: 36px;
        color: white;
        font-weight: bold;
    }

    .gridstyle {
        background-color: #337AB7;
        color: white;
        font-weight: bold;
        font-size: 14px;
    }

    .Clr {
        color: white;
        font-weight: bold;
    }

    .rowdetail {
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
</style>
}

<!--begin::Form-->
<form action="ItemUpdate" method="post">

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <!-- begin:: Content Head -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-subheader__main">

                <h3 class="kt-subheader__title">
                    Create Items
                </h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <div class="kt-subheader__group" id="kt_subheader_search">
                    <span class="kt-subheader__desc" id="kt_subheader_total">
                        Alex Stone
                    </span>

                </div>

            </div>

            <div class="kt-subheader__toolbar">

                <a href="~/Inventory/InventorySetup/ItemIndex" class="btn btn-default btn-bold">
                    Back
                </a>

                <div class="btn-group">
                    <a href="~/Inventory/InventorySetup/ItemCreate" class="btn btn-brand btn-bold">
                        Add New Record
                    </a>
                    <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="kt-nav">
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-writing"></i>
                                    <span class="kt-nav__link-text">Save &amp; continue</span>
                                </a>
                            </li>
                            @*
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                    <span class="kt-nav__link-text">Save &amp; add new</span>
                                </a>
                            </li>*@
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                    <span class="kt-nav__link-text">Save &amp; exit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- end:: Content Head -->
        <!-- begin:: Content -->
        <!-- begin:: Content -->
        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
            <div class="kt-portlet kt-portlet--tabs">


                <div class="kt-portlet__body">


                    <input type="hidden" id="texens" name="user" value="" />
                    @Html.AntiForgeryToken()
                    @Html.Partial("Itemform")

                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                    <button class="btn btn-secondary" type="reset">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>


                </div>
            </div>
        </div>
        <!-- end:: Content -->					<!-- end:: Content -->
    </div>
</form>


<!--end::Form-->
@section scripts{
<script src="~/lib/datatables.bundle.js"></script>
<script src="~/lib/jsrender/jsrender.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<script>

    var BootstrapDatepicker = function () {
        var t;
        t = mUtil.isRTL() ? {
            leftArrow: '<i class="la la-angle-right"></i>',
            rightArrow: '<i class="la la-angle-left"></i>'
        } : {
            leftArrow: '<i class="la la-angle-left"></i>',
            rightArrow: '<i class="la la-angle-right"></i>'
        };
        return {
            init: function () {
                $("#StartDate,#TransactionDate").datepicker({
                    rtl: mUtil.isRTL(),
                    autoclose: !0,
                    todayHighlight: !0,
                    orientation: "bottom left",
                    templates: t,
                    format: "D, dd MM yyyy"
                });
                $("#TerminalId, #RoleId, #Gender").select2({
                    placeholder: "Select"
                })
            }
        }
    }();

    jQuery(document).ready(function () {
        BootstrapDatepicker.init();
        $('.dropdown-select2').select2();
        DropWarehouses.init();
    });
</script>


<script>

    var ctt = null;

    var DropWarehouses = {
        init: function (ctt) {
            $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseList",
                function (response) {
                    var availabledata = response.data;
                    $("#ItemDefaultWarehouseID").empty();
                    for (var i = 0; i < availabledata.length; i++) {
                        $("#ItemDefaultWarehouseID").append(new Option(availabledata[i].text, availabledata[i].value));
                    }
                    $(ctt).select2({
                        placeholder: "Select.. option"
                    });
                });
        }
    }

</script>

}