﻿@{
    ViewData["Title"] = "Driver Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}


@*<div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
        <div class="m-alert__icon">
            <i class="flaticon-exclamation m--font-brand"></i>
        </div>
        <div class="m-alert__text">
            Get company Information.. You can create <a href="~/inventory/CompanyInfo/create" target="_blank">Add New</a> if it doesn't already exist.
        </div>
    </div>*@

<div class="m-portlet m-portlet--mobile">

    <div class="kt-portlet kt-portlet--mobile">
        <!-- begin:: Subheader -->
        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
            <div class="kt-subheader__wrapper">

                <!--begin::Section-->
                <div class="kt-section">
                    <span class="kt-section__info">Separate groups of related menu items with a divider.</span>
                    <div class="kt-section__content">
                        <div class="row">
                            <div class="col">
                                <div class="btn-group">
                                    <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
                                        <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                </g>
                                            </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-left">
                                            <!--begin::Nav-->
                                            <ul class="kt-nav">
                                                <li class="kt-nav__head">
                                                    Add anything or jump to:
                                                    <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                        <span class="kt-nav__link-text">Order</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                        <span class="kt-nav__link-text">Ticket</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-link"></i>
                                                        <span class="kt-nav__link-text">Goal</span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__item">
                                                    <a href="#" class="kt-nav__link">
                                                        <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                                        <span class="kt-nav__link-text">Support Case</span>
                                                        <span class="kt-nav__link-badge">
                                                            <span class="kt-badge kt-badge--success">5</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="kt-nav__separator"></li>
                                                <li class="kt-nav__foot">
                                                    <a class="btn btn-label-brand btn-bold btn-sm" href="~/inventory/InventorySetup/EmployeesCreate">New Record</a>
                                                    <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                                </li>
                                            </ul>
                                            <!--end::Nav-->

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group">
                                    <label class="form-control ">Status</label>
                                    <select type="" class="form-control" aria-haspopup="true" aria-expanded="false">
                                        <option value="">Select All Status</option>
                                        <option value="1">Online</option>
                                        <option value="2">Retail</option>
                                        <option value="3">Direct</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="">
                                    @*<label class=" ">Date</label>*@
                                    <div class="col-lg-12 col-md-9 col-sm-12">
                                        <div class='input-group pull-left' id='kt_daterangepicker_6'>
                                            <input type='text' class="form-control" readonly placeholder="Select date range" />
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-subheader__main">
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">

                    <h3 class="kt-subheader__title">
                        Employee Information
                    </h3>

                </div>

            </div>
        </div>
        <!-- end:: Subheader -->

        <div class="kt-portlet__body" style="padding-top:0px;margin-top:0px;">


            <div class="col-xl-8">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                @*Exclusive Datatable Plugin*@
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="dropdown dropdown-inline">

                                <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-more-1"></i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-md dropdown-menu-fit">
                                    <!--begin::Nav-->
                                    <ul class="kt-nav">
                                        <li class="kt-nav__head">
                                            Export Options
                                            <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                        </li>
                                        <li class="kt-nav__separator"></li>

                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                <span class="kt-nav__link-text">Upload Csv</span>
                                            </a>
                                        </li>

                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__foot">
                                            <a class="btn btn-label-danger btn-bold btn-sm" href="#">Upgrade plan</a>
                                            <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                        </li>
                                    </ul>
                                    <!--end::Nav-->
                                </div>
                            </div>

                            <div class="kt-subheader__toolbar">

                                <a href="~/inventory/InventorySetup/EmployeesCreate" class="btn btn-brand btn-bold">

                                    Add New Record
                                </a>


                            </div>

                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit">
                        <!--begin: Datatable -->
                        <!--begin: Search Form -->
                        <div class="kt-form kt-form--label-right  ">
                            <div class="row align-items-center">

                                <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                    <a href="#" class="btn btn-default kt-hidden">
                                        <i class="la la-cart-plus"></i> New Order
                                    </a>
                                    @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                </div>

                            </div>
                            <!-- begin: Datatable -->
                            <div class="m-portlet__body table-responsive" style="padding: 3px;">
                                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">ECode</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">FirstName</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">LastName</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Email</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Phone</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Roles</th>
                                            <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Status</th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                                @Html.AntiForgeryToken()
                            </div>
                            <!--end: Datatable -->

                        </div>

                        <!--end: Search Form -->
                        <!--end: Datatable -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="details-modal-body">
    </div>
</div>

<script id="details-modal-template" type="text/x-jsrender">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">CompanyInfo Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
                <div class="m-form__section m-form__section--first">

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Name:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:employeeCode}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Address:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:firstName}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Contact Person:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:lastName}}</span>
                        </div>
                    </div>

                    <div class="form-group m-form__group m-form__group--sm row">
                        <label class="col-xl-6 col-lg-6 col-form-label">Contact Name:</label>
                        <div class="col-xl-6 col-lg-6">
                            <span class="m-form__control-static">{{:dateOfEmployment}}</span>
                        </div>
                    </div>



                    @*<div class="form-group m-form__group m-form__group--sm row">
                            <label class="col-xl-6 col-lg-6 col-form-label">Contact Name:</label>
                            <div class="col-xl-6 col-lg-6">
                                <span class="m-form__control-static">{{:creationTime }}</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group m-form__group--sm row">
                            <label class="col-xl-6 col-lg-6 col-form-label">PilotPayroll Date:</label>
                            <div class="col-xl-6 col-lg-6">
                                <span class="m-form__control-static">{{:isActive || 'NA'}}</span>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>


@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/inventory/inventorysetup/employeesgetdata',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "employeeCode"
                        },
                        {
                            bSortable: false,
                            data: "firstName"
                        },
                        {
                            bSortable: false,
                            data: "lastName"
                        },
                        {
                            bSortable: false,
                            data: "email"
                        },
                        {
                            bSortable: false,
                            data: "phoneNumber"
                        },
                        {
                            bSortable: false,
                            data: "roleName"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                if (n.lockoutEnabled == "0") {
                                    return `\n Active \n`
                                } else {
                                    return `\n De-Activated \n`
                                }
                            }

                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                        \n <a class="dropdown-item" href="/inventory/inventorysetup/employeesupdate/`+ n.id + `"><i class="la la-edit"></i> Modify</a>
                                                       
                                                        \n </div>
                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/inventory/inventorysetup/employeesdelete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        jQuery(document).ready(function () {
            DatatablesBasicBasic.init()
        });
    @*</script>*@

    //<script>

    </script>
}


