﻿@model SharedErp.Models.InventoryItemDTO
@{
    ViewData["Title"] = "Create REc Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{

    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }

        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }

        .detbtn {
            position: relative;
            height: 36px;
            color: white;
            font-weight: bold;
        }

        .gridstyle {
            background-color: #337AB7;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        .Clr {
            color: white;
            font-weight: bold;
        }

        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>
}

<!--begin::Form-->
<form action="ItemCreate" method="post">

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <!-- begin:: Content Head -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-subheader__main">

                <h3 class="kt-subheader__title">
                    Create Items
                </h3>

                <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                <div class="kt-subheader__group" id="kt_subheader_search">
                    <span class="kt-subheader__desc" id="kt_subheader_total">
                        Alex Stone
                    </span>

                </div>

            </div>

            <div class="kt-subheader__toolbar">

                <a href="~/Inventory/InventorySetup/ItemIndex" class="btn btn-default btn-bold">
                    Back
                </a>

                <div class="btn-group">
                    <a href="~/Inventory/InventorySetup/ItemCreate" class="btn btn-brand btn-bold">
                        Add New Record
                    </a>
                    <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="kt-nav">
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-writing"></i>
                                    <span class="kt-nav__link-text">Save &amp; continue</span>
                                </a>
                            </li>
                            @*<li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                        <span class="kt-nav__link-text">Save &amp; add new</span>
                                    </a>
                                </li>*@
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                    <span class="kt-nav__link-text">Save &amp; exit</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- end:: Content Head -->
        <!-- begin:: Content -->
        <!-- begin:: Content -->
        <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
            <div class="kt-portlet kt-portlet--tabs">


                <div class="kt-portlet__body">


                    <input type="hidden" id="texens" name="user" value="" />
                    @Html.AntiForgeryToken()
                    @Html.Partial("Itemform")

                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                    <button class="btn btn-secondary" type="reset">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>


                </div>
            </div>
        </div>
        <!-- end:: Content -->					<!-- end:: Content -->
    </div>
</form>


<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate,#TransactionDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#TerminalId, #RoleId, #Gender").select2({
                        placeholder: "Select"
                    })
                }
            }
        }();

        jQuery(document).ready(function () {
            BootstrapDatepicker.init();
            $('.dropdown-select2').select2();
            DropWarehouses.init();
            DropItemCategory.init();
            DropItemFamily.init();
            DropInventoryAccount.init();
        });


        function MyFunction() {
            var selected = $("#ItemDefaultWarehouseID").val();
            DropWarehousebin.init(selected);
        }
    </script>


    <script>

        var ctt = null;

       var DropWarehouses = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseList",
                    function (response) {
                        var availabledata = response.data;
                        //$("#ItemDefaultWarehouseID")
                        $("#ItemDefaultWarehouseID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#ItemDefaultWarehouseID").append(new Option(availabledata[i].text, availabledata[i].value));
                            $("#BinWarehouseID").append(new Option(availabledata[i].text, availabledata[i].value));

                            //$('#ItemDefaultWarehouseID option[value=' + data.driverId + ']').attr('selected', 'selected');
                            //$('#ItemDefaultWarehouseID').val(data.driverId).change();
                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


       var DropWarehousebin = {
           init: function (ctt) {
               $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseBinList" + "&id=" + ctt ,
                    function (response) {
                        var availabledata = response.data;
                        $("#ItemDefaultWarehouseBinID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#ItemDefaultWarehouseBinID option:gt(0)").remove();
                            $("#ItemDefaultWarehouseBinID").append(new Option(availabledata[i].text, availabledata[i].value));

                            //
                           
                        }
                    });
            }
        }


           var DropItemCategory = {
           init: function (ctt) {
                   $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "ItemCategoryList",
                    function (response) {
                        var availabledata = response.data;
                        $("#ItemCategoryID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#ItemCategoryID").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropItemFamily = {
           init: function (ctt) {
                 $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "ItemFamilyList",
                    function (response) {
                        var availabledata = response.data;
                        $("#ItemFamilyID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#ItemFamilyID").append(new Option(availabledata[i].text, availabledata[i].value));

                        }

                    });
            }
        }

        var DropInventoryAccount = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "InventoryAccountList",
                    function (response) {
                        var availabledata = response.data;
                        $("#GLItemInventoryAccountId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#GLItemInventoryAccountId").append(new Option(availabledata[i].text, availabledata[i].value));

                        }

                    });
            }
        }

        // Begin: Script for Modal


        // Warehouse  Begins
        function warehouseClick(ctt) {
            $('#WarehouseModal').modal();
            $('#WarehouseModal').modal('show');
        }

        function warehouseSave() {
            var Warehouseid = $("#warehouseid").val();
            var WarehouseCode = $("#WarehouseCode").val();
            var WarehouseName = $("#WarehouseName").val();
            var WarehouseAddress1 = $("#WarehouseAddress1").val();

            if (WarehouseName == "") {
                swal("Enter an WarehouseName")
                return false;
            }

            if (Warehouseid == "") {
                warehouseid = "0";
            } else {
                warehouseid = $("#warehouseid").val();
            }

            $.getJSON("/inventory/inventorysetup/WarehouseSave/?Id=" + warehouseid + "&Code=" + WarehouseCode + "&Name=" + WarehouseName + "&Address1=" + WarehouseAddress1,
                function (data) {
                });
            DropWarehouses.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Warehouse  Ends

        // Item Category  Begins
        function categoryClick(ctt) {
            $('#CategoryModal').modal();
            $('#CategoryModal').modal('show');
        }

        function categorySave() {
            var Categoryid = $("#categoryid").val();
            var CategoryCode = $("#ItemCategoryCode").val();
            var CategoryName = $("#CategoryName").val();
            var CategoryDescription = $("#CategoryDescription").val();
            var LongDescription = $("#CategoryLongDescription").val();

            if (CategoryName == "") {
                swal("Enter an category name")
                return false;
            }

            if (Categoryid == "") {
                Categoryid = "0";
            } else {
                Categoryid = $("#categoryid").val();
            }

            $.getJSON("/inventory/inventorysetup/ItemCategorySave/?Id=" + Categoryid + "&Code=" + CategoryCode + "&Name=" + CategoryName + "&Description=" + CategoryDescription + "&LongDescription=" + LongDescription,
                function (data) {
                });
            DropItemCategory.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Item Category  Ends


        // Item Family  Begins
        function familyClick(ctt) {
            $('#FamilyModal').modal();
            $('#FamilyModal').modal('show');
        }

        function familySave() {
            var Familyid = $("#familyid").val();
            var FamilyCode = $("#ItemFamilyCode").val();
            var FamilyDescription = $("#FamilyDescription").val();
            var FamilyPictureURL = $("#FamilyPictureURL").val();
            var LongDescription = $("#FamilyLongDescription").val();

            if (FamilyDescription == "") {
                swal("Enter an family description")
                return false;
            }

            if (Familyid == "") {
                Familyid = "0";
            } else {
                Familyid = $("#familyid").val();
            }

            $.getJSON("/inventory/inventorysetup/ItemFamilySave/?Id=" + Familyid + "&Code=" + FamilyCode + "&PictureUrl=" + FamilyPictureURL + "&Description=" + FamilyDescription + "&LongDescription=" + LongDescription,
                function (data) {
                });
            DropItemFamily.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Item Family  Ends

        // Warehouse Bin  Begins
        function warehouseBinClick(ctt) {
            $('#WarehouseBinModal').modal();
            $('#WarehouseBinModal').modal('show');
        }

        function warehouseBinSave() {
            var WarehouseBinId = $("#warehouseBinId").val();
            var WarehouseBinCode = $("#WarehouseBinIDCode").val();
            var WarehouseBinName = $("#WarehouseBinName").val();
            var WarehouseBinLocation = $("#WarehouseBinLocation").val();
            var WarehouseID = $("#BinWarehouseID").val();
            var IsActive = $("#IsActive").val();

            if (WarehouseBinName == "") {
                swal("Enter an warehouse bin name")
                return false;
            }

            if (WarehouseBinId == "") {
                WarehouseBinId = "0";
            } else {
                WarehouseBinId = $("#warehouseBinId").val();
            }

            if (IsActive == "") {
                IsActive = false;
            } else {
                IsActive = true;
            }

            $.getJSON("/inventory/inventorysetup/WarehouseBinSave/?Id=" + WarehouseBinId + "&Code=" + WarehouseBinCode + "&Location=" + WarehouseBinLocation + "&Name=" + WarehouseBinName + "&IsActive=" + IsActive + "&WarehouseID=" + WarehouseID,
                function (data) {
                });
            DropWarehousebin.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Warehouse Bin  Ends

        // Ledger Account  Begins
        function ledgerAccountClick(ctt) {
            $('#LedgerAccountModal').modal();
            $('#LedgerAccountModal').modal('show');
        }

        function ledgerAccountSave() {
            var LedgerAccountId = $("#ledgerAccountId").val();
            var CGLAccountNumber = $("#CGLAccountNumber").val();
            var GLAccountName = $("#GLAccountName").val();
            var GLAccountDescription = $("#GLAccountDescription").val();
            var GLAccountType = $("#GLAccountType").val();

            if (GLAccountName == "") {
                swal("Enter GLAccountName")
                return false;
            }

            if (CGLAccountNumber == "") {
                swal("Enter CGLAccountNumber")
                return false;
            }

            if (LedgerAccountId == "") {
                LedgerAccountId = "0";
            } else {
                LedgerAccountId = $("#ledgerAccountId").val();
            }

            $.getJSON("/inventory/inventorysetup/LedgerAccountSave/?Id=" + LedgerAccountId + "&Number=" + CGLAccountNumber + "&Name=" + GLAccountName + "&Description=" + GLAccountDescription + "&Type=" + GLAccountType,
                function (data) {
                });
            DropInventoryAccount.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Ledger Account  Ends

        // Inventory Item  Begins
        function inventoryItemClick(ctt) {
            $('#InventoryItemModal').modal();
            $('#InventoryItemModal').modal('show');
        }

        function inventoryItemSave() {
            var InventoryItemId = $("#inventoryItemId").val();
            var ItemCode = $("#ItemCode").val();
            var ItemName = $("#ItemName").val();
            var ItemDescription = $("#ItemDescription").val();

            if (ItemName == "") {
                swal("Enter ItemName")
                return false;
            }

            if (ItemCode == "") {
                swal("Enter ItemCode")
                return false;
            }

            if (InventoryItemId == "") {
                InventoryItemId = "0";
            } else {
                InventoryItemId = $("#inventoryItemId").val();
            }

            $.getJSON("/inventory/inventorysetup/InventoryItemSave/?Id=" + InventoryItemId + "&Code=" + ItemCode + "&Name=" + ItemName + "&Description=" + ItemDescription,
                function (data) {
                });
            DropInventoryItem.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Inventory Item  Ends
        // End: Script for Modal

    </script>

}