<div [className]="opened ? 'opened modale': 'modale'">
    <div class="modal-dialog p-10 w-full md:w-10/12 xl:w-1/2 h-full md:h-screen">
        <div class="flex justify-end">
            <a (click)="onClose()" class="text-2xl cursor-pointer" aria-hidden="true">&times;</a>
        </div>
        <div class="content-div mt-10">
            <h3 class="text-2xl font-bold mb-6 animate__animated animate__fadeInUp">Security Settings</h3>
            <mat-divider></mat-divider>
            <div
                class="bg-white shadow-2xl rounded-2xl p-10 flex flex-col justify-center items-center animate__animated animate__fadeInUp mt-10">
                <form (ngSubmit)="updatePassword()" #passwordForm="ngForm" class="form-content w-full md:w-8/12">
                    <div class="flex mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <mat-icon aria-hidden="false" aria-label="password icon">password</mat-icon>
                        </div>
                        <div class="w-full">
                            <input id="currentPassword" type="password" [disabled]="loading"
                                [(ngModel)]="securityDetails.currentPassword" required name="currentPassword" ngModel
                                #currentPassword="ngModel" placeholder="Current Password"
                                class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                            <div *ngIf="currentPassword.touched && currentPassword.invalid" class="mt-2">
                                <p class="text-red-500 tex-sm">Old password is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <mat-icon aria-hidden="false" aria-label="password icon">password</mat-icon>
                        </div>
                        <div class="w-full">
                            <input id="newPassword" type="password" [disabled]="loading" (keyup)="onKeyNewPassword()"
                                [(ngModel)]="securityDetails.newPassword" required name="newPassword" ngModel
                                #newPassword="ngModel" placeholder="New Password"
                                class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                            <div *ngIf="newPassword.touched && newPassword.invalid" class="mt-2">
                                <p class="text-red-500 tex-sm">New Password is required</p>
                            </div>
                            <div class="mt-2" *ngIf="mustNotMatch">
                                <p class="text-red-500 tex-sm">New password must be different from current password</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <mat-icon aria-hidden="false" aria-label="password icon">password</mat-icon>
                        </div>
                        <div class="w-full">
                            <input id="confirmPassword" type="password" [disabled]="loading"
                                (keyup)="onConfirmPassword()" [(ngModel)]="securityDetails.confirmPassword" required
                                name="confirmPassword" ngModel #confirmPassword="ngModel" placeholder="Confirm Password"
                                class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                            <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="mt-2">
                                <p class="text-red-500 tex-sm">Confirm password is required</p>
                            </div>
                            <div class="mt-2" *ngIf="notMatch">
                                <p class="text-red-500 tex-sm">New password and confirm password do not match</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center mb-10 mt-10">
                        <button type="submit" [disabled]="loading"
                            class="bg-black text-white py-6 px-10 rounded-full shadow-2xl md:w-8/12">
                            Update Password
                        </button>
                    </div>

                </form>
                <app-loader *ngIf="loading"></app-loader>
            </div>
        </div>
    </div>
</div>