<div class="relative">
    <div class="shadow-2xl bg-white p-8 mb-20">
        <h4 class="text-2xl text-bold">Settings</h4>
    </div>
    <div class="px-8">
        <div class="bg-gray-50 border-2 border-gray-100 py-6 flex md:w-6/12 h-24 rounded-lg px-4 items-center mb-8 cursor-pointer animate__animated animate__fadeInUp" (click)="onClickProfile()">
            <mat-icon aria-hidden="false" aria-label="perm_identity icon">perm_identity</mat-icon>
            <p class="font-bold ml-3">Profile Settings</p>
        </div>
        <div class="bg-gray-50 border-2 border-gray-100 py-6 flex md:w-6/12 h-24 rounded-lg px-4 items-center mb-8 cursor-pointer animate__animated animate__fadeInUp" (click)="onClickNotifications()">
            <mat-icon aria-hidden="false" aria-label="notifications icon">notifications</mat-icon>
            <p class="font-bold ml-3">Notification Settings</p>
        </div>
        <div class="bg-gray-50 border-2 border-gray-100 py-6 flex md:w-6/12 h-24 rounded-lg px-4 items-center mb-8 cursor-pointer animate__animated animate__fadeInUp" (click)="onClickCardSettings()">
            <mat-icon aria-hidden="false" aria-label="credit_card icon">credit_card</mat-icon>
            <p class="font-bold ml-3">My Card Settings</p>
        </div>
        <div class="bg-gray-50 border-2 border-gray-100 py-6 flex md:w-6/12 h-24 rounded-lg px-4 items-center cursor-pointer animate__animated animate__fadeInUp" (click)="onClickSecuritySettings()">
            <mat-icon aria-hidden="false" aria-label="settings icon">settings</mat-icon>
            <p class="font-bold ml-3">Security Settings</p>
        </div>
    </div>
    <!-- Modals -->
    <app-settings-modal *ngIf="showSecurityModal" [opened]="opened" (close)="showSecurityModal = false"></app-settings-modal>

    <app-profile-modal *ngIf="showProfileModal" [opened]="opened" (close)="showProfileModal = false"></app-profile-modal>

    <app-notification-modal *ngIf="showNotificationModal" [opened]="opened" (close)="showNotificationModal = false"></app-notification-modal>

    <app-card-modal *ngIf="showCardModal"></app-card-modal>


</div>