﻿@model SharedErp.Models.InventorySetupsModel
@{
    ViewData["Title"] = "Create Company Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    Alex Stone
                </span>

            </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/NationFleets/Account/Dashboards" class="btn btn-default btn-bold">

                Back
            </a>

            <div class="btn-group">
                <button type="submit" class="btn btn-brand btn-bold">

                    More Settings
                </button>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                <span class="kt-nav__link-text">Save &amp; add new</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Content Head -->										<!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Bound" points="0 0 24 0 24 24 0 24" />
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" id="Shape" fill="#000000" fill-rule="nonzero" />
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" id="Path" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>                        Terminal
                            </a>
                        </li>
                        <li class="nav-item" id="State">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_2" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" id="Mask" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" id="Mask-Copy" fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>                        State
                            </a>
                        </li>
                        <li class="nav-item" id="Region">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_3" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                        <path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M7.5,5 C7.22385763,5 7,5.22385763 7,5.5 C7,5.77614237 7.22385763,6 7.5,6 L13.5,6 C13.7761424,6 14,5.77614237 14,5.5 C14,5.22385763 13.7761424,5 13.5,5 L7.5,5 Z M7.5,7 C7.22385763,7 7,7.22385763 7,7.5 C7,7.77614237 7.22385763,8 7.5,8 L10.5,8 C10.7761424,8 11,7.77614237 11,7.5 C11,7.22385763 10.7761424,7 10.5,7 L7.5,7 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                        <path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z" id="Combined-Shape" fill="#000000" />
                                    </g>
                                </svg>                        Region
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="kt-portlet__body">
                <form action="#" method="post">

                    @Html.AntiForgeryToken()
                    @*@Html.Partial("_form")*@
                    <div class="tab-content">
                        <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <!--begin:  Terminal Rows -->

                                <div class="kt-form__body">
                                    <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                        <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                            <!-- begin:: Subheader -->
                                            <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                                <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                    <div class="col">
                                                        <div class="btn-group">
                                                            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                                <a onclick='javascript: terminalClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                        </g>
                                                                    </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                                </a>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                                </div>
                                                <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                    <div class="kt-subheader__wrapper">

                                                        <h3 class="kt-subheader__title">
                                                            Terminal Information
                                                        </h3>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- end:: Subheader -->
                                            <!--begin: Terminal Datatable -->
                                            <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                                <!--begin: Search Form -->
                                                <div class="kt-form kt-form--label-right  ">
                                                    <div class="row align-items-center">

                                                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                            <a href="#" class="btn btn-default kt-hidden">
                                                                <i class="la la-cart-plus"></i> New Order
                                                            </a>
                                                            @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                        </div>

                                                    </div>
                                                    <!-- begin: Datatable -->
                                                    <div class="m-portlet__body " style="padding: 3px;">
                                                        <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                            Sucesfully Saved
                                                        </div>
                                                        <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Code</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Name</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Address</th>
                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">ContactPerson</th>

                                                                    <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Actions</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        @Html.AntiForgeryToken()
                                                    </div>
                                                    <!--end: Datatable -->

                                                </div>

                                                <!--end: Search Form -->
                                                <!--end: Terminal Datatable -->
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <!--End:  Terminal Rows  -->
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_apps_user_edit_tab_2" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <!--begin:  State Rows -->

                                <div class="kt-form__body">
                                    <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                        <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                            <!-- begin:: Subheader -->
                                            <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                                <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                    <div class="col">
                                                        <div class="btn-group">
                                                            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                                <a onclick='javascript: stateClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                        </g>
                                                                    </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                                </a>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                                </div>
                                                <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                    <div class="kt-subheader__wrapper">

                                                        <h3 class="kt-subheader__title">
                                                            State Information
                                                        </h3>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- end:: Subheader -->
                                            <!--begin: State Datatable -->
                                            <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                                <!--begin: Search Form -->
                                                <div class="kt-form kt-form--label-right  ">
                                                    <div class="row align-items-center">

                                                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                            <a href="#" class="btn btn-default kt-hidden">
                                                                <i class="la la-cart-plus"></i> New Order
                                                            </a>
                                                            @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                        </div>

                                                    </div>
                                                    <!-- begin: Datatable -->
                                                    <div class="m-portlet__body " style="padding: 3px;">
                                                        <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                            Sucesfully Saved
                                                        </div>
                                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_2">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Name</th>
                                                                    <th>RegionName</th>

                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        @Html.AntiForgeryToken()
                                                    </div>
                                                    <!--end: Datatable -->

                                                </div>

                                                <!--end: Search Form -->
                                                <!--end: State Datatable -->
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <!--End:  State Rows  -->
                            </div>
                        </div>
                        <div class="tab-pane" id="kt_apps_user_edit_tab_3" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <!--begin:  Region Rows -->

                                <div class="kt-form__body">
                                    <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                        <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                            <!-- begin:: Subheader -->
                                            <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                                <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                    <div class="col">
                                                        <div class="btn-group">
                                                            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                                <a onclick='javascript: regionClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                        </g>
                                                                    </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                                </a>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                                </div>
                                                <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                    <div class="kt-subheader__wrapper">

                                                        <h3 class="kt-subheader__title">
                                                            Region Information
                                                        </h3>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- end:: Subheader -->
                                            <!--begin: Region Datatable -->
                                            <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                                <!--begin: Search Form -->
                                                <div class="kt-form kt-form--label-right  ">
                                                    <div class="row align-items-center">

                                                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                            <a href="#" class="btn btn-default kt-hidden">
                                                                <i class="la la-cart-plus"></i> New Order
                                                            </a>
                                                            @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                        </div>

                                                    </div>
                                                    <!-- begin: Datatable -->
                                                    <div class="m-portlet__body " style="padding: 3px;">
                                                        <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                            Sucesfully Saved
                                                        </div>
                                                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_3">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Name</th>

                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        @Html.AntiForgeryToken()
                                                    </div>
                                                    <!--end: Datatable -->

                                                </div>

                                                <!--end: Search Form -->
                                                <!--end: Region Datatable -->
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <!--End:  Region Rows -->
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>


<!-- BEgin:: Terminal Modal Form goes here -->
<div class="modal fade col-xs-12" id="TerminalModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A Terminal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="TerminalId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Code: </label>
                                    <input type="text" asp-for="TerminalCode" placeholder="Enter Code" class="form-control" id="TerminalCode" />
                                    <div class="form-control-feedback"><span asp-validation-for="TerminalCode"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Name: </label>
                                    <input type="text" asp-for="TerminalName" placeholder="Enter Name" class="form-control" id="TerminalName" />
                                    <div class="form-control-feedback"><span asp-validation-for="TerminalName"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Address: </label>
                                    <input type="text" asp-for="TerminalAddress" placeholder="Enter Address" class="form-control" id="TerminalAddress" />
                                    <div class="form-control-feedback"><span asp-validation-for="TerminalAddress"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Contact Person: </label>
                                    <input type="text" asp-for="TerminalContactPerson" placeholder="Enter Contact Person" class="form-control" id="TerminalContactPerson" />
                                    <div class="form-control-feedback"><span asp-validation-for="TerminalContactPerson"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="TerminalType">Terminal Type:</label>
                                    <div class="col-lg-12">
                                        @Html.DropDownListFor(m => m.WarehouseModel, Html.GetEnumSelectList(typeof(SharedErp.Models.TerminalType)), new { @id = "TerminalType", @class = "form-control dropdown-select2" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="TerminalStateId">State:</label>
                                    <div class="col-lg-12">
                                        <div class="input-group date">
                                            @Html.DropDownListFor(model => model.WarehouseModel, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  State", new { @id = "TerminalStateId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="terminalSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Terminal Modal Form  -->
<!-- BEgin:: State Modal Form goes here -->
<div class="modal fade col-xs-12" id="StateModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A State</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="StateId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Name: </label>
                                    <input type="text" asp-for="StateName" placeholder="Enter State Name" class="form-control" id="StateName" />
                                    <div class="form-control-feedback"><span asp-validation-for="StateName"></span></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label"> Region Name: </label>
                                    <input type="text" asp-for="StateRegionName" placeholder="Enter Region Name" class="form-control" id="StateRegionName" />
                                    <div class="form-control-feedback"><span asp-validation-for="StateRegionName"></span></div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label"> Region Id: </label>
                                    @Html.DropDownListFor(model => model.WarehouseModel, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Region", new { @id = "StateRegionId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                    <div class="form-control-feedback"><span asp-validation-for="StateRegionId"></span></div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="stateSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  State Modal Form  -->
<!-- BEgin:: Region Modal Form goes here -->
<div class="modal fade col-xs-12" id="RegionModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A Region</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="RegionId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Name: </label>
                                    <input type="text" asp-for="RegionName" placeholder="Enter Name" class="form-control" id="RegionName" />
                                    <div class="form-control-feedback"><span asp-validation-for="RegionName"></span></div>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="regionSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Region Modal Form  -->
<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>

        jQuery(document).ready(function () {
            DatatablesBasicBasic.init();
            DatatablesBasicBasic2.init();
            DatatablesBasicBasic3.init();
            DatatablesBasicBasic4.init();
            DatatablesBasicBasic5.init();
            DropWarehouses.init();
            DropStates.init();
            DropRegions.init();
        });

        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });

        var BootstrapDatepicker = function () {
            var t;
            //var number = KTUtil.getRandomInt(1, 14);
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#payDate").datepicker({/*, #EndDate*/
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    $("#ModalPaytype, #Modalpaydescript").select2({
                        placeholder: "Select an appropriate option"
                    })
                }
            }
        }();



        var DatatablesBasicBasic = {
            init: function () {
                var table = $("#m_table_1").DataTable({

                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Terminal/TerminalGetData',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "code"
                        },
                        {
                            bSortable: false,
                            data: "name"
                        },
                        {
                            bSortable: false,
                            data: "address"
                        },
                        {
                            bSortable: false,
                            data: "contactPerson"
                        },
                        //{
                        //    bSortable: false,
                        //    data: "warehouseAddress2"
                        //},
                        //{
                        //    bSortable: false,
                        //    data: "warehouseCity"
                        //},
                        //{
                        //    bSortable: false,
                        //    data: "warehouseState"
                        //},
                        //{
                        //    bSortable: false,
                        //    data: "warehouseZip"
                        //},

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                            \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                            \n <a class="dropdown-item" onclick="modify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                            \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                            \n </div>
                                                        \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {

                    if (confirm("Are you sure?")) {

                        var tr = $(this).closest("tr");
                        var data = table.row(tr).data();

                        var csrf = $("input[name='__RequestVerificationToken']").val();
                        $.ajax({
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": csrf
                            },
                            url: "/NationFleets/Terminal/TerminalDelete/" + data.id,
                            success: function (response) {
                                table.row(tr).remove().draw(false);
                            },

                            error: function (response) {
                                table.row(tr).remove().draw(true);
                                alert('failed deleting the selected record');
                            }
                        });
                    }
                    return false;

                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };

        function terminalClick() {
            $("#SaveMsg").hide().css("visibility", "hidden");
            

            $('#TerminalModal').modal();
            DropStates.init();
            DropRegions.init();
            $('#TerminalModal').modal('show');
        }

       


        function terminalSave() {
            var TerminalId = $("#TerminalId").val();
            var TerminalCode = $("#TerminalCode").val();
            var TerminalName = $("#TerminalName").val();
            var TerminalAddress = $("#TerminalAddress").val();
            var TerminalContactPerson = $("#TerminalContactPerson").val();
            var TerminalType = $("#TerminalType").val();
            var TerminalStateId = $("#TerminalStateId").val();
            if (TerminalName == "") {
                swal("Enter an Terminal Name")
                return false;
            }

            if (TerminalId == "") {
                TerminalId = "0";
            } else {
                TerminalId = $("#TerminalId").val();
            }

            $.getJSON("/NationFleets/Terminal/TerminalSave/?Id=" + TerminalId + "&Code=" + TerminalCode + "&Name=" + TerminalName + "&Address=" + TerminalAddress + "&ContactPerson=" + TerminalContactPerson + "&StateId=" + TerminalStateId+ "&Type=" + TerminalType,
                function (data) {

                    $("#SaveMsg").hide().css("visibility", "show");
                });
            setTimeout(function () {
                //location.reload();
                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                window.location.href = currentURL;
            }, 1000);
            window.location.reload(true);
        }

        function modify(data) {
            var terminalId = data;
            $.ajax({
                url: "/NationFleets/Terminal/TerminalUpdate",
                data: {
                    id: terminalId
                },
                success: function (response) {
                    $('#TerminalId').val(response.data.id);
                    $('#TerminalCode').val(response.data.code);
                    $('#TerminalName').val(response.data.name);
                    $('#TerminalAddress').val(response.data.address);
                    $('#TerminalContactPerson').val(response.data.contactPerson);
                    $('#TerminalType').val(response.data.terminalType);
                    $('#TerminalStateId').val(response.data.stateId);
                    $('#TerminalModal').modal();
                    $('#TerminalModal').modal('show');

                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }


        //begin State Implementattion
        $("#State").click(function () {
            $('li a').removeClass("active");
            $(this).addClass("active");
            //
        });

        //begin  Datatable
        var DatatablesBasicBasic2 = {
            init: function () {
                var table = $("#m_table_2").DataTable({

                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Terminal/StateGetData',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "name"
                        },
                        {
                            bSortable: false,
                            data: "regionName"
                        },
                        //{
                        //    bSortable: false,
                        //    data: "warehouseState"
                        //},
                        //{
                        //    bSortable: false,
                        //    data: "warehouseZip"
                        //},

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                            \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                            \n <a class="dropdown-item" onclick="stateModify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                            \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                            \n </div>
                                                        \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    if (confirm("Are you sure?")) {

                        var tr = $(this).closest("tr");
                        var data = table.row(tr).data();

                        var csrf = $("input[name='__RequestVerificationToken']").val();
                        $.ajax({
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": csrf
                            },
                            url: "/NationFleets/Terminal/StateDelete/" + data.id,
                            success: function (response) {
                                table.row(tr).remove().draw(false);
                            },

                            error: function (response) {
                                table.row(tr).remove().draw(true);
                                alert('failed deleting the selected record');
                            }
                        });
                    }
                    return false;

                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        //Warehouse warehousebin
        function stateClick() {
            $("#SaveMsg").hide().css("visibility", "hidden");

            //var url = "/inventory/inventorysetup/WarehouseGetData";
            //var Category = $("#WarehouseDropDown");
            //$.getJSON(url, function (response) {
            //    Category.empty().append($('<option></option>').val('').text('Please select'));
            //    $.each(response, function (index, item) {
            //        Category.append($('<option></option>').val(item.Value).text(item.Text));
            //    });
            //    $('#DisplayModal').modal('show');
            //});
            
            DropRegions.init();
            $('#StateModal').modal();
            $('#StateModal').modal('show');
        }

        //Drop down call

            // Dropdown

            var ctt = null;

       var DropWarehouses = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseList",
                    function (response) {
                        var availabledata = response.data;
                        //$("#ItemDefaultWarehouseID")
                        $("#WarehouseID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#WarehouseID").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        function stateSave() {
            var StateId = $("#StateId").val();
            var StateName = $("#StateName").val();
            var StateRegionName = $("#StateRegionName").val();
            var StateRegionId = $("#StateRegionId").val();

            if (StateName == "") {
                swal("Enter an State Name")
                return false;
            }

            if (StateId == "") {
                StateId = "0";
            } else {
                StateId = $("#StateId").val();
            }


            $.getJSON("/NationFleets/Terminal/StateSave/?Id=" + StateId + "&Name=" + StateName + "&RegionName=" + StateRegionName + "&RegionId=" + StateRegionId,
                function (data) {

                    $("#SaveMsg").hide().css("visibility", "show");
                });
            setTimeout(function () {
                //location.reload();
                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                window.location.href = currentURL;
            }, 1000);
            window.location.reload(true);
        }

        function stateModify(data) {
            var stateid = data;
            $.ajax({
                url: "/NationFleets/Terminal/StateUpdate",
                data: {
                    id: stateid
                },
                success: function (response) {
                    $('#StateId').val(response.data.id);
                    $('#StateName').val(response.data.name);
                    $('#StateRegionName').val(response.data.regionName);
                    $('#StateRegionId').val(response.data.regionId);
                    $('#WarehouseBinModal').modal();
                    $('#WarehouseBinModal').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }

        //begin Region Datatable
        $("#Region").click(function () {
            $('li a').removeClass("active");
            $(this).addClass("active");

            //DatatablesBasicBasic3.init();
        });

        //begin Datatable

        var DatatablesBasicBasic3 = {
            init: function () {
                var table = $("#m_table_3").DataTable({

                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Terminal/RegionGetData',
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "name"
                        },
                        //{
                        //    bSortable: false,
                        //    data: "warehouseState"
                        //},
                        //{
                        //    bSortable: false,
                        //    data: "warehouseZip"
                        //},

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                            \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                            \n <a class="dropdown-item" onclick="stateModify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                            \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                            \n </div>
                                                        \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    if (confirm("Are you sure?")) {
                        var tr = $(this).closest("tr");
                        var data = table.row(tr).data();

                        var csrf = $("input[name='__RequestVerificationToken']").val();
                        $.ajax({
                            method: "POST",
                            headers: {
                                "RequestVerificationToken": csrf
                            },
                            url: "/NationFleets/Terminal/RegionDelete/" + data.id,
                            success: function (response) {
                                table.row(tr).remove().draw(false);
                            },

                            error: function (response) {
                                table.row(tr).remove().draw(true);
                                alert('failed deleting the selected record');
                            }
                        });
                    }
                    return false;

                
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        //Item Category
        function regionClick() {
            $("#SaveMsg").hide().css("visibility", "hidden");

            $('#RegionModal').modal();
            $('#RegionModal').modal('show');
        }

        function regionSave() {
            var RegionId = $("#RegionId").val();
            var RegionName = $("#RegionName").val();

            if (RegionName == "") {
                swal("Enter an Region Name")
                return false;
            }

            if (RegionId == "") {
                RegionId = "0";
            } else {
                RegionId = $("#RegionId").val();
            }

            $.getJSON("/NationFleets/Terminal/RegionSave/?Id=" + RegionId + "&Name=" + RegionName,
                function (data) {

                    $("#SaveMsg").hide().css("visibility", "show");
                });
            setTimeout(function () {
                //location.reload();
                var currentURL = window.location.pathname + window.location.search + window.location.hash;
                window.location.href = currentURL;
            }, 1000);
            window.location.reload(true);
        }

        function regionModify(data) {
            var regionId = data;
            $.ajax({
                url: "/NationFleets/Terminal/RegionUpdate",
                data: {
                    id: regionId
                },
                success: function (response) {
                    $('#RegionId').val(response.data.id);
                    $('#RegionName').val(response.data.name);
                    $('#RegionModal').modal();
                    $('#RegionModal').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }

        //End Region Datatable


    </script>

    <script>

        var ctt = null;

        var DropStates = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "StateList",
                    function (response) {
                        var availabledata = response.data;
                        //$("#ItemDefaultWarehouseID")
                        $("#TerminalStateId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#TerminalStateId").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

          var DropRegions = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "RegionList",
                    function (response) {
                        var availabledata = response.data;
                        //$("#ItemDefaultWarehouseID")
                        $("#StateRegionId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#StateRegionId").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropChild= {
           init: function (ctt) {
               $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseBinList" + "&id=" + ctt ,
                    function (response) {
                        var availabledata = response.data;
                        $("#WarehouseBinID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#WarehouseBinID option:gt(0)").remove();
                            $("#WarehouseBinID").append(new Option(availabledata[i].text, availabledata[i].value));

                            //

                        }

                    });
            }
        }

    </script>


}