<div [className]="opened ? 'opened modale': 'modale'">
    <div class="modal-dialog p-10 w-full md:w-10/12 xl:w-1/2 h-full md:h-screen">
        <div class="flex justify-end">
            <a (click)="onClose()" class="text-2xl cursor-pointer" aria-hidden="true">&times;</a>
        </div>
        <div class="content-div mt-10">
            <h3 class="text-2xl font-bold mb-6 animate__animated animate__fadeInUp">Notification Settings</h3>
            <mat-divider></mat-divider>
            <div class="flex flex-col mt-10">
                <mat-slide-toggle class="mb-10" [(ngModel)]="isOffersChecked">{{isOffersChecked ? 'Disable' : 'Enable'}} Offers Notifications</mat-slide-toggle>
                <mat-slide-toggle [(ngModel)]="isFeedbackChecked">{{isFeedbackChecked ? 'Disable' : 'Enable'}} Feedback Notifications</mat-slide-toggle>
            </div>
        </div>
    </div>
</div>