﻿@model SharedErp.Areas.Security.Models.VetBundlesDTO

<div class="tab-content">
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <label class="col-lg-4 col-form-label">Code</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code)
                            </div>
                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.Description)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.UnitCounts)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.UnitCounts, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UnitCounts)
                            </div>

                   

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.AdsPrice)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.AdsPrice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AdsPrice)
                            </div>
                            <label class="col-lg-4 col-form-label" for="CalcType">Adjustment Type:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.DropDownListFor(m => m.CalcType, Html.GetEnumSelectList(typeof(SharedErp.Models.Enum.FareAdjustmentType)), new { @class = "form-control dropdown-select2" })
                            </div>
                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.Amount)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Amount)
                            </div>
                            <label class="col-lg-4 col-form-label"> Is Max</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @*@Html.CheckBoxFor(model => model.IsMax, new { @checked = "checked" })*@
                                @Html.CheckBoxFor(model => model.IsMax)
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            @*<label><strong>Item Details:</strong>  </label>
                <hr width="100%" />*@


        </div>
    </div>



</div>
