﻿@model SharedErp.Models.RequisitionHeaderDTO

<div class="tab-content">
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label" for="TransactionDate">Date:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @*commit*@
                                <div class="m-input-icon m-input-icon--right">

                                    <div class="input-group date">
                                        @*date-format="D, dd MM yyyy"*@
                                        <input type="text" class="form-control" asp-for="TransactionDate" readonly id="kt_datepicker_3" />
                                        <div class="input-group-append">
                                            <span asp-validation-for="TransactionDate" class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-control-feedback"><span asp-validation-for="TransactionDate"></span></div>
                            </div>
                            <label class="col-lg-4 col-form-label" for="Notes">Notes:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" id="Notes" class="form-control" asp-for="Notes" placeholder="Narratives">
                                <div class="form-control-feedback"><span asp-validation-for="Notes"></span></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label" for="WarehouseID">Warehouse:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <div class="input-group date">
                                    @Html.DropDownListFor(model => model.WarehouseID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Warehouse", new { @id = "WarehouseID", @class = "m-input-icon m-input-icon--right form-control dropdown-select2", onchange = "MyFunction()" })
                                   
                                    <div class="input-group-append">
                                        <a onclick='javascript: warehouseClick()'>
                                            <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                                <i style="color:white;" class="la la-plus-circle"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <label class="col-lg-4 col-form-label" for="WarehouseBinID">W-Bin:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">

                                <div class="input-group date">
                                    @Html.DropDownListFor(model => model.WarehouseBinID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Bin ", new { @id = "WarehouseBinID", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                    
                                    <div class="input-group-append">
                                        <a onclick='javascript: warehouseBinClick()'>
                                            <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                                <i style="color:white;" class="la la-plus-circle"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">


                        </div>
                    </div>
                </div>

            </div>
            <label><strong>Issue Item Details:</strong>  </label>


            <hr width="100%" />
            <div class="m-portlet__body" id="TextBoxesGroup">
                <div class="form-group gridstyle m-form__group row" style="padding-bottom:0px; margin-bottom:0px;">
                    <div class="col-lg-2 "> <label>Item: </label></div>
                    <div class="col-lg-2"> <label> Warehouse: </label></div>
                    <div class="col-lg-2"> <label>Warehouse Bin: </label></div>
                    <div class="col-lg-2"><label> Narratives: </label></div>
                    <div class="col-lg-1"><label>Qty: </label></div>
                    <div class="col-lg-1"> <label> ToDebit: </label></div>
                </div>

                <hr width="100%" style="padding-bottom: 0px; margin-bottom: 5px; padding-top:0px; margin-top:0px;" />


            </div>

        </div>
    </div>


    @*Begin Modal Listing *@

    <!--begin::Small Modal For Warehouse-->
    <div class="modal fade col-xs-12" id="WarehouseModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title  left text-left "> Create A Warehouse</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">

                    <input type="hidden" id="warehouseid" />
                    <div class="modal-body">
                        <form action="" id="routeModal" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label"> Code: </label>
                                        <input type="text" asp-for="WarehouseCode" placeholder="Enter WarehouseCode" class="form-control" id="WarehouseCode" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseCode"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> WarehouseName: </label>
                                        <input type="text" asp-for="WarehouseName" placeholder="Enter WarehouseName" class="form-control" id="WarehouseName" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseName"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> Address: </label>
                                        <input type="text" asp-for="WarehouseAddress1" placeholder="Enter WarehouseAddress1" class="form-control" id="WarehouseAddress1" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseAddress1"></span></div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div>

                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="warehouseSave();" type="button"> Save </button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:::Small Modal For Warehouse-->
    <!--end:::Begin Modal For Account-->
    <div class="modal fade" id="kt_blockui_4_5_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="kt_blockui_4_5">Block modal</button>
                </div>
            </div>
        </div>
    </div>

    <!--end:::End Modal For Account-->
    <!--begin::Small Modal For WarehouseBin-->
    <div class="modal fade col-xs-12" id="WarehouseBinModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title  left text-left "> Create a Warehouse Bin</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">

                    <input type="hidden" id="warehouseBinId" />
                    <div class="modal-body">
                        <form action="" id="routeModal" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label"> Code: </label>
                                        <input type="text" asp-for="WarehouseBinIDCode" placeholder="Enter Warehouse Bin Code" class="form-control" id="WarehouseBinIDCode" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseBinIDCode"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> WarehouseBin Name: </label>
                                        <input type="text" asp-for="WarehouseBinName" placeholder="Enter WarehouseBin Name" class="form-control" id="WarehouseBinName" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseBinName"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> Location: </label>
                                        <input type="text" asp-for="WarehouseBinLocation" placeholder="Enter Location" class="form-control" id="WarehouseBinLocation" />
                                        <div class="form-control-feedback"><span asp-validation-for="WarehouseBinLocation"></span></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label"> WarehouseID: </label>
                                        @Html.DropDownListFor(model => model.WarehouseBinID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Warehouse", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2", @id = "BinWarehouseID" })
                                        <div class="form-control-feedback"><span asp-validation-for="ItemDefaultWarehouseID"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="kt-checkbox">
                                            IsActive
                                            <input type="checkbox" asp-for="IsActive" class="form-control checked" checked="checked" id="IsActive" />
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div>

                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="warehouseBinSave();" type="button"> Save </button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:::Small Modal For WarehouseBin-->
    <!--begin::Small Modal For Inventory Item-->
    <div class="modal fade col-xs-12" id="InventoryItemModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title  left text-left "> Create a Inventory Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="width:100%;">

                    <input type="hidden" id="inventoryItemId" />
                    <div class="modal-body">
                        <form action="" id="routeModal" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="form-label"> ItemCode: </label>
                                        <input type="text" asp-for="ItemCode" placeholder="Enter ItemCode" class="form-control" id="ItemCode" />
                                        <div class="form-control-feedback"><span asp-validation-for="ItemCode"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> ItemName: </label>
                                        <input type="text" asp-for="ItemName" placeholder="Enter ItemName" class="form-control" id="ItemName" />
                                        <div class="form-control-feedback"><span asp-validation-for="ItemName"></span></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label"> ItemDescription: </label>
                                        <input type="text" asp-for="ItemDescription" placeholder="Enter ItemDescription" class="form-control" id="ItemDescription" />
                                        <div class="form-control-feedback"><span asp-validation-for="ItemDescription"></span></div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <div>

                        <div class="modal-footer" style="width:100%;">
                            <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                            <button id="submitUpdateForm" class="btn btn-success" onclick="inventoryItemSave();" type="button"> Save </button>
                        </div>
                        <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                            <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                                <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                            </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end:::Small Modal For Inventory Item-->
    @*End Modal Listing *@

</div>
