﻿@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = User;
}

@section styles{
    <link href="~/css/datatables.bundle.css" rel="stylesheet" />
    <style>
        .col-form-label {
            padding-top: inherit;
        }
    </style>
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="alert alert-light alert-elevate" role="alert">
        <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
        <div class="alert-text">
            The draggable dashboards Summary,For more info please check out <a class="kt-link kt-link--brand kt-font-bold" href="#" target="_blank">the official documentation.</a>
            <a href="#" class="btn btn-sm btn-icon btn-brand btn-pill btn-icon-md"><i class="la la-angle-down"></i></a>
            <a href="#" class="btn btn-sm btn-icon btn-danger btn-pill btn-icon-md"><i class="la la-refresh"></i></a>
            <a href="#" class="btn btn-sm btn-icon btn-success btn-pill btn-icon-md"><i class="la la-close"></i></a>
        </div>
    </div>

    <div class="row" id="kt_sortable_portlets">
        <div class="col-lg-6">


            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--mobile kt-portlet--sortable">
                @*<div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Portlet Title
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <a href="#" class="btn btn-sm btn-icon btn-brand btn-pill btn-icon-md"><i class="la la-angle-down"></i></a>
                                <a href="#" class="btn btn-sm btn-icon btn-danger btn-pill btn-icon-md"><i class="la la-refresh"></i></a>
                                <a href="#" class="btn btn-sm btn-icon btn-success btn-pill btn-icon-md"><i class="la la-close"></i></a>
                            </div>
                        </div>
                    </div>*@
                <div class="kt-portlet__body">
                    <div class="row row-full-height">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-brand">
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget26">
                                        <div class="kt-widget26__content">
                                            <span class="kt-widget26__number">570</span>
                                            <span class="kt-widget26__desc">Wallet balance </span>
                                        </div>
                                        <div class="kt-widget26__chart" style="height:100px; width: 230px;">
                                            <canvas id="kt_chart_quick_stats_1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-space-20"></div>
                            <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-danger">
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget26">
                                        <div class="kt-widget26__content">
                                            <span class="kt-widget26__number">640</span>
                                            <span class="kt-widget26__desc">Completed Journey</span>
                                        </div>
                                        <div class="kt-widget26__chart" style="height:100px; width: 230px;">
                                            <canvas id="kt_chart_quick_stats_2"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-success">
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget26">
                                        <div class="kt-widget26__content">
                                            <span class="kt-widget26__number">234+</span>
                                            <span class="kt-widget26__desc">Pending Journey</span>
                                        </div>
                                        <div class="kt-widget26__chart" style="height:100px; width: 230px;">
                                            <canvas id="kt_chart_quick_stats_3"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="kt-space-20"></div>
                            <div class="kt-portlet kt-portlet--height-fluid-half kt-portlet--border-bottom-warning">
                                <div class="kt-portlet__body kt-portlet__body--fluid">
                                    <div class="kt-widget26">
                                        <div class="kt-widget26__content">
                                            <span class="kt-widget26__number">4000</span>
                                            <span class="kt-widget26__desc">Total Revenue</span>
                                        </div>
                                        <div class="kt-widget26__chart" style="height:100px; width: 230px;">
                                            <canvas id="kt_chart_quick_stats_4"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
            <!-- begin:Empty Portlet: sortable porlet required for each columns! -->
            <div class="kt-portlet kt-portlet--sortable-empty">
            </div>
            <!--end::Empty Portlet-->
        </div>
        <div class="col-lg-6">


            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--mobile kt-portlet--sortable">
                @*<div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Portlet Title
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <div class="kt-portlet__head-group">
                                <a href="#" class="btn btn-sm btn-icon btn-brand btn-pill btn-icon-md"><i class="la la-angle-down"></i></a>
                                <a href="#" class="btn btn-sm btn-icon btn-danger btn-pill btn-icon-md"><i class="la la-refresh"></i></a>
                                <a href="#" class="btn btn-sm btn-icon btn-success btn-pill btn-icon-md"><i class="la la-close"></i></a>
                            </div>
                        </div>
                    </div>*@
                <div class="kt-portlet__body">
                    <!--begin::Section-->
                    <div class="kt-widget12">
                        <div class="kt-widget12__content">
                            <div class="kt-widget12__item">
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Annual Taxes EMS</span>
                                    <span class="kt-widget12__value">N0.00</span>
                                </div>

                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Finance Review Date</span>
                                    <span class="kt-widget12__value">@*July 24,2019*@ @DateTime.UtcNow</span>
                                </div>
                            </div>
                            <div class="kt-widget12__item">
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Avarage Revenue</span>
                                    <span class="kt-widget12__value">N0.00</span>
                                </div>
                                <div class="kt-widget12__info">
                                    <span class="kt-widget12__desc">Revenue Margin</span>
                                    <div class="kt-widget12__progress">
                                        <div class="progress kt-progress--sm">
                                            <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 40%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span class="kt-widget12__stat">
                                            40%
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-widget12__chart" style="height:250px;">
                            <canvas id="kt_chart_order_statistics"></canvas>
                        </div>
                    </div>
                    <!--end::Section-->
                </div>
            </div>
            <!--end::Portlet-->
            <!-- begin:Empty Portlet: sortable porlet required for each columns! -->
            <div class="kt-portlet kt-portlet--sortable-empty">
            </div>
            <!--end::Empty Portlet-->
        </div>

    </div>
</div>



@section scripts{

    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/blockUI/jquery.blockUI.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>
    <script src="~/assets/vendors/custom/jquery-ui/jquery-ui.bundle.js" type="text/javascript"></script>
    <script src="~/assets/js/demo7/pages/components/portlets/draggable.js" type="text/javascript"></script>
    <script src="~/assets/js/demo7/pages/dashboard.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            window.location.replace("https://ops.libmot.com/unauthorised.html");
        });
    </script>

}