﻿@model SharedErp.Models.RouteDTO

<div class="tab-content">

        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">
                    <input type="hidden" id="RouteId" />

                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <label class="col-lg-4 col-form-label" for="RouteType">Route Type:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.DropDownListFor(m => m.RouteType, Html.GetEnumSelectList(typeof(SharedErp.Models.RouteType)), new { @id = "RouteType", @class = "form-control dropdown-select2" })
                            </div>

                            <label class="col-lg-4 col-form-label" for="DriverFee">DriverFee:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <input type="text" asp-for="DriverFee" placeholder="Enter DriverFee" class="form-control" id="DriverFee" />
                                <div class="form-control-feedback"><span asp-validation-for="DriverFee"></span></div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label" for="DepartureTerminalId">Departure :</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                <div class="input-group date">
                                    @Html.DropDownListFor(model => model.DepartureTerminalId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Departure", new { @id = "DepartureTerminalId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                                    <div class="input-group-append">
                                        <a onclick='javascript: warehouseClick()'>
                                            <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                                <i style="color:white;" class="la la-plus-circle"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <label class="col-lg-4 col-form-label" for="DestinationTerminalId">Destination:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">

                                <div class="input-group date">
                                    @Html.DropDownListFor(model => model.DestinationTerminalId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select  Destination", new { @id = "DestinationTerminalId", @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })

                                    <div class="input-group-append">
                                        <a onclick='javascript: warehouseBinClick()'>
                                            <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;"> <i style="color:white;" class="la la-plus-circle"></i> </span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-2 col-form-label" for="LoaderFee">Fee(L):</label>
                            <div class="col-lg-4" style="padding-bottom:7px;">
                                <input type="text" asp-for="LoaderFee" placeholder="Loader Fee" class="form-control" id="RouteLoaderFee" />
                                <div class="form-control-feedback"><span asp-validation-for="LoaderFee"></span></div>
                            </div>

                            <label class="col-lg-2 col-form-label" for="DispatchFee">Fee(D):</label>
                            <div class="col-lg-4" style="padding-bottom:7px;">
                                <input type="text" asp-for="DispatchFee" placeholder="Dispatch Fee" class="form-control" id="DispatchFee" />
                                <div class="form-control-feedback"><span asp-validation-for="DispatchFee"></span></div>
                            </div>

                            <label class="col-lg-2 col-form-label" for="LoaderFee">Avail. Online:</label>
                            <div class="col-lg-4" style="padding-bottom:7px;">
                                @Html.DropDownListFor(m => m.AvailableOnline, Html.GetEnumSelectList(typeof(SharedErp.Models.IsActive)), new { @id = "AvailableOnline", @class = "form-control dropdown-select2" })
                            </div>

                            <label class="col-lg-2 col-form-label" for="LoaderFee">AvailAt. Terminal:</label>
                            <div class="col-lg-4" style="padding-bottom:7px;">
                                @Html.DropDownListFor(m => m.AvailableAtTerminal, Html.GetEnumSelectList(typeof(SharedErp.Models.IsActive)), new { @id = "AvailableAtTerminal", @class = "form-control dropdown-select2" })
                            </div>


                        </div>
                    </div>

                </div>

            </div>

        </div>
    

</div>

