﻿@model SharedErp.Models.RouteDTO
@{
    ViewData["Title"] = "Create Company Route";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Route Form Begins here *@


<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Edit Route
            </h3>

            <div class="kt-subheader__group" id="kt_subheader_search">   </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/NationFleets/Route/Index" class="btn btn-default btn-bold">
                Back
            </a>
            <a href="" id="bthSaveAll" onclick="routeSave();" class="btn btn-danger btn-bold">
                Save
            </a>

            <div class="btn-group">
                <a href="~/NationFleets/Route/Edit" class="btn btn-brand btn-bold">
                    Add New Record
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <input type="hidden" id="txtRouteId" name="user" value="" />
    </div>
    
    <!-- end:: Content Head -->									
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        @Html.Partial("_form")

        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                        <li class="nav-item active" id="Trip">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="Bound" points="0 0 24 0 24 24 0 24" />
                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" id="Shape" fill="#000000" fill-rule="nonzero" />
                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" id="Path" fill="#000000" opacity="0.3" />
                                    </g>
                                </svg>                        Trip
                            </a>
                        </li>
                        <li class="nav-item" id="Fare">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_2" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                        <path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M7.5,5 C7.22385763,5 7,5.22385763 7,5.5 C7,5.77614237 7.22385763,6 7.5,6 L13.5,6 C13.7761424,6 14,5.77614237 14,5.5 C14,5.22385763 13.7761424,5 13.5,5 L7.5,5 Z M7.5,7 C7.22385763,7 7,7.22385763 7,7.5 C7,7.77614237 7.22385763,8 7.5,8 L10.5,8 C10.7761424,8 11,7.77614237 11,7.5 C11,7.22385763 10.7761424,7 10.5,7 L7.5,7 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                        <path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z" id="Combined-Shape" fill="#000000" />
                                    </g>
                                </svg>                        Fares By VehicleModel
                            </a>
                        </li>
                        <li class="nav-item" id="Subroute">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_3" role="tab">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect id="bound" x="0" y="0" width="24" height="24" />
                                        <path d="M6,2 L18,2 C18.5522847,2 19,2.44771525 19,3 L19,12 C19,12.5522847 18.5522847,13 18,13 L6,13 C5.44771525,13 5,12.5522847 5,12 L5,3 C5,2.44771525 5.44771525,2 6,2 Z M7.5,5 C7.22385763,5 7,5.22385763 7,5.5 C7,5.77614237 7.22385763,6 7.5,6 L13.5,6 C13.7761424,6 14,5.77614237 14,5.5 C14,5.22385763 13.7761424,5 13.5,5 L7.5,5 Z M7.5,7 C7.22385763,7 7,7.22385763 7,7.5 C7,7.77614237 7.22385763,8 7.5,8 L10.5,8 C10.7761424,8 11,7.77614237 11,7.5 C11,7.22385763 10.7761424,7 10.5,7 L7.5,7 Z" id="Combined-Shape" fill="#000000" opacity="0.3" />
                                        <path d="M3.79274528,6.57253826 L12,12.5 L20.2072547,6.57253826 C20.4311176,6.4108595 20.7436609,6.46126971 20.9053396,6.68513259 C20.9668779,6.77033951 21,6.87277228 21,6.97787787 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6.97787787 C3,6.70173549 3.22385763,6.47787787 3.5,6.47787787 C3.60510559,6.47787787 3.70753836,6.51099993 3.79274528,6.57253826 Z" id="Combined-Shape" fill="#000000" />
                                    </g>
                                </svg>                        Sub Routes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="kt-portlet__body">


                @Html.AntiForgeryToken()

                <div class="tab-content">
                    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin:  Trips Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                            <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                <div class="col">
                                                    <div class="btn-group">
                                                        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                            <a onclick='javascript: tripClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                    </g>
                                                                </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                            </a>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        Trip Information
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin: Route Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>
                                                        @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                        Sucesfully Saved
                                                    </div>
                                                    <table class="table table-striped table-bordered table-hover table-checkable" id="m_table_1">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Route</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Departure Time</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Vehicle Model</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Parent Route</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Parent Trip</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Active Online</th>


                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Route Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--End:  Trips Rows  -->
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_apps_user_edit_tab_2" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin:  Fare Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                            <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                <div class="col">
                                                    <div class="btn-group">
                                                        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                            <a onclick='javascript: fareClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                    </g>
                                                                </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                            </a>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        Fare Information
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin: FAre Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>

                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                        Sucesfully Saved
                                                    </div>
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_2">
                                                        <thead>
                                                            <tr>
                                                                <th></th>

                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Vehicle Model</th>
                                                                <th style="background-color: #337AB7;  color: white;font-weight: bold; font-size: 14px;">Amount</th>


                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: SubRoute Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--End:  Fares Rows  -->
                        </div>
                    </div>
                    <div class="tab-pane" id="kt_apps_user_edit_tab_3" role="tabpanel">
                        <div class="kt-form kt-form--label-right">
                            <!--begin:  Sub Routes Rows -->

                            <div class="kt-form__body">
                                <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                    <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                        <!-- begin:: Subheader -->
                                        <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                            <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">
                                                <div class="col">
                                                    <div class="btn-group">
                                                        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Add New Record" data-placement="right">
                                                            <a onclick='javascript: subrouteClick()' class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                        <polygon id="Shape" points="0 0 24 0 24 24 0 24" />
                                                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000" />
                                                                    </g>
                                                                </svg>                    <!--<i class="flaticon2-plus"></i>-->
                                                            </a>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                            </div>
                                            <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                <div class="kt-subheader__wrapper">

                                                    <h3 class="kt-subheader__title">
                                                        SubRoute Information
                                                    </h3>

                                                </div>

                                            </div>
                                        </div>
                                        <!-- end:: Subheader -->
                                        <!--begin: Item Category Datatable -->
                                        <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                            <!--begin: Search Form -->
                                            <div class="kt-form kt-form--label-right  ">
                                                <div class="row align-items-center">

                                                    <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                        <a href="#" class="btn btn-default kt-hidden">
                                                            <i class="la la-cart-plus"></i> New Order
                                                        </a>

                                                    </div>

                                                </div>
                                                <!-- begin: Datatable -->
                                                <div class="m-portlet__body " style="padding: 3px;">
                                                    <div style="display:none;" id="SaveMsg" class="alert alert-success " role="alert">
                                                        Sucesfully Saved
                                                    </div>
                                                    <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_3">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Name</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    @Html.AntiForgeryToken()
                                                </div>
                                                <!--end: Datatable -->

                                            </div>

                                            <!--end: Search Form -->
                                            <!--end: Item Category Datatable -->
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <!--End:  Item Category Rows -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end:: Content -->					
</div>


<!-- BEgin:: Trip Modal Form goes here -->
<div class="modal modal-xl fade col-xs-12" id="TripModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Trip Data Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="TripId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="TripCode">Code:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <input type="text" asp-for="TripCode" placeholder="Enter Code" class="form-control" id="TripCode" />
                                            <div class="form-control-feedback"><span asp-validation-for="TripCode"></span></div>
                                        </div>



                                        <label class="col-lg-4 col-form-label" for="RouteType">Vehicle Model:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <select id="VehicleModelId" class="form-control m-input">
                                                <option value="">Select Model:</option>
                                            </select>
                                            <div class="form-control-feedback"><span asp-validation-for="VehicleModelId"></span></div>
                                        </div>
                                        <label class="col-lg-4 col-form-label" for="AvailableOnline">Available Online:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <div class="col-lg-12 col-lg-9 col-xl-6">
                                                <div class="kt-checkbox-inline">
                                                    <input id="AvailableOnline" type="checkbox" checked="">
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                                        <label class="col-lg-4 col-form-label" for="DepartureTime">Departure Time:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">


                                            <select id="DepartureTime" class="form-control m-input dropdown-select2">
                                                <option value="">Select Time</option>
                                                <option value="05:00 AM">05:00 AM</option>
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="DepartureTime"></span></div>
                                        </div>

                                        <label class="col-lg-4 col-form-label" for="DriverFee">Parent Route:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">
                                            <select id="ParentRouteId" class="form-control m-input dropdown-select2">
                                                <option value="">Select Route</option>

                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="ParentRouteId"></span></div>
                                        </div>

                                        <label class="col-lg-4 col-form-label" for="DriverFee">Parent Trip:</label>
                                        <div class="col-lg-8" style="padding-bottom:7px;">


                                            <select id="ParentRouteDepartureTime" class="form-control m-input dropdown-select2">
                                                <option value="">Select Time</option>
                                                <option value="05:00 AM">05:00 AM</option>
                                                <option value="06:00 AM">06:00 AM</option>
                                                <option value="07:00 AM">07:00 AM</option>
                                            </select>

                                            <div class="form-control-feedback"><span asp-validation-for="ParentRouteDepartureTime"></span></div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="tripSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Trip Modal Form  -->
<!-- BEgin:: Fare Modal Form goes here -->
<div class="modal fade col-xs-12" id="FareModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A Fare</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">

                <input type="hidden" id="FareId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-label"> Vehicle Model: </label>
                                <select id="FVehicleModelId" class="form-control m-input">
                                    <option value="">Select Model:</option>
                                </select>
                                <div class="form-control-feedback"><span asp-validation-for="FVehicleModelId"></span></div>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label"> Amount: </label>
                                    <input type="text" asp-for="Amount" placeholder="Enter Amount" class="form-control" id="Amount" />
                                    <div class="form-control-feedback"><span asp-validation-for="Amount"></span></div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="fareSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  Fare Modal Form  -->
<!-- BEgin:: SubRoute Modal Form goes here -->
<div class="modal fade col-xs-12" id="SubRouteModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  left text-left "> Create A SubRoute</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%;">
                <input type="hidden" id="SubRouteId" />
                <div class="modal-body">
                    <form action="" id="routeModal" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-label"> Sub Route: </label>
                                <div class="input-group date">

                                    <select id="SRouteId" class="form-control m-input">
                                        <option value="">Select Model:</option>
                                    </select>
                                
                                </div>


                            </div>

                        </div>
                    </form>
                </div>

                <div>

                    <div class="modal-footer" style="width:100%;">
                        <button data-dismiss="modal" id="resetFor" class="btn btn-default" type="button">CLOSE</button>
                        <button id="submitUpdateForm" class="btn btn-success" onclick="SubrouteSave();" type="button"> Save </button>
                    </div>
                    <div id="sloader" style="position: fixed; display:none; text-align: center; height: 100%; width: 100%; top: 0%; right: 0; left: 0; z-index: 9999999;">
                        <span style="border-width: 0px; position: fixed; padding: 50px; left: 40%; top: 22%;">
                            <img alt="progress" src="https://libmot.com/images/spinner-loader.gif" style="width: 90px;" />
                        </span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end::  SubRoute Modal Form  -->
<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        var routeId = 0;

        jQuery(document).ready(function () {
            //Collect route id to fetch detail tables
            routeId = '@TempData["vid"]';
            document.getElementById("txtRouteId").value = routeId;
            ModifyRoute(routeId);

            //Launch datatables
            DatatablesBasicBasic.init(routeId);
            DatatablesFare.init(routeId);
            DatatablesSubroutes.init(routeId);

            DropTerminal.init();
            $('.dropdown-select2').select2();

        });

        $(document).ready(function () {
            $("#redirectbtn").trigger("click");
        });
        $("#redirectbtn").click(function () {
            //window.location.replace("#");
        });


        function ModifyRoute(data) {
            var routeId = data;
            $.ajax({
                url: "/NationFleets/Route/RouteUpdate",
                data: {
                    id: routeId
                },
                success: function (response) {
                    $('#RouteType').val(response.data.routeType);
                    $('#RouteName').val(response.data.routeName);
                    $('#DispatchFee').val(response.data.dispatchFee);
                    $('#DriverFee').val(response.data.driverFee);
                    $('#RouteLoaderFee').val(response.data.loaderFee);
                    $('#DepartureTerminalId').val(response.data.departureTerminalId);
                    $('#DestinationTerminalId').val(response.data.destinationTerminalId);
                    $('#AvailableAtTerminal ').val(response.data.availableAtTerminal);
                    $('#AvailableOnline ').val(response.data.availableOnline);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }


        function routeSave() {

            var RouteId = $("#txtRouteId").val();
            var routeType = $("#RouteType").val();
            var routeName = $("#RouteName").val();
            var routeDispatchFee = $("#DispatchFee").val();
            var driverFee = $("#DriverFee").val();
            var routeLoaderFee = $("#RouteLoaderFee").val();
            var departureTerminalId = $("#DepartureTerminalId").val();
            var destinationTerminalId = $("#DestinationTerminalId").val();
            var availableAtTerminal = $("#AvailableAtTerminal").val();
            var availableOnline = $("#AvailableOnline").val();

            if (RouteId != "0") {
                RouteId = $("#txtRouteId").val();
            }

            $.ajax({
                url: "/NationFleets/Route/RouteSave",
                method: "post",
                data: {
                    Id: RouteId,
                    RouteType: routeType,
                    RouteName: routeName,
                    DispatchFee: routeDispatchFee,
                    DriverFee: driverFee,
                    RouteLoaderFee: routeLoaderFee,
                    DepartureTerminalId: departureTerminalId,
                    DestinationTerminalId: destinationTerminalId,
                    AvailableAtTerminal: availableAtTerminal == 1 ? false : true,
                    AvailableOnline: availableOnline == 1 ? false : true
                },
                success: function (response) {
                    //param = $('#texens').val();
                    Swal(" Saved...");

                }
            });

        }

        //begin Trip
        var DatatablesBasicBasic = {
            init: function (routeId) {
                var table = $("#m_table_1").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Route/TripGetData/?routeId=' + routeId,
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "routeId"
                        },
                        {
                            bSortable: false,
                            data: "departureTime"
                        },
                        {
                            bSortable: false,
                            data: "vehicleModelId"
                        },
                        {
                            bSortable: false,
                            data: "parentRouteId"
                        },
                        {
                            bSortable: false,
                            data: "parentTripId"
                        },
                        {
                            bSortable: false,
                            data: "availableOnline"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                                                                                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                                                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                                                                                                                                        \n <a class="dropdown-item" onclick="tripModify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                                                                                                                                        \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                                                                                                                                        \n </div>
                                                                                                                                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/NationFleets/Route/TripDelete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };
        function tripClick() {
        /*    $("#SaveMsg").hide().css("visibility", "hidden");*/
            $('#TripModal').modal();
            DropVehicleModel.init();
            DropRoute.init();
            $('#TripModal').modal('show');
        }


        function tripSave() {
             routeId = $("#txtRouteId").val();
            var tripId = $("#TripId").val();
            var vehicleModelId = $("#VehicleModelId").val();
            var availableOnline = $("#AvailableOnline").val();
            var tripDepartureTime = $("#DepartureTime").val();
            var tripCode = $("#TripCode").val();
            var tripRouteId = $("#ParentRouteId").val();
            var tripParentRouteDepartureTime = $("#ParentRouteDepartureTime").val();

            if (routeId == "0") {
                swal("Create A Route")
                return false;
            }


            if (TripCode == "") {
                swal("Enter a Trip Code")
                return false;
            }

            if (TripId == "") {
                TripId = "0";
            } else {
                TripId = $("#TripId").val();
            }
            if (availableOnline == "") {
                availableOnline = false;
            } else {
                availableOnline = true;
            }

            $.getJSON("/NationFleets/Route/TripSave/?Id=" + tripId + "&Code=" + tripCode +
                "&AvailableOnline=" + availableOnline + "&ParentRouteDepartureTime=" + tripParentRouteDepartureTime + "&DepartureTime=" + tripDepartureTime + "&RouteId=" + routeId + "&ParentRouteId=" + tripRouteId + "&VehicleModelId=" + vehicleModelId,
                function (response) {

                    routeSave();
                    //var currentURL = window.location.pathname + window.location.search + window.location.hash;
                    //window.location.href = currentURL;
                    //window.location.reload(true);

                });

        }

        function tripModify(data) {
            var tripId = data;
            $.ajax({
                url: "/NationFleets/Route/TripUpdate",
                data: {
                    id: tripId
                },
                success: function (response) {
                    $('#TripId').val(response.data.id);
                    $('#DepartureTime').val(response.data.departureTime);
                    $('#TripCode').val(response.data.tripCode);
                    $('#ParentRouteDepartureTime').val(response.data.parentRouteDepartureTime);
                    $('#ParentRouteId').val(response.data.parentRouteId);
                    $('#txtRouteId').val(response.data.routeId);
                    $('#VehicleModelId').val(response.data.vehicleModelId);
                    $('#AvailableOnline ').val(response.data.availableOnline);


                    DropVehicleModel.init();
                    DropRoute.init();
                    $('#TripModal').modal();
                    $('#TripModal').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }
         //End Trip



        //begin Fare
        var DatatablesFare = {
            init: function (routeId) {
                var table = $("#m_table_2").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Route/FareGetData/?routeId=' + routeId,
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },                       
                        {
                            bSortable: false,
                            data: "vehicleModelId"
                        },
                        {
                            bSortable: false,
                            data: "amount"
                        },

                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                                                                                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                                                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                                                                                                                                        \n <a class="dropdown-item" onclick="fareModify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                                                                                                                                        \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                                                                                                                                        \n </div>
                                                                                                                                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/NationFleets/Route/FareDelete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };

        function fareClick() {
            $('#FareModal').modal();
            $('#FareModal').modal('show');
            DropVehicleModel.init();
        }

        function fareSave() {
            var FareId = $("#FareId").val();
            var VehicleModelId = $("#VehicleModelId").val();
            var Amount = $("#Amount").val();
            var RouteId = $("#txtRouteId").val();


            if (RouteId == "0") {
                swal("Create A Route")
                return false;
            }

            if (TripCode == "") {
                swal("Enter a Trip Code")
                return false;
            }

            if (FareId == "") {
                FareId = "0";
            } else {
                FareId = $("#FareId").val();
            }

            $.ajax({
                url: "/NationFleets/Route/FareSave",
                method: "post",
                data: {
                    FareId: FareId,
                    VehicleModelId: VehicleModelId,
                    Amount: Amount,
                    RouteId: RouteId,
         
                },
                success: function (response) {
                    routeSave();
                  
                }
            });
        }

        function fareModify(data) {
            var fareId = data;
            $.ajax({
                url: "/NationFleets/Route/FareUpdate",
                data: {
                    id: fareId
                },
                success: function (response) {
                    $('#FareId').val(response.data.id);
                    $('#VehicleModelId').val(response.data.vehicleModelId);
                    $('#Amount').val(response.data.amount);
                    $('#RouteId').val(response.data.routeId);


                    $('#FareModal').modal();                 
                    $('#FareModal').modal('show');
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }

        //End Fare

        //begin Subroute

        function subrouteClick() {
            DropRoute.init();
            $('#SubRouteModal').modal();
            $('#SubRouteModal').modal('show');
        }

        var DatatablesSubroutes = {
            init: function (routeId) {
                var table = $("#m_table_3").DataTable({
                    responsive: !0,
                    processing: !0,
                    serverSide: !0,
                    ajax: '/NationFleets/Route/SubRouteGetData/?routeId=' + routeId,
                    columns: [
                        {
                            bSortable: 0,
                            width: "30px",
                            className: "dt-right",
                            orderable: !1,
                            render: function (e, a, t, n) {
                                return '\n <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-checkable">\n <span></span>\n </label>'
                            }
                        },
                        {
                            bSortable: false,
                            data: "routeId"
                        },
                        {
                            bSortable: false,
                            render: function (a, t, n) {
                                return `\n <span class="dropdown">\n
                                                                                                                                                            <a href="javascript:void(0);" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">\n <i class="la la-ellipsis-h"></i>\n </a>\n
                                                                                                                                                                        <div class="dropdown-menu dropdown-menu-right">
                                                                                                                                                                        \n <a class="dropdown-item open-details-modal" href="javascript:void(0);"><i class="la la-leaf"></i> View Details</a>
                                                                                                                                                                        \n <a class="dropdown-item" onclick="SubrouteModify(\'` + n.id + `\');"><i class="la la-edit"></i> Modify</a>
                                                                                                                                                                        \n <a class="dropdown-item delete-item" href="javascript:void(0);"><i class="la la-edit"></i> Delete</a>
                                                                                                                                                                        \n </div>
                                                                                                                                                                    \n </span>\n`
                            }
                        }
                    ],
                    lengthMenu: [25, 50, 100, 200],
                    pageLength: 50,
                    language: {
                        lengthMenu: "Display _MENU_"
                    },
                    headerCallback: function (e, a, t, n, s) {
                        e.getElementsByTagName("th")[0].innerHTML = '\n<label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">\n <input type="checkbox" value="" class="m-group-checkable">\n <span></span>\n </label>'
                    },
                    order: []
                });
                table.on("change", ".m-group-checkable", function () {
                    var e = $(this).closest("table").find("td:first-child .m-checkable"),
                        a = $(this).is(":checked");
                    $(e).each(function () {
                        a ? ($(this).prop("checked", !0), $(this).closest("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).closest("tr").removeClass("active"))
                    })
                });
                table.on("change", "tbody tr .m-checkbox", function () {
                    $(this).parents("tr").toggleClass("active")
                });
                table.on('click', '.delete-item', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var csrf = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        method: "POST",
                        headers: {
                            "RequestVerificationToken": csrf
                        },
                        url: "/NationFleets/Route/SubrouteDelete/" + data.id,
                        success: function (response) {
                            table.row(tr).remove().draw(false);
                        },

                        error: function (response) {
                            table.row(tr).remove().draw(true);
                            alert('failed deleting the selected record');
                        }
                    });
                })
                table.on('click', '.open-details-modal', function () {
                    var tr = $(this).closest("tr");
                    var data = table.row(tr).data();

                    var tmpl = $.templates("#details-modal-template");
                    var html = tmpl.render(data);
                    $("#details-modal-body").html(html);
                    $('#details-modal').modal('show')
                })
            }
        };


        function SubrouteSave() {

            var NameId = $("#SRouteId").val();
            var RouteId = $("#txtRouteId").val();

              if (RouteId == "0") {
                swal("Create A Route")
                return false;
            }


            if (NameId == "") {
                swal("Select a Subroute")
                return false;
            }

            if (SubRouteId == "") {
                SubRouteId = "0";
            } else {
                SubRouteId = $("#SubRouteId").val();
            }

            $.ajax({
                url: "/NationFleets/Route/SubrouteSave",
                method: "post",
                data: {
                    SubRouteId: SubRouteId,
                    NameId: NameId,
                    RouteId: RouteId,
                },
                success: function (response) {
                    routeSave();
                 
                }
            });
        }

        function SubrouteModify(data) {
            var SubRouteId = data;
            $.ajax({
                url: "/NationFleets/Route/FareUpdate",
                data: {
                    id: fareId
                },
                success: function (response) {
                    $('#SubRouteId').val(response.data.id);
                    $('#RouteId').val(response.data.routeId);


                    $('#SubRouteModal').modal();
                    $('#SubRouteModal').modal('show');
                },
                error: function (response) {

                    alert(response.responseText);
                }
            });
            $("#sloader").hide();
        }
      //end Subroute
    </script>

    <script>

        var ctt = null;


        var DropTerminal = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "TerminalList",
                    function (response) {
                        var availabledata = response.data;
                        $("#DepartureTerminalId").empty();
                        $("#DestinationTerminalId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#DepartureTerminalId").append(new Option(availabledata[i].text, availabledata[i].value));
                            $("#DestinationTerminalId").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $("#DepartureTerminalId").select2({
                            placeholder: "Select.. option"
                        });
                        $("#DestinationTerminalId").select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


          var DropVehicleModel = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "VehicleModelList",
                    function (response) {
                        var availabledata = response.data;
                        $("#FVehicleModelId").empty();
                        $("#VehicleModelId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#FVehicleModelId").append(new Option(availabledata[i].text, availabledata[i].value));
                            $("#VehicleModelId").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $("#VehicleModelId").select2({
                            placeholder: "Select.. option"
                        });
                        $("#FVehicleModelId").select2({
                            placeholder: "Select.. option"
                        });


                    });
            }
        }

              var DropRoute = {
           init: function (ctt) {
                      $.get('@Url.Action("FetchDetailDropDown", "Terminal")?dropdesc=' + "RouteListing",
                    function (response) {
                        var availabledata = response.data;
                        
                        $("#ParentRouteId").empty();
                        $("#SRouteId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#ParentRouteId").append(new Option(availabledata[i].text, availabledata[i].value));
                            $("#SRouteId").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $("#ParentRouteId").select2({
                            placeholder: "Select.. option"
                        });

                        $("#SRouteId").select2({
                            placeholder: "Select.. option"
                        });

                    });
            }
        }
    </script>


}