<div [className]="opened ? 'opened modale': 'modale'">
    <div class="modal-dialog p-10 w-full md:w-10/12 xl:w-1/2 h-full md:h-screen">
        <div class="flex justify-end">
            <a (click)="onClose()" class="text-2xl cursor-pointer" aria-hidden="true">&times;</a>
        </div>
        <div class="content-div mt-10 h-full">
            <h3 class="text-2xl font-bold mb-6 animate__animated animate__fadeInUp">User Profile</h3>
            <mat-divider></mat-divider>
            <div *ngIf="fetchingUserProfile" class="flex justify-center items-center h-full">
                <app-loader></app-loader>
            </div>
            <div class="bg-white shadow-2xl rounded-2xl p-10 flex flex-col justify-center items-center animate__animated animate__fadeInUp mt-10" *ngIf="!fetchingUserProfile">
                <div class="relative">
                    <img class="rounded-full h-36 w-36" src="../../../assets/svg/me.svg" alt="">
                    <img class="absolute tick bg-white p-1 rounded-full shadow" src="../../../assets/svg/camera.svg" alt="">
                </div>
                <form (ngSubmit)="updateProfile()" #updateForm="ngForm" class="form-content w-full md:w-8/12">
                    <div class="flex mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <mat-icon aria-hidden="false" aria-label="perm_identity icon">perm_identity</mat-icon>
                        </div>
                        <div class="w-full">
                            <input id="firstName" type="text" [disabled]="loading" [(ngModel)]="userProfile.firstName" required
                                name="firstName" ngModel #firstName="ngModel"
                                placeholder="First Name"
                                class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                            <div *ngIf="firstName.touched && firstName.invalid" class="mt-2">
                                <p class="text-red-500 tex-sm">First Name is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <mat-icon aria-hidden="false" aria-label="perm_identity icon">perm_identity</mat-icon>
                        </div>
                        <div class="w-full">
                            <input id="lastName" type="text" [disabled]="loading" [(ngModel)]="userProfile.lastName" required
                            name="lastName" ngModel #lastName="ngModel"
                            placeholder="Last Name"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="lastName.touched && lastName.invalid" class="mt-2">
                            <p class="text-red-500 tex-sm">Last Name is required</p>
                        </div>
                        </div>
                    </div>
                    <div class="flex mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <mat-icon aria-hidden="false" aria-label="call icon">call</mat-icon>
                        </div>
                        <div class="w-full">
                            <input id="phoneNumber" type="text" [disabled]="true" readonly [(ngModel)]="userProfile.phoneNumber" required
                            name="phoneNumber" ngModel #phoneNumber="ngModel"
                            placeholder="Phone Number"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        </div>
                    </div>
                    <div class="flex mt-2 mb-6">
                        <div class="flex justify-center items-center">
                            <mat-icon aria-hidden="false" aria-label="email icon">email</mat-icon>
                        </div>
                        <div class="w-full">
                            <input id="email" type="text" [disabled]="loading" [(ngModel)]="userProfile.email" required
                            name="email" ngModel #email="ngModel"
                            placeholder="Last Name"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="email.touched && email.invalid" class="mt-2">
                            <p class="text-red-500 tex-sm">Email is required</p>
                        </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center mb-10 mt-10">
                        <button type="submit" [disabled]="loading"
                            class="bg-black text-white py-6 px-10 rounded-full shadow-2xl md:w-8/12">
                            Save Information
                        </button>
                    </div>
                    
                </form>
                <app-loader *ngIf="loading"></app-loader>
            </div>
        </div>
    </div>
</div>