﻿@{
    ViewData["Title"] = "Transport";
    Layout = "";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TransportWeb</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="~/dist/TransportWeb/styles.css">
</head>
<body>
    <app-root></app-root>
    <script src="~/dist/TransportWeb/runtime.js" defer></script>
    <script src="~/dist/TransportWeb/polyfills.js" defer></script>
    <script src="~/dist/TransportWeb/vendor.js" defer></script>
    <script src="~/dist/TransportWeb/main.js" defer></script>
</body>
</html>

