﻿@model SharedErp.Models.PurchaseHeaderDTO
@{
    ViewData["Title"] = "Create REc Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @*commit*@
    <style>
        .hidden {
            display: none !important;
        }

        .validator {
            display: none;
        }

        .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
            background: 0 0;
            color: #eaeaea !important;
            cursor: default;
        }

        .col-form-label {
            padding-top: inherit;
        }

        .Naira {
            display: inline-block;
            position: relative;
        }

            .Naira::before {
                content: "₦";
                font-family: "Roboto Regular", sans-serif;
                font-size: 0.9em;
                position: absolute;
                left: 5px;
                top: 45%;
                transform: translateY(-50%);
            }

        .detbtn {
            position: relative;
            height: 36px;
            color: white;
            font-weight: bold;
        }

        .gridstyle {
            background-color: #337AB7;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }

        .Clr {
            color: white;
            font-weight: bold;
        }

        .rowdetail {
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
    </style>
}

<!--begin::Form-->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">

            <h3 class="kt-subheader__title">
                Create Receive
            </h3>

            <span class="kt-subheader__separator kt-subheader__separator--v"></span>

            <div class="kt-subheader__group" id="kt_subheader_search">
                <span class="kt-subheader__desc" id="kt_subheader_total">
                    Alex Stone
                </span>

            </div>

        </div>

        <div class="kt-subheader__toolbar">

            <a href="~/accounts/purchase/Index" class="btn btn-default btn-bold">
                Back
            </a>
            <div class="btn-group">
                <a href="~/accounts/purchase/create" class="btn btn-brand btn-bold">

                    Add New Record
                </a>
                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                <span class="kt-nav__link-text">Save &amp; continue</span>
                            </a>
                        </li>

                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                <span class="kt-nav__link-text">Save &amp; exit</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- end:: Content Head -->										<!-- begin:: Content -->
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">


            <div class="kt-portlet__body">
                <form action="#" method="post">

                    <input type="hidden" id="texens" name="user" value="" />
                    @Html.AntiForgeryToken()

                    @Html.Partial("form")

                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" title="Add New Row" id='addButton' class="btn btn-primary"><i class="la la-plus-square"></i></button>
                            <button type="button" id="bthSaveAll" title="Save All" onclick="btnSave();" class="btn btn-success" aria-hidden="true"><i class="la la-save"></i></button>
                            <button type="button" class="btn btn-danger btn-custom" id='removeButton' title="Delete" aria-hidden="true"> <i class="la la-trash"></i></button>
                            <button type="button" class="btn btn-warning"><i class="la la-paperclip"></i></button>
                        </div>

                    </div>

                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>


                </form>
            </div>
        </div>
    </div>
    <!-- end:: Content -->					<!-- end:: Content -->
</div>



<!--end::Form-->
@section scripts{
    <script src="~/lib/datatables.bundle.js"></script>
    <script src="~/lib/jsrender/jsrender.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


    <script>


        var counter = 0;
        var i = 0;
        var ic = null;

        var BootstrapDatepicker = function () {
            var t;
            t = mUtil.isRTL() ? {
                leftArrow: '<i class="la la-angle-right"></i>',
                rightArrow: '<i class="la la-angle-left"></i>'
            } : {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                };
            return {
                init: function () {
                    $("#StartDate,#TransactionDate").datepicker({
                        rtl: mUtil.isRTL(),
                        autoclose: !0,
                        todayHighlight: !0,
                        orientation: "bottom left",
                        templates: t,
                        format: "D, dd MM yyyy"
                    });
                    //$("#TerminalId, #RoleId, #Gender").select2({
                    //    placeholder: "Select"
                    //})
                }
            }
        }();

         jQuery(document).ready(function () {
            BootstrapDatepicker.init();
            $('.dropdown-select2').select2();
             DropVendor.init();
             DropLedgerAccount.init();
             DropInventoryItem.init();
            CreateARow.init();
        });

        var ctt = null;

        var DropVendor = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "Purchase")?dropdesc=' + "VendorList",
                    function (response) {
                        var availabledata = response.data;
                        //$("#ItemDefaultWarehouseID")
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#VendorID").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        function MyFunction() {
            var selected = $("#WarehouseID").val();
            DropWarehousebinHD.init(selected);
        }


        var CreateARow = {
            init: function () {
                if (counter > 50) {
                    swal("Only 50 details are allowed");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'newRowId' + counter)
                    .attr('class', 'form-group m-form__group row rowdetail');

                newTextBoxDiv.after().html(
                    '<input type="hidden" id="hid' + counter + '" name="hid" value="" />' +

                    '<div class="col-lg-2"> <div class="input-group date"><div class="input-group date">' +
                    '<Select class="form-control txtpax color-placeholder dropdown-select2 typeahead aitem' + counter + '  " type="text" name="textbox" id="a-item-' + counter + '">' +
                    '</select > <div class="input-group-append"> <a class="" onclick="inventoryItemClick(' + counter + ');">' +
                    '<span class="btn-primary input-group-text" style="padding-left: 5px; height: 38px; width: 30px; color: white;" > <i style="color:white;" class="la la-plus"></i> </span>' +
                    '</a ></div > </div > </div ></div >' +

                    '<div class="col-lg-2"> <span class="aclass" > ' +
                    '<input class="form-control txtpax color-placeholder typeahead  bitem' + counter + ' " type="text" name="textbox' + counter +
                    '" id="b-item-' + counter + '" placeholder="Description" > </span></div>' +
                    
                    '<div class="col-lg-1">' +
                    '<input class="form-control txtpax color-placeholder typeahead citem' + counter + '" type="text" name="textbox' + counter +
                    '" id="c-item-' + counter + '" placeholder="Enter Qty" ></div></div>' +
                    
                    '<div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead ditem' + counter + '" type="text" name="textbox' + counter +
                    '" id="d-item-' + counter + '" placeholder="Enter Qty" ></div></div>' +

                    '<div class="col-lg-2"> <div class="input-group date"><div class="input-group date">' +
                    '<Select class="form-control txtpax color-placeholder dropdown-select2 typeahead eitem' + counter + '  " type="text" name="textbox" id="e-item-' + counter + '"> </select> ' +
                    '<div class="input-group-append"> <a class="" onclick="ledgerAccountClick(' + counter + ');">' +
                    '<span class="btn-primary input-group-text" style="padding-left: 5px; height: 38px; width: 30px; color: white;" > <i style="color:white;" class="la la-plus"></i> </span></a ></div >' +
                    '</div > </div ></div >' +
                    
                    '<div class="col-lg-2">' +
                    '<input class="form-control txtpax color-placeholder typeahead fitem' + counter + '" type="text" name="textbox' + counter +
                    '" id="f-item-' + counter + '" placeholder="Enter Cost" ></div></div>' +
                    
                    '<div class="col-lg-1">' +
                    '<input class="form-control txtpax color-placeholder typeahead gitem' + counter + '" type="checkbox" name="checkbox' + counter +
                    '" id="g-item-' + counter + '" ></div></div><div class="col-lg-1"> <div class="input-group date"><div class="input-group date">' +
                    '  </div>'


                );
                newTextBoxDiv.find('[id]').each(
                    function () {
                        if (this.id) {
                            //this.id = this.id.replace(regex, newName);
                        }

                        var bx = this.id;
                        var subd = bx.substring(0, 1);
                        var subA = bx.substring(1, 7);
                        var subB = bx.substring(7, 8);
                        var itmA = 'a' + subA + counter;
                        var itmB = 'b' + subA + counter;
                        var itmC = 'c' + subA + counter;
                        var itmD = 'd' + subA + counter;
                        var itmE = 'e' + subA + counter;
                        var itmF = 'f' + subA + counter;
                        var itmG = 'g' + subA + counter;
                        var itmH = 'h' + subA + counter;

                        //for a-item-
                        if (bx === itmA) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //Fetch Dropdown
                            var Dropdownid = $(this).attr('id', id);
                            DropInventoryItem.init(Dropdownid);
                        }
                        //for b-item-
                        if (bx === itmB) {

                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //Fetch Dropdown
                            var Dropdownid = $(this).attr('id', id);
                           
                        }
                        //for c-item-
                        if (bx === itmC) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');


                        }
                        //for d-item-
                        if (bx === itmD) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            // $(this).attr('id', id).val(time.receivedQty).toString();
                        }
                        //for e-item-
                        if (bx === itmE) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                            //Fetch Dropdown
                            var Dropdownid = $(this).attr('id', id);
                            DropLedgerAccount.init(Dropdownid);
                        }
                        //for f-item-
                        if (bx === itmF) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');
                        }
                        //for g-item-
                        if (bx === itmG) {
                            var id = $(this).attr('id');
                            id = id.replace(/\s/g, '_');

                        }



                    }).end()
                newTextBoxDiv.appendTo("#TextBoxesGroup");
                counter++;

            }
        }


        $('#addButton,#addButtonb0').click(function () {
            CreateARow.init();
        });



        $("#removeButton,#removeButtonb").click(function () {
            counter--;
            $("#newRowId" + counter).remove();
        });

        var param = null;
        var hidguid = null;

        function btnSave() {

            if (counter == 0) {
                return false;
            }

            if ($('#texens').val() == "") {
                // Add inventoryReceive Header
                //var transactionDate = $("#TransactionDate").val();
                //d = new Date(transactionDate);
                //dt = d.getDate();
                //mn = d.getMonth();
                //mn++;
                //yy = d.getFullYear();
                //var vDate = dt + "/" + mn + "/" + yy;
                //var vDate = moment(transactionDate, "MM/DD/YYYY").day(0).format("MM/DD/YYYY");
                var VendorID = $("#VendorID").val();
                var Reference = $("#Reference").val();
                var PurchaseDate = $("#PurchaseDate").val();
                var PaymentDate = $("#PaymentDate").val();

                //Validating Receive header Columns for Empty values
                //if (transactionDate == "") {
                //    swal("Enter Receive Date")
                //    return false;
                //}
                if (VendorID == "") {
                    swal("Enter Vendor ")
                    return false;
                }
                if (Reference == "") {
                    swal("Enter Reference")
                    return false;
                }
                if (PurchaseDate == "") {
                    swal("Enter Purchase Date")
                    return false;
                }
                if (PaymentDate == "") {
                    swal("Enter Purchase Date")
                    return false;
                }


                $.blockUI({ message: '<h1>Processing...</h1>' });

                $.ajax({
                    url: "/accounts/purchase/createheader",
                    method: "post",
                    data: {
                        VendorID: VendorID,
                        Reference: Reference,
                        PurchaseDate: PurchaseDate,
                        PaymentDate: PaymentDate
                    },
                    success: function (response) {
                        //$("#newRowId" + i).remove();
                        // Get the generated header id and keep it inside hidden textbox
                        param = JSON.stringify({ guid: response.data.id });
                        // Save all details with header id
                        Savedetailbyheaderid(response, param);
                        document.getElementById("texens").value = response.data.id;
                        $.unblockUI();
                    }
                });
            } else {
                $.blockUI({ message: '<h1>Processing...</h1>' });
                // allows you continue add more rows details to an already inserted Headeer
                param = $('#texens').val();
                Savedetailbyheaderid(param);
                $.unblockUI();
            }
        };


        function Savedetailbyheaderid(param) {
            // Add inventoryReceive Detail
            console.log('counter = ' + counter);

            if ($('#texens').val() == "") {
                hidguid = String(param.data.id);
            } else {
                hidguid = String($('#texens').val());
            }

            for (i; i < counter; i++) {
                var itemID = $('#a-item-' + i).val();
                var description = $('#b-item-' + i).val();
                var orderQty = $('#c-item-' + i).val();
                var itemUnitCost = $('#d-item-' + i).val()
                var gLSalesAccount = $('#e-item-' + i).val();
                var taxAmount = $('#f-item-' + i).val();
                //var taxInclusive = $('#g-item-' + i).val();
                //var assetID = $('#h-item-' + i).val();

                $.ajax({
                    url: '/accounts/purchase/AddPurchaseDetail',
                    method: "post",
                    data: {
                        ItemID: itemID,
                        Description: description,
                        OrderQty: orderQty,
                        ItemUnitCost: itemUnitCost,
                        GLSalesAccount: gLSalesAccount,
                        TaxAmount: taxAmount,
                        //TaxInclusive: taxInclusive,
                        PurchaseId: hidguid
                    },
                    success: function (response) {
                        //$("#newRowId" + i).remove();

                    },
                    error: function (err) {
                        console.log(err);

                        return err;
                    }
                });
                //add the object to the the declared array at the top
            }

            window.location.href = 'Update/' + hidguid;

            // Takes the detail row counts and insert with the header id , one by one

        };

    </script>


    <script>

        var ctt = null;
        // Header Modal Begins

        var DropWarehousesHD = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseList",
                    function (response) {
                        var availabledata = response.data;
                        //$("#ItemDefaultWarehouseID")
                        $("#WarehouseID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#WarehouseID").append(new Option(availabledata[i].text, availabledata[i].value));
                        }
                        $("#WarehouseID").select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


       var DropWarehousebinHD = {
           init: function (ctt) {
               $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseBinList" + "&id=" + ctt ,
                    function (response) {
                        var availabledata = response.data;
                        $("#WarehouseBinID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#WarehouseBinID option:gt(0)").remove();
                            $("#WarehouseBinID").append(new Option(availabledata[i].text, availabledata[i].value));

                            //

                        }
                        $("#WarehouseBinID").select2({
                            placeholder: "Select.. option"
                        });

                    });
            }
        }


       var DropEmployee = {
           init: function (ctt) {
                   $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "EmployeeList",
                    function (response) {
                        var availabledata = response.data;
                        $("#DriversId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#DriversId").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $("#DriversId").select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropInventoryItem = {
           init: function (ctt) {
                 $.get('@Url.Action("FetchDetailDropDown", "Purchase")?dropdesc=' + "InventoryItemList",
                    function (response) {
                        var availabledata = response.data;
                        $(ctt).empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


        var DropLedgerAccount = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "Purchase")?dropdesc=' + "InventoryAccountList",
                    function (response) {
                        var availabledata = response.data;
                        $(ctt).empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

         var DropRoleList = {
           init: function (ctt) {
                 $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "RoleList",
                    function (response) {
                        var availabledata = response.data;
                        $("#RoleID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#RoleID").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $("#RoleID").select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropTerminalList = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "TerminalList",
                    function (response) {
                        var availabledata = response.data;
                        $("#TerminalID").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#TerminalID").append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $("#TerminalID").select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        //Header Modal Ends
       var DropWarehouses = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseList",
                    function (response) {
                        var availabledata = response.data;
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }


       var DropWarehousebin = {
           init: function (ctt) {
                     $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "WarehouseBinList",
                    function (response) {
                        var availabledata = response.data;
                        for (var i = 0; i < availabledata.length; i++) {
                            $(ctt).append(new Option(availabledata[i].text, availabledata[i].value));

                        }
                        $(ctt).select2({
                            placeholder: "Select.. option"
                        });
                    });
            }
        }

        var DropInventoryAccount = {
           init: function (ctt) {
                $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "InventoryAccountList",
                    function (response) {
                        var availabledata = response.data;
                        $("#GLItemInventoryAccountId").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#GLItemInventoryAccountId").append(new Option(availabledata[i].text, availabledata[i].value));

                        }

                    });
            }
        }

        var DropVehicles = {
           init: function (ctt) {
                   $.get('@Url.Action("FetchDetailDropDown", "InventorySetup")?dropdesc=' + "VehicleList",
                    function (response) {
                        var availabledata = response.data;
                        $("#VehicleRegistration").empty();
                        for (var i = 0; i < availabledata.length; i++) {
                            $("#VehicleRegistration").append(new Option(availabledata[i].text, availabledata[i].value));

                        }

                    });
            }
        }

        // Begin: Script for Modal


        // Warehouse  Begins
        function warehouseClick(ctt) {
            $('#WarehouseModal').modal();
            $('#WarehouseModal').modal('show');
        }

        function warehouseSave() {
            var Warehouseid = $("#warehouseid").val();
            var WarehouseCode = $("#WarehouseCode").val();
            var WarehouseName = $("#WarehouseName").val();
            var WarehouseAddress1 = $("#WarehouseAddress1").val();

            if (WarehouseName == "") {
                swal("Enter an WarehouseName")
                return false;
            }

            if (Warehouseid == "") {
                warehouseid = "0";
            } else {
                warehouseid = $("#warehouseid").val();
            }

            $.getJSON("/inventory/inventorysetup/WarehouseSave/?Id=" + warehouseid + "&Code=" + WarehouseCode + "&Name=" + WarehouseName + "&Address1=" + WarehouseAddress1,
                function (data) {
                });
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Warehouse  Ends

        // Warehouse Bin Begins
        function warehouseBinClick(ctt) {
            $('#WarehouseBinModal').modal();
            $('#WarehouseBinModal').modal('show');
        }

        function warehouseBinSave() {
            var WarehouseBinId = $("#warehouseBinId").val();
            var WarehouseBinCode = $("#WarehouseBinIDCode").val();
            var WarehouseBinName = $("#WarehouseBinName").val();
            var WarehouseBinLocation = $("#WarehouseBinLocation").val();
            var WarehouseID = $("#BinWarehouseID").val();
            var IsActive = $("#IsActive").val();

            if (WarehouseBinName == "") {
                swal("Enter an warehouse bin name")
                return false;
            }

            if (WarehouseBinId == "") {
                WarehouseBinId = "0";
            } else {
                WarehouseBinId = $("#warehouseBinId").val();
            }

            if (IsActive == "") {
                IsActive = false;
            } else {
                IsActive = true;
            }

            $.getJSON("/inventory/inventorysetup/WarehouseBinSave/?Id=" + WarehouseBinId + "&Code=" + WarehouseBinCode + "&Location=" + WarehouseBinLocation + "&Name=" + WarehouseBinName + "&IsActive=" + IsActive + "&WarehouseID=" + WarehouseID,
                function (data) {
                });
            DropWarehousebin.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }

        // Warehouse Bin Ends

        // Ledger Account  Begins
        function ledgerAccountClick(ctt) {
            $('#LedgerAccountModal').modal();
            $('#LedgerAccountModal').modal('show');
        }

        function ledgerAccountSave() {
            var LedgerAccountId = $("#ledgerAccountId").val();
            var CGLAccountNumber = $("#CGLAccountNumber").val();
            var GLAccountName = $("#GLAccountName").val();
            var GLAccountDescription = $("#GLAccountDescription").val();
            var GLAccountType = $("#GLAccountType").val();

            if (GLAccountName == "") {
                swal("Enter GLAccountName")
                return false;
            }

            if (CGLAccountNumber == "") {
                swal("Enter CGLAccountNumber")
                return false;
            }

            if (LedgerAccountId == "") {
                LedgerAccountId = "0";
            } else {
                LedgerAccountId = $("#ledgerAccountId").val();
            }

            $.getJSON("/inventory/inventorysetup/LedgerAccountSave/?Id=" + LedgerAccountId + "&Number=" + CGLAccountNumber + "&Name=" + GLAccountName + "&Description=" + GLAccountDescription + "&Type=" + GLAccountType,
                function (data) {
                });
            DropInventoryAccount.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Ledger Account  Ends

        // Inventory Item  Begins
        function inventoryItemClick(ctt) {
            $('#InventoryItemModal').modal();
            $('#InventoryItemModal').modal('show');
        }

        function inventoryItemSave() {
            var InventoryItemId = $("#inventoryItemId").val();
            var ItemCode = $("#ItemCode").val();
            var ItemName = $("#ItemName").val();
            var ItemDescription = $("#ItemDescription").val();

            if (ItemName == "") {
                swal("Enter ItemName")
                return false;
            }

            if (ItemCode == "") {
                swal("Enter ItemCode")
                return false;
            }

            if (InventoryItemId == "") {
                InventoryItemId = "0";
            } else {
                InventoryItemId = $("#inventoryItemId").val();
            }

            $.getJSON("/inventory/inventorysetup/InventoryItemSave/?Id=" + InventoryItemId + "&Code=" + ItemCode + "&Name=" + ItemName + "&Description=" + ItemDescription,
                function (data) {
                });
            DropInventoryItem.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Inventory Item  Ends

        // Employee  Begins
        function employeeClick(ctt) {
            $('#EmployeeModal').modal();
            $('#EmployeeModal').modal('show');
        }

        function employeeSave() {
            var transactionDate = $("#TransactionDate").val();
            d = new Date(transactionDate);
            dt = d.getDate();
            mn = d.getMonth();
            mn++;
            yy = d.getFullYear();
            var vDate = dt + "/" + mn + "/" + yy;
            var EmployeeId = $("#employeeId").val();
            var FirstName = $("#FirstName").val();
            var LastName = $("#LastName").val();
            var EmployeeCode = $("#EmployeeCode").val();
            var RoleID = $("#RoleID").val();
            var TerminalID = $("#TerminalID").val();
            var IsActive = $("#IsActive").val();

            if (EmployeeCode == "") {
                swal("Enter Employee Code")
                return false;
            }

            if (FirstName == "") {
                swal("Enter First Name")
                return false;
            }

            if (LastName == "") {
                swal("Enter Last Name")
                return false;
            }

            if (EmployeeId == "") {
                EmployeeId = "0";
            } else {
                EmployeeId = $("#employeeId").val();
            }

            $.getJSON("/inventory/inventorysetup/EmployeeSave/?Id=" + EmployeeId + "&Code=" + EmployeeCode + "&FirstName=" + FirstName + "&LastName=" + LastName + "&IsActive=" + IsActive + "&RoleId=" + RoleID + "&TerminalId=" + TerminalID,
                function (data) {
                });
            DropInventoryItem.init();
            swal("Saved...")
            //setTimeout(function () {
            //    //location.reload();
            //    var currentURL = window.location.pathname + window.location.search + window.location.hash;
            //    window.location.href = currentURL;
            //}, 1000);
            //window.location.reload(true);
        }
         // Inventory Item  Ends
        // End: Script for Modal

    </script>

}