﻿@model SharedErp.Models.PurchaseHeaderDTO

<div class="tab-content">

    <div class="kt-form kt-form--label-right">
        <div class="kt-portlet__body">

            <div class="row">
                <input type="hidden" id="RouteId" />

                <div class="col-lg-3">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        @*<label class="col-lg-4 col-form-label" for="RouteType">Route Type:</label>
                    <div class="col-lg-8" style="padding-bottom:7px;">
                        @Html.DropDownListFor(m => m.RouteType, Html.GetEnumSelectList(typeof(SharedErp.Models.RouteType)), new { @id = "RouteType", @class = "form-control dropdown-select2" })
                    </div>*@


                        <label class="col-lg-4 col-form-label " for="VendorID">Vendor:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <div class="input-group date">
                                @*@Html.EditorFor(model => model.TerminalId, new { htmlAttributes = new { @class = "form-control" } })*@

                                @Html.DropDownListFor(model => model.VendorID, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Vendor", new { @class = "m-input-icon m-input-icon--right form-control dropdown-select2" })
                                @Html.ValidationMessageFor(model => model.VendorID)
                                <div class="input-group-append">
                                    <a onclick='javascript: warehouseClick()'>
                                        <span class=" btn-primary input-group-text" style="height: 38px; padding-left: 5px; width: 30px;color: white;">
                                            <i style="color:white;" class="la la-plus-circle"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                        <label class="col-lg-4 col-form-label" for="Reference">Reference:</label>
                        <div class="col-lg-8" style="padding-bottom:7px;">
                            <input type="text" asp-for="Reference" placeholder="Enter Reference" class="form-control" id="Reference" />
                            <div class="form-control-feedback"><span asp-validation-for="Reference"></span></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                        <label class="col-lg-2 col-form-label" for="PurchaseDate">Purchase Date:</label>
                        <div class="col-lg-4" style="padding-bottom:7px;">
                            <input type="datetime-local" asp-for="PurchaseDate" class="form-control" id="PurchaseDate" />
                            <div class="form-control-feedback"><span asp-validation-for="PurchaseDate"></span></div>
                        </div>

                        <label class="col-lg-2 col-form-label" for="PaymentDate">Payment Date:</label>
                        <div class="col-lg-4" style="padding-bottom:7px;">
                            <input type="datetime-local" asp-for="PaymentDate" class="form-control" id="PaymentDate" />
                            <div class="form-control-feedback"><span asp-validation-for="PaymentDate"></span></div>
                        </div>

                        <!--<label class="col-lg-2 col-form-label" for="PurchaseDate">Purchase Date:</label>
                        <div class="col-lg-4" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">-->
                                    @*date-format="D, dd MM yyyy"*@
                                    <!--<input type="text" class="form-control" asp-for="PurchaseDate" readonly id="kt_datepicker_1 PurchaseDate" />
                                    <div class="input-group-append">
                                        <span asp-validation-for="PurchaseDate" class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-feedback"><span asp-validation-for="PurchaseDate"></span></div>
                        </div>

                        <label class="col-lg-2 col-form-label" for="PaymentDate">Payment Date:</label>
                        <div class="col-lg-4" style="padding-bottom:7px;">
                            <div class="m-input-icon m-input-icon--right">

                                <div class="input-group date">-->
                                    @*date-format="D, dd MM yyyy"*@
                                    <!--<input type="text" class="form-control" asp-for="PaymentDate" readonly id="kt_datepicker_3 PaymentDate" />
                                    <div class="input-group-append">
                                        <span asp-validation-for="PaymentDate" class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-control-feedback"><span asp-validation-for="PaymentDate"></span></div>
                        </div>-->
                        @*<label class="col-lg-2 col-form-label" for="LoaderFee">Avail. Online:</label>


        <div class="col-lg-4" style="padding-bottom:7px;">
            @Html.DropDownListFor(m => m.AvailableOnline, Html.GetEnumSelectList(typeof(SharedErp.Models.IsActive)), new { @id = "AvailableOnline", @class = "form-control dropdown-select2" })
        </div>

        <label class="col-lg-2 col-form-label" for="LoaderFee">AvailAt. Terminal:</label>
        <div class="col-lg-4" style="padding-bottom:7px;">
            @Html.DropDownListFor(m => m.AvailableAtTerminal, Html.GetEnumSelectList(typeof(SharedErp.Models.IsActive)), new { @id = "AvailableAtTerminal", @class = "form-control dropdown-select2" })
        </div>*@


                    </div>
                </div>

            </div>

            <div class="kt-portlet kt-portlet--tabs">


                <div class="kt-portlet__body">


                    <div class="tab-content">
                        <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                            <div class="kt-form kt-form--label-right">
                                <!--begin:  Trips Rows -->

                                <div class="kt-form__body">
                                    <div class="kt-section kt-section--first" style="padding-top:0px; margin-top:0px;">
                                        <div class="kt-section__body" style="padding-top:0px; margin-top:0px;">
                                            <!-- begin:: Subheader -->
                                            <div class="kt-subheader " id="kt_subheader" style="padding-bottom:0px;margin-bottom:0px;">
                                                <div class="kt-subheader__wrapper" style="padding-top:0px; margin-top:0px;">

                                                </div>
                                                <div class="kt-subheader__main" style="padding-top:0px; margin-top:0px;">
                                                </div>
                                                <div class="kt-subheader__toolbar" style="padding-top:0px; margin-top:0px;">
                                                    <div class="kt-subheader__wrapper">

                                                        <h3 class="kt-subheader__title">
                                                            Details Information
                                                        </h3>

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- end:: Subheader -->
                                            <!--begin: Route Datatable -->
                                            <div class="kt-portlet__body" style="padding-top:0px; margin-top:0px;">

                                                <!--begin: Search Form -->
                                                <div class="kt-form kt-form--label-right  ">
                                                    <div class="row align-items-center">

                                                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                                                            <a href="#" class="btn btn-default kt-hidden">
                                                                <i class="la la-cart-plus"></i> New Order
                                                            </a>
                                                            @*<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>*@

                                                        </div>

                                                    </div>
                                                    <!-- begin: Datatable -->
                                                    <div class="m-portlet__body " style="padding: 3px;">
                                                        <hr width="100%" />
                                                        <div class="m-portlet__body" id="TextBoxesGroup">
                                                            <div class="form-group gridstyle m-form__group row" style="padding-bottom:0px; margin-bottom:0px;">
                                                                <div class="col-lg-2"> <label>Item: </label></div>
                                                                <div class="col-lg-2"> <label> Description: </label></div>
                                                                <div class="col-lg-1"> <label>Qty: </label></div>
                                                                <div class="col-lg-2"><label> Cost: </label></div>
                                                                <div class="col-lg-2"> <label>Credit Account: </label></div>
                                                                <div class="col-lg-2"><label>Tax: </label></div>
                                                                <div class="col-lg-1"><label>Inc Tax: </label></div>


                                                            </div>

                                                            <hr width="100%" style="padding-bottom: 0px; margin-bottom: 5px; padding-top:0px; margin-top:0px;" />


                                                        </div>



                                                    </div>
                                                    <!--end: Datatable -->

                                                </div>

                                                <!--end: Search Form -->
                                                <!--end: Route Datatable -->
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <!--End:  Trips Rows  -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


</div>

