<footer class="bg-black h-20 w-full py-6 mt-20">
    <div class="md:w-11/12 xl:w-10/12 mx-auto">
        <div class="flex justify-between text-white">
            <a [routerLink]="['/contact-us']" class="underline">Get in Touch</a>
            <p class="text-white">Copyright ©{{year}} Seclot </p>
        </div>
    </div>
</footer>