<!-- Modal -->
<div  aria-hidden="true" [className]="opened ? 'opened activation_modale': 'activation_modale'">
  <div class="activation_dialog rounded-2xl">
    <div class="modal-header">
      <h3 class="text-2xl">Activation Code</h3>
    </div>
    <mat-divider></mat-divider>
    <div
      class="bg-white shadow-2xl rounded-2xl p-10 flex flex-col justify-center items-center mt-10">
      <form (ngSubmit)="activate()" #activateForm="ngForm" class="form-content w-full md:w-8/12">
        <div class="flex mt-2 mb-6">
          <div class="flex justify-center items-center">
            <mat-icon aria-hidden="false" aria-label="email icon">email</mat-icon>
          </div>
          <div class="w-full">
            <input id="usernameOrEmail" type="email" [disabled]="true" readonly
              [(ngModel)]="activateAccount.usernameOrEmail" required name="usernameOrEmail" ngModel
              #usernameOrEmail="ngModel" placeholder="Email Address"
              class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
          </div>
        </div>
        <div class="flex mt-2 mb-6">
          <div class="flex justify-center items-center">
            <mat-icon aria-hidden="false" aria-label="verified_user icon">verified_user</mat-icon>
          </div>
          <div class="w-full">
            <input id="activationCode" type="text" [disabled]="loading" 
              [(ngModel)]="activateAccount.activationCode" required name="activationCode" ngModel
              #activationCode="ngModel" placeholder="Activation Code"
              class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
              <div *ngIf="activationCode.touched && activationCode.invalid" class="mt-2">
                <p class="text-red-500 tex-sm">Activation code is required</p>
            </div>
          </div>
        </div>
        <div class="flex justify-center items-center mb-10 mt-10">
          <button type="submit" [disabled]="loading"
            class="bg-black text-white py-6 px-10 rounded-full shadow-2xl md:w-8/12">
            Activate Account
          </button>
        </div>
      </form>
      <app-loader *ngIf="loading"></app-loader>
    </div>
  </div>
</div>
