.activation_modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .opened:before {
    display: block;
  }

  .activation_dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    text-align:center;
    position: fixed;
    left: 50%;
    top:50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 600px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
