<!-- mobile menu bar -->
<div class="bg-black text-gray-100 flex justify-between md:hidden">
    <!-- logo -->
    <a href="#" class="text-white flex items-center space-x-2 p-4">
        <img src="../../../assets/img/logo.png" alt="">
    </a>

    <!-- mobile menu button -->
    <button class="mobile-menu-button p-4 focus:outline-none focus:bg-gray-700" (click)="onClick()">
        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
</div>

<!-- sidebar -->
<div
    class="h-screen sidebar bg-black text-white w-64 space-y-12 py-7 px-2 absolute inset-y-0 left-0 z-10 transform -translate-x-full md:relative md:translate-x-0 transition duration-200 ease-in-out">

    <!-- logo -->
    <a href="#" class="text-white flex items-center space-x-2 px-4">
        <img src="../../../assets/img/logo.png" alt="">
    </a>

    <!-- nav -->
    <nav>
        <a [routerLink]="['/dashboard']"
            [ngClass]="{'text-black bg-white hover:bg-white': currentPage === currentPageRoute.DASHBOARD}"
            class="block flex py-2.5 px-4 rounded transition duration-200  mb-4 md:mb-6">
            <span class="mr-4"><img src="../../../assets/svg/home.svg" alt=""></span> Home
        </a>
        <a [routerLink]="['/completed-vetting']"
            [ngClass]="{'text-black bg-white': currentPage === currentPageRoute.COMPLETEDVETTING}"
            class="block flex py-2.5 px-4 rounded transition duration-200 mb-4 md:mb-6">
            <span><img class="mr-4" src="../../../assets/svg/completed.svg" alt=""></span> Completed Vetting
        </a>
        <a [routerLink]="['/pending-vetting']"
            [ngClass]="{'text-black bg-white hover:bg-white': currentPage === currentPageRoute.PENDINGVETTING}"    
            class="block flex py-2.5 px-4 rounded transition duration-200 mb-4 md:mb-6">
            <span><img class="mr-4" src="../../../assets/svg/pending.svg" alt=""></span> Pending Vetting
        </a>
        <a [routerLink]="['/vet-history']"
            [ngClass]="{'text-black bg-white hover:bg-white': currentPage === currentPageRoute.VETHISTORY}"
            class="block flex py-2.5 px-4 rounded transition duration-200 mb-4 md:mb-6">
            <span><img class="mr-4" src="../../../assets/svg/history.svg" alt=""></span> Vet History
        </a>
        <a [routerLink]="['/settings']"
        [ngClass]="{'text-black bg-white hover:bg-white': currentPage === currentPageRoute.SETTINGS}"
            class="block flex py-2.5 px-4 rounded transition duration-200 mb-6 md:mb-12">
            <span><img class="mr-4" src="../../../assets/svg/settings.svg" alt=""></span> Settings
        </a>
        <a (click)="logout()"
            class="block flex py-2.5 px-4 rounded transition duration-200 hover:shadow-2xl cursor-pointer">
            <span><img class="mr-4" src="../../../assets/svg/logout.svg" alt=""></span> Logout
        </a>
    </nav>
</div>