<div class="relative h-screen bg-black">
    <!-- float-items -->
    <div class="hidden md:block">
        <div class="absolute left-40 top-32">
            <button (click)="onClickNav()"><img src="../../../assets/svg/arrow-left.svg" alt="arrow"></button>
        </div>
        <div class="absolute left-0">
            <img class="bg-icons" src="../../../assets/svg/letter-L.svg" alt="icon">
        </div>
        <div class="absolute bottom-80 left-60">
            <img class="bg-icons" src="../../../assets/svg/letter-t.svg" alt="icon">
        </div>
        <div class="absolute right-0 bottom-80">
            <img src="../../../assets/svg/letter-e.svg" alt="icon">
        </div>
        <div class="absolute bottom-0 left-20">
            <img src="../../../assets/svg/letter-s.svg" alt="icon">
        </div>
        <div class="absolute right-20">
            <img src="../../../assets/svg/letter-o.svg" alt="icon">
        </div>
        <div class="absolute bottom-0 right-20">
            <img src="../../../assets/svg/letter-c.svg" alt="icon">
        </div>
    </div>
    <div class="absolute-sign-up-wrapper" *ngIf="!opened">
        <div class="mb-4 flex justify-center items-center">
            <img src="../../../assets/img/logo.png" alt="">
        </div>
        <div class="bg-gray-200 rounded-t-2xl flex flex-col justify-center items-center py-10">
            <p class="font-semibold mb-4 text-2xl">Create Account</p>
            <p class="text-gray-600"><span class="font-bold">What kind of account would</span> you like to create ?.</p>
        </div>
        <div class="bg-white rounded-t-2xl px-6 relative -top-5 py-10 form-div">
            <form (ngSubmit)="createAccount()" #signupForm="ngForm" class="form-content">
                <div class="flex mb-3">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-3" aria-hidden="false" aria-label="perm_identity icon">perm_identity
                        </mat-icon>
                    </div>
                    <div class="w-full">
                        <input id="customerFirstName" type="text" [(ngModel)]="account.customerFirstName"
                            name="customerFirstName" ngModel required name="customerFirstName" [disabled]="loading"
                            #customerFirstName="ngModel" placeholder="First Name"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="customerFirstName.touched && customerFirstName.invalid" class="mt-2">
                            <p class="text-red-500">First Name is required</p>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-3" aria-hidden="false" aria-label="perm_identity icon">perm_identity
                        </mat-icon>
                    </div>
                    <div class="w-full">
                        <input id="customerLastName" type="text" [(ngModel)]="account.customerLastName"
                            [disabled]="loading" name="customerLastName" ngModel required name="customerLastName"
                            #customerLastName="ngModel" placeholder="Last Name"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="customerLastName.touched && customerLastName.invalid" class="mt-2">
                            <p class="text-red-500">Last Name is required</p>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-3" aria-hidden="false" aria-label="email icon">email</mat-icon>
                    </div>
                    <div class="w-full">
                        <input id="customerEmail" type="email" [(ngModel)]="account.customerEmail" name="customerEmail"
                            [disabled]="loading" ngModel required name="customerEmail" #customerEmail="ngModel"
                            placeholder="Your Email"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="customerEmail.touched && customerEmail.invalid" class="mt-2">
                            <p class="text-red-500">Email is required</p>
                        </div>
                    </div>
                </div>
                <div class="flex mb-3">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-3" aria-hidden="false" aria-label="call icon">call</mat-icon>
                    </div>
                    <div class="w-full">
                        <input id="customerPhone" type="text" [(ngModel)]="account.customerPhone" name="customerPhone"
                            [disabled]="loading" ngModel required name="customerPhone" #customerPhone="ngModel"
                            placeholder="Phone Number"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="customerPhone.touched && customerPhone.invalid" class="mt-2">
                            <p class="text-red-500">Phone Number is required</p>
                        </div>
                    </div>
                </div>


                <div class="flex mb-3">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-3" aria-hidden="false" aria-label="password icon">password</mat-icon>
                    </div>
                    <div class="w-full">
                        <input id="password" type="password" [(ngModel)]="account.password" name="password" ngModel
                            [disabled]="loading" required name="password" #password="ngModel" placeholder="Password"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="password.touched && password.invalid" class="mt-2">
                            <p class="text-red-500">Password is required</p>
                        </div>
                    </div>
                </div>
                <div class="flex mb-4">
                    <div class="flex justify-center items-center">
                        <mat-icon class="mt-8" aria-hidden="false" aria-label="password icon">password</mat-icon>
                    </div>
                    <div class="w-full">
                        <input id="confirmPassword" type="password" [(ngModel)]="account.confirmPassword"
                            [disabled]="loading || !account.password" name="confirmPassword" ngModel required
                            name="confirmPassword" #confirmPassword="ngModel" placeholder="Confirm Password"
                            class="form-control bg-white py-4 px-10 rounded-full shadow-2xl border border-gray-500 outline-none w-full ml-2 mt-2">
                        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="mt-2">
                            <p class="text-red-500">Password is required</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <p class="text-gray-600">
                        <span class="block">
                            By clicking <span class="font-bold">register</span>, you agree to all statements in
                        </span>
                        <span class="block underline">
                            Terms and Conditions.
                        </span>
                    </p>
                </div>
                <div class="flex justify-center items-center mt-5 mb-2">
                    <button type="submit" [disabled]="loading"
                        class="bg-black text-white py-6 px-10 rounded-full shadow-2xl w-8/12">
                        Register
                    </button>
                </div>
                <div class="text-center">
                    <p class="underline text-gray-600"><a [routerLink]="['/login']" class="underline">Login</a></p>
                </div>
            </form>
            <app-loader *ngIf="loading"></app-loader>
        </div>      
    </div>
     <!-- Account modal -->
     <app-activation-modal [opened]="opened" [email]="email" *ngIf="opened"></app-activation-modal>
</div>