.absolute-sign-up-wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 500px;
    @media (max-width: 767px) {
        width: 90%;
    }
}

.form-div{
    height: 500px;
    overflow: auto;
}