﻿@model SharedErp.Areas.Security.Models.VetServiceDTO

<div class="tab-content">
    <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
        <div class="kt-form kt-form--label-right">
            <div class="kt-portlet__body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">

                            <label class="col-lg-4 col-form-label">Code</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code)
                            </div>

                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.Name)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>

               

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row form-group-marginless" style="margin-bottom:10px;">
                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.Description)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>

                            <label class="col-lg-4 col-form-label">@Html.DisplayNameFor(m => m.ToVetDaysCount)</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.ToVetDaysCount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ToVetDaysCount)
                            </div>


                            <label class="col-lg-4 col-form-label " for="CostInUnit">CostInUnit:</label>
                            <div class="col-lg-8" style="padding-bottom:7px;">
                                @Html.EditorFor(model => model.CostInUnit, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CostInUnit)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*<label><strong>Item Details:</strong>  </label>
                <hr width="100%" />*@


        </div>
    </div>



</div>
